/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Abunai Sisters: Koko & Mika*/
.list-table-data:hover ~ span#tagLinks5877:after, .list-table-data:hover ~ span#tagLinks5877:after{
content: "\A I watched the first episode in like 2014 or something \A absolutely atrocious \A I don't know if it's because I watched it on youtube and the uploader had to get past copyright but all their voices are hopped up on helium \A when they used their boobs as air bags WHAT THE FUCK LOL \A There's only like one joke every episode and it's usually shit \A Mr. Handsome will remain in my nightmares \A WHY DID EPISODE 9 ACTUALLY MAKE AIR COME OUT OF MY NOSE";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Adesugata Mahou no Sannin Musume*/
/*Mami, Emi, Persia: Adesugata Mahou no Sannin Musume*/
td.td1 span#tagLinks5246:after, td.td2 span#tagLinks5246:after{
content: "\A This OVA is a shitpost swear to god. Though after a certain point it just turns into a drama CD played over reused footage. \A These fansubbers really transliterated Persia's name as Pelsia \A Purely based on character design, Emi > Persia > Mami and Persia > Yuu > Mai \A When are Persia and Mai going to realize that Shou and Riki are the exact same person \A Persia must feel real spiteful about these how these other bitches get to have fun flitting around on stage while she has to save an entire other world from total destruction";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Ai (ONA)*/
td.td1 span#tagLinks32294:after, td.td2 span#tagLinks32294:after{
content: "\A Why is this on MAL lol. I guess this the only preview I'm getting for IDOLiSH7 season three.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Ai Sky Tree 21*/
td.td1 span#tagLinks32295:after, td.td2 span#tagLinks32295:after{
content: "\A Just a bunch of sick ass explosions basically. \A Someone stop me from making a 9/11 joke";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Amanchu!*/
td.td1 span#tagLinks31771:after, td.td2 span#tagLinks31771:after{
content: "\A I feel like the backgrounds could use some more style and flair to them. They look really generic and soulless, the greenery and OCEAN especially. It's just a single shade of blue, no gradients or reflections or anything... And what's with those shitty triangle leaves? \A God bless Itou Shizuka's voice hngggggg \A Eyelashes are the best part of the art style, lower lips are the worst \A Animal Crossing music fr \A The characters' chibi faces are all unique and match their personalities so perfectly. Even though they're used a lot, they're so cute it doesn't matter. \A It's a bit strange to complain about slow pacing in an iyashikei show, but this is kind of ridiculous :I Can't believe it took twelve damn episodes for Teko to get to go diving in the ocean... \A When this anime goes educational, sometimes it feels like I'm watching a show for actual babies. \A Teko's blush is overkill \A THEY LOOK DRY \A It's kind of novel to see a digital photo frame in an anime. \A \"大好き\" bomb dropped, yurifag mode engaged";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Anison Nippon*/
td.td1 span#tagLinks32289:after, td.td2 span#tagLinks32289:after{
content: "\A SICK AS FUCK \A PRETTY COLORS";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Another*/
td.td1 span#tagLinks11111:after, td.td2 span#tagLinks11111:after{
content: "\A Super boring and slow at points, tries to make it up with the end-of-episode hooks but they're mostly just lame because of how obvious they are. At the very least, the death scenes and characters' reactions to them are nicely animated and expressed, and I appreciate how the narrative structure(?) changes after major reveals and plot twists. \A Sakakibara has way more going on than what I expected, going into this show. He wants to go to a fine arts school, he likes horror novels, he can cook, he's actually proactive in solving the mystery - on the other hand, Misaki's unexpectedly boring and her reticent demeanor works against her. Like when she just slowly walks away from poeple trying to shank her, or how she doesn't admit that Reiko is the extra until the last episode... \A Are there doujinshi about either of these two jerking off in the middle of class? lmao \A Dream sequence in episode 7 is sick, wish the entire show was so aesthetic.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Another: Misaki Mei - Shizukani*/
td.td1 span#tagLinks20365:after, td.td2 span#tagLinks20365:after{
content: "\A Where is Sakakibara? Get this grill out of my face wwww";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Another: The Other - Inga*/
td.td1 span#tagLinks11701:after, td.td2 span#tagLinks11701:after{
content: "\A TWINCEST YURI TWINCEST YURI \A Mei's a biter and Misaki's a licker. This is very important information. \A Nevermind, this progressed into sexhara real fast ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Anta e*/
td.td1 span#tagLinks39890:after, td.td2 span#tagLinks39890:after{
content: "\A dem cgi sausage limbs \A This is anime, why is the live action footage more interesting to look at \A The theming is so fucking obvious that it's hilarious lmao, talk about unsubtle";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Ayakashi: Japanese Classic Horror*/
td.td1 span#tagLinks586:after, td.td2 span#tagLinks586:after{
content: "\A OP is hilariously out of place, ED is pretty good. \A Yotsuya Kaidan: I always appreciate live action footage in anime. Anyway, this is pretty middle-of-the-road 'shitty people doing shitty things.' Just watch Shiki and Old Boy. \A Tenshu Monogatari: Even though this is generic, I like the falconer and the Forgotten God. It's got some thematic intrigue but doesn't dig too deep into it. \"You could say I am a Forgotten Human\" is the best line in this entire show... but yeah, just watch Shiki. \A Bakeneko: Aesthetic brilliance, don't really care for the story though.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Ayanami Rei, Hajimete no Kuchibeni*/
td.td1 span#tagLinks43751:after, td.td2 span#tagLinks43751:after{
content: "\A Rei looks so pretty in this commercial but so scuffed on the box...";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
