/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Baccano!*/
td.td1 span#tagLinks2251:after, td.td2 span#tagLinks2251:after{
content: "\A Firo is a chad and has the only good dub voice \A will rewatch subbed, my club attention span is shit \A Rail Tracer kinda based tho 😳";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Baccano! Specials*/
td.td1 span#tagLinks3901:after, td.td2 span#tagLinks3901:after{
content: "\A will rewatch subbed";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Bakemono no Ko*/
td.td1 span#tagLinks28805:after, td.td2 span#tagLinks28805:after{
content: "\A Hosoda's such a furry lmao, respect. \A It's cool how by the time the movie is halfway through we've spent so much time in the 'beast world' that the 'human world' has become the 'unknown' which hero Kyuuta traverses into (though I don't really relate to him wanting to go back). \A Ichirouhiko's got such a cool and cute design, it's too bad he went batshit. THAT SHOT OF HIM RUNNING THROUGH THE CROWD LOL. \A Imo, this was too slow-paced and the climax (and themes) are boring and predictable as fuck.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Baraou no Souretsu*/
/*Requiem of the Rose King*/
td.td1 span#tagLinks42892:after, td.td2 span#tagLinks42892:after{
content: "\A Iwanami Yoshikazu moment \A I really want to like this anime but it just isn't trying with its aesthetic. There's plenty of ways they could make up for the limited animation through careful use of shot composition, color design, post-processing, symbolism, posing etc. to evoke a theatrical, stage play aesthetic, but right now all we're getting is boring still frames with the occasional artsy shot. Might pick up the manga someday for the dark tone, historical setting, intersex rep, and fujoshit, but this adaptation is just kinda meh and hard to get invested in.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Be-Boy Kidnapp'n Idol*/
td.td1 span#tagLinks2220:after, td.td2 span#tagLinks2220:after{
content: "\A 5'5\" 128lb femboy moment \A He wants the meat sauce \A Erotically slurping spaghetti out of his hand? He wants the noods \A Once the Kidnapp'n part of the title kicked in my interest in this OVA dropped immediately \A Jesus usually I like pasty-ass characters but that president dude is just disgusting lmao \A I wish they rode off into the sunset on a horse instead of a motorcycle, so I could call this Cowboy Be-Boy";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Black Lagoon*/
td.td1 span#tagLinks889:after, td.td2 span#tagLinks889:after{
content: "\A Everyone loves Revy but nobody told me about Rock :/ He's kind of fucking awesome and I love him.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Blue Giant*/
td.td1 span#tagLinks50183:after, td.td2 span#tagLinks50183:after{
content: "\A this is a gay anime about gays \A cgi sucks ass but what else do you expect from Nut. honestly ruins every shot it shows up in but at least they did the important parts in 2d, those parts are easily the best in the movie \A tbh I'm kind of tired of the whole injury/death to set off the third act thing lmao. I found some of the plot/character beats kind of annoying but meh. Artists do be retards \A Cried when their fan came up to the drummer to hell him that he was watching him improve from the beginning... to artists who draw to put their souls out into the world, is there anything more we want to hear than that someone was listening to us scream and shout into what we thought was the void? \A Anyway I'll rewatch this with not-ass audio quality someday. Kinda hard to pay attention to a music anime when it sounds like shit LMAO";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Bocchi the Rock*/
td.td1 span#tagLinks47917:after, td.td2 span#tagLinks47917:after{
content: "\A Weirdly enough this show ends up feeling like the overpositive slop Bocchi derides all of the time, leading to a very strange viewing experience. I think it's due to Bocchi's social anxiety being portrayed solely as a self-fulfilling internal struggle rather than the fault of a hostile and prejudiced society. Everyone is kind and open to her, the rest of the band accepts her flaws and supports and praises her, we even see that her classmates react positively to her wanting to talk to them. It's a show with an INCREDIBLY positive outlook on humanity, which makes all the jokes about Bocchi's anxiety feel less funny and relatable and more... idk, annoying? Like you want to shake her and shout \"WHY CAN'T YOU JUST BE NORMAL\" (and this is coming from someone whose life was/is exactly like Bocchi's if not even more pathetic) because the writing constantly reinforces that her worldview IS weird and unjustified and utilizes the disconnect between her mindset and reality for repetitive comedy rather than angst. By the halfway point the humor completely loses what little bite it had once it becomes clear that none of the characters actually have a problem with Bocchi's behavior, and the show and characters start to feel progressively more one-note, shallow, and inauthentic. I get so busy thinking about this weird mental tug-of-war game between Bocchi and the author wherein the writing needs you to feel bad for her but constantly undermines itself that I can't relax and enjoy the vibes and instead just zone out and get bored lmao. Very very 3.0+1.0. I much prefer K-On!, i7, Look Back, and Watamote, hell even Kisekoi by the same studio is a waaaaaaaaaay better show wherein an outgoing girl randomly jumps into a socially awkward person's life and helps them come out of their shell. \A In this sense it's almost hilarious that Kita became my favorite character despite Bocchi obviously pushing for relatability and me simping for Ryo even before watching it. Kita is the ultimate positive extrovert in a show that's so overwhelmingly positive and pro-extrovert. In this magical world where Bocchi's social anxiety is purely self-inflicted, who can blame the girl who is living her life to the fullest, blissfully unaware of any social malaise because it straight up doesn't exist? \A and yeah the animation is great, everybody knows this lol. even if the humor gets very unintentionally cringe at points, the chibified faces are consistently cute and funny. I will tho say that the bgm is kinda mindnumbingly personality-less. how did we get from hidamari to this";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Boku dake ga Inai Machi*/
/*ERASED*/
td.td1 span#tagLinks31043:after, td.td2 span#tagLinks31043:after{
content: "\A aka Are you Smarter than a Fifth Grader meets Mujaki no Rakuen \A Sound design gave me AIDS. The sound effects are all loud and obnoxious, the audio cues are so fucking unsubtle, Yuki Kajiura's BGM feels really out-of-place for some reason, and every character's voice is just downright weird. \A Also what the hell is up with that one high-pitched sound in the ED, my ears are in pain. At least the melody is okay when it's being used as a leitmotif? \A It's so weird whenever Satoru acts childish. Is he actually age-regressing or just really good at \"pretending\" to be retarded? I just can't believe that he's that good at acting when he's apparently dumber than fucking Kenya... More importantly, is he a pedophile or a hebephile 🤔 \A Satoru's mom stopped Kayo's mom from slapping the shit out of her kid and didn't report it? Wtf? \A This 29-year-old man got beat by a malnourished 10-year-old girl at Othello...... \A A CHOCOLATE BAR TORE MY MARRIAGE APART \A Why is Satoru so fucking bad at keeping his thoughts to himself. \A Satoru's manga premise sounds pretty cool, but I don't trust this guy to write anything of substance. Hey, that sounds familiar... \A MODOREEEEEEEEEE (Satoru doesn't even sound like he's yelling lmao) \A THAT FOOTPRINT LMFAO \A Why is Satoru's mom straight up beating her child on the head TWICE played as a joke in a show ABOUT DOMESTIC VIOLENCE. Were the sound effects just bass-boosted THEN too? Were they actually supposed to be LIGHT TAPS? WTF. \A Why. Why is the directing like this. Why does every clue come down to coloring something red or playing a loud ass fucking audio cue. Why doesn't the story bother with actually giving diagetic reasons why Satoru should suspect anyone other than pedo teacher man. Ultimately the show just comes off as fucking idiotic for trying to misdirect the viewer instead of the characters, and Satoru comes off as a fucking idiot for somehow being misdirected anyway.  \A Is it really that hard for a flexible young boy to slip out from under a seatbelt. \A Cool OP change? Cool voice swap post-coma? I guess he's not mentally 29 anymore? ...Okay? \A Named her kid Mirai... fucking Mirai... I see that we're continuing the cycle of abuse. \A Literally what is the functional purpose of building a gate on the rooftop of a hospital. Who would design this. Who would OK this decision. \A Man this show is gay. \A How did he throw the wheelchair that far. \A PLEASE tell me that he ends up writing Boku Dake ga Inai Machi in the future. PLEASE. JUST LET ME HAVE THIS \A This was a power of friendship show this entire time... \A Literally Life is Strange WHAT THE FUCK LMAO. CINEMATIC PARALLELS. KINO IMITATES KINO. \A I'm so fucking tired";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Boku dake ga Inai Machi Recaps*/
/*ERASED Recaps*/
td.td1 span#tagLinks35815:after, td.td2 span#tagLinks35815:after{
content: "\A Every time this show plays that goddamn sound effect my lifespan decreases by sixty years. Why am I still here? Just to suffer? ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Bokura no Live Kimi to no Life*/
td.td1 span#tagLinks9907:after, td.td2 span#tagLinks9907:after{
content: "\A Got fucking jumpscared by the appearance of a Love Live girl I couldn't recognize \A Pretty good character animation and CGI butt-waving I guess. But honestly I can't look at this with anything but cynicism lmao. Leave Eri alone she doesn't want to do this shit \A The music isn't my thing either";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Boushoku no Berserk*/
/*Berserk of Gluttony*/
td.td1 span#tagLinks53439:after, td.td2 span#tagLinks53439:after{
content: "\A Relatable MC tbh I must also be afflicted with the gluttony skill \A tbh not really of how this show has inherent talents/stats and the MC turns from a loser to a badass just by finding out the hidden side of his Gluttony Skill. Like that's like when a teen goes from ugly to beautiful after puberty. Sure, now they're treated better, but it doesn't change the societal prejudice that caused their suffering to begin with, the same prejudice that's still affecting other people who aren't as lucky. It's just an MC suddenly being able to benefit from the system that hated them before. If the story doesn't end with the MC using his powers for good to completely change society to be more equal then I don't really care. Also it was boring af. Roxy is such a sweetheart though I'm glad she wasn't revealed to be a hateful bitch after he got telepathy \A also Myne is hot and I only saw her in the intro LOL dark skin w/ white hair designs go hard";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Burn the Witch*/
td.td1 span#tagLinks41468:after, td.td2 span#tagLinks41468:after{
content: "\A Everyone say it with me: Fuck Balgo. \A Like I guess the main characters are pretty hot and Noel's eyefucking the audience 24/7 but this shit is boring as hell. Very nice visuals with thin, wispy lineart and bold, solid coloring, and the setting is mildly interesting, but I couldn't care less about the story and characters. Seriously, I want to get engrossed in this beautiful, magical world, but all I can think while watching this is, \"I don't care.\" \A At least we have lesbian Hayami Saori uwu \A Bruno's spray-painted magic circles are really cool. His moving skellyman mask too, but imagine if he was a mouthbreather. \A Crown Council more like Clown Council \A Real talk how did they get through that entire explosion-filled fight scene without any clothing damage. Once you see the first shot of Cinderella absolutely ass-blasting Reverse London and the reaction shot of the characters just... not really caring about how ANYONE might've died... It just feels like it's MEANT to be high tension but we're barely shown the actual effects of anything that happens, so who gives a shit?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
