/*TEMPLATE*/https://github.com/Partyu/Partyu.github.io/blob/main/MAL/tags/C.csshttps://github.com/Partyu/Partyu.github.io/blob/main/MAL/tags/C.css
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Chainsaw Man*/
td.td1 span#tagLinks44511:after, td.td2 span#tagLinks44511:after{
content: "The fights are always kind of boring and the worst part of whatever arc or episode they show up in, excluding Himeno vs Katana. They feel one-note and lacking in hype, like I was teleported from one show to a worse one where I'm forced to watch some shitty cgi of CSM beating the crap out of an ugly giant monster for five minutes instead of any of the interesting parts of the show. It especially ruined the Chainsaw vs Katana - since my default reaction to seeing Denji turn into Chainsaw Man is to tune out, seeing two Chainsaw Mans appear on screen made me tune out doubly as hard, so I can't even say if the fight choreography was any good because I was knocked out for all of it. The show as a whole was better than JJK but the fights were 10x worse \A After watching the compilation edit and Reze arc... season 1 was robbed. The style they went with is honestly incongruous with Chainsaw Man. It is overconcerned with fluidity and realism and ignores that the strength of the source material is its flexibility, how it is able to jump from heartfelt moments to tragic horror to cruel indifference to badass hype to absurd comedy at the drop of a hat. The way the manga mixes these tones together like a venn diagram of falling dominos imbues it with such a strong sense of reality that allows the narrative to feel authentic and spontaneous instead of designed - and this sense of reality is so much more believable and immersive than what any amount of on-model animation, or mundane routine scenes, or muted color mapping was able to achieve in this adaptation. The show is frustratingly reserved and rigid at the expense of emphasis, it paints over the entire experience in a solid color and never strays too far, and refuses to use the idiosyncrasies of animation and especially anime to its benefit. While what it's going for works amazingly in some scenes, it's such an illfitting slog for the rest, and I'd rather take Reze Arc's direction which works for its story 100% of the time over Season 1's direction which works maybe 30% of the time. (For god's sake, why are the fight scenes in CHAINSAW MAN a snore fest?? Thank fuck intl assassins arc won't be adapted this way, you'd be able to fall asleep to it.) (The closest comparison I can make is to Bunny Girl Senpai, which is honestly embarassing.) (The moment-to-moment pacing is also quite poor and could have possibly been saved by cutting one or two episodes, but it still wouldn't have fixed the rest of the issues, as evidenced by the compilation movies still being only adequate instead of exceptional.) \A also I haven't listened to it by itself but this is legitimately one of Kensuke Ushio's worst OSTs, I weep knowing that \"Edge of Chainsaw\" will be stuck playing in every season from now on";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Chikyuugai Shounen Shoujo*/
/*The Orbital Children*/
td.td1 span#tagLinks37914:after, td.td2 span#tagLinks37914:after{
content: "\A Not a fan of the character designs. SkyTuber chick is obnoxious and I don't really care for watching a bunch of kids make weird sounds as they float through space or whatever. I like the general design style of the setting but it's not enough to keep me invested when I don't care about the characters. Will try picking back up after I get around to watching Dennou Coil.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Christmas*/
td.td1 span#tagLinks17245:after, td.td2 span#tagLinks17245:after{
content: "\A Colors are too muddy, character design is just uncanny. Animation feels kinda lifeless, camera doesn't help either since it keeps fucking swinging around like it's got viewbobbing on. HER FACE LMAO.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Cool Devices*/
td.td1 span#tagLinks1339:after, td.td2 span#tagLinks1339:after{
content: "\A That ep1 OP is a complete fucking fever dream \A 1 > 9 > 2 > 11 > 8 > 4 > 6 > 7 > 10 > 5 > 3 \A Good tags, good character design, good voice acting. You can only choose two \A Ep2 actually predicted porn-addicted quote-unquote asexual coomers, lmao. Imagine only being able to get off to a girl giving you a blowjob by watching security camera footage of yourself as it's happening, LMAO \A Jesus the way they draw vaginas in ep11 makes them look like flesh wounds \A STOP WITH THE ENEMA SCENES \A STOP WITH THE OMORASHI SCENES";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Cowboy Bebop: Yose Atsume Blues*/
/*Cowboy Bebop Session XX*/
td.td1 span#tagLinks4037:after, td.td2 span#tagLinks4037:after{
content: "\A It's so weird to listen to this. I'm so used to the English dub. The audio quality doesn't help either lol. \A This is actually pretty good. It's just the characters giving monologues on random shit, but since you know it's them, it adds even more to their characterization.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Crystal Clear*/
td.td1 span#tagLinks36136:after, td.td2 span#tagLinks36136:after{
content: "\A That is one cute cat \A Nice smoke animation";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
