/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Chainsaw Man*/
td.td1 span#tagLinks44511:after, td.td2 span#tagLinks44511:after{
content: "I love Makima and Power, Makima especially because I can just project Akashi onto her. I don't really care for the characters outside of them, but none of them are like offensively bad, just kinda there. It's a shame because you can tell that the anime is trying to give them some emotional depth, but their default method of doing so is flashbacks which feel more obligatory than exploratory. Waaay too obvious. \A The fights are always kind of boring and the worst part of whatever arc or episode they show up in, excluding Himeno sacrificing her limbs one by one for Aki (except that one downwards shot of her losing her legs, because ngl I found it kind of ugly and it totally took me out of the scene when it showed up). They feel one-note and lacking in hype, like I was teleported from one show to a worse one where I'm forced to watch some shitty cgi of CSM beating the crap out of an ugly giant monster for five minutes instead of any of the interesting parts of the show. Especially in the Eternity Devil arc, which started out unnerving and cool, but then quickly turned flaccid and generic like the author ran out of visual and narrative ideas before finally devolving into yet another CSM vs. big boi punchy punch fight. Not even Chainsaw Man vs. Katana Man was saved from this - I guess it's kind of like if the final arc boss of One Punch Man s1 was also a bald guy but in a green and blue outfit instead of red and yellow, and he kicks people to death instead of punching them. Since my default reaction to seeing Denji turn into Chainsaw Man is to tune out, seeing two Chainsaw Mans appear on screen made me tune out doubly as hard, so I can't even say if the fight choreography was any good (It probably was? I remember seeing them stand on a train? That's cool I guess) because I was basically mentally knocked out for all of it. The show as a whole was better than JJK but the fights were 10x worse \A I  get the complaints about it looking dull compared to the manga, but I guess it's going for that film vibe and I can appreciate the anime going for a feeling that takes advantage of both film and anime being audiovisual mediums, not sure how to word this.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Chikyuugai Shounen Shoujo*/
/*The Orbital Children*/
td.td1 span#tagLinks37914:after, td.td2 span#tagLinks37914:after{
content: "\A Not a fan of the character designs. SkyTuber chick is obnoxious and I don't really care for watching a bunch of kids make weird sounds as they float through space or whatever. I like the general design style of the setting but it's not enough to keep me invested when I don't care about the characters. Will try picking back up after I get around to watching Dennou Coil.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Christmas*/
td.td1 span#tagLinks17245:after, td.td2 span#tagLinks17245:after{
content: "\A Colors are too muddy, character design is just uncanny. Animation feels kinda lifeless, camera doesn't help either since it keeps fucking swinging around like it's got viewbobbing on. HER FACE LMAO.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Cool Devices*/
td.td1 span#tagLinks1339:after, td.td2 span#tagLinks1339:after{
content: "\A That ep1 OP is a complete fucking fever dream \A 1 > 9 > 2 > 11 > 8 > 4 > 6 > 7 > 10 > 5 > 3 \A Good tags, good character design, good voice acting. You can only choose two \A Ep2 actually predicted porn-addicted quote-unquote asexual coomers, lmao. Imagine only being able to get off to a girl giving you a blowjob by watching security camera footage of yourself as it's happening, LMAO \A Jesus the way they draw vaginas in ep11 makes them look like flesh wounds \A STOP WITH THE ENEMA SCENES \A STOP WITH THE OMORASHI SCENES";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Cowboy Bebop: Yose Atsume Blues*/
/*Cowboy Bebop Session XX*/
td.td1 span#tagLinks4037:after, td.td2 span#tagLinks4037:after{
content: "\A It's so weird to listen to this. I'm so used to the English dub. The audio quality doesn't help either lol. \A This is actually pretty good. It's just the characters giving monologues on random shit, but since you know it's them, it adds even more to their characterization.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Crystal Clear*/
td.td1 span#tagLinks36136:after, td.td2 span#tagLinks36136:after{
content: "\A That is one cute cat \A Nice smoke animation";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
