/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Egao*/
td.td1 span#tagLinks2953:after, td.td2 span#tagLinks2953:after{
content: "\A Boring lol. Idk if this YouTube video's just scuffed, but it's difficult to see what's going on with that overlay.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Eizouken ni wa Te wo Dasu na!*/
td.td1 span#tagLinks39792:after, td.td2 span#tagLinks39792:after{
content: "\A Watching this anime is torture because it just reminds me of how badly I fucked up my life by going to college and not pursuing my passions \A The music truly kills this show. It's especially sad because they really had the opportunity to make the soundtrack dynamic and interesting, but instead it's the kind of trite drivel that gets grating after just two episodes. \A For as much as I like ep4, the viewing scene fell flat. I don't like how they showed a romanticized version of the animation rather than the actual product. Plus idk, this shit's more fun and real when it hits the boogie and not the pop. \A For a show about celebrating animation, the character designs and the way they're animated are strangely stiff and bobbleheady. You'd think that they'd use the designs to their benefit by focusing on super dynamic animation, but outside of the in-show animations and animatics it's just as lifeless as anything else. It really makes it hard to get invested in what the characters are making when the way they themselves move and react is so boring and lacking in expression. \A I think the subject matter being something I'm completely interested in just makes it more disappointing that this anime fell completely short of my expectations. I'd rather just watch Shirobako or any other Masaaki Yuasa joint.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Evangelion: 3.0+1.0 Thrice Upon a Time*/
td.td1 span#tagLinks3786:after, td.td2 span#tagLinks3786:after{
content: "\A So fucking overkill \A I can't think of a more boring way to start off a movie than with a cgi Mari fight scene \A I love the color red thank u anno kantoku \A Toji got cucked hard out of his pilot status and I'm still sad about it to this day \A Eva-shipping kills the soul, and yet I am embroiled in it \A I wish I could succumb to my yurifag instincts but Mari disgusts me on every possible level \A The reason I give more of a shit about Kawoshin in the Rebuilds is because this product is literally worthless to me outside of wish fulfillment and eye candy. I've said it time and time again, when I start to care about shipping it means the work itself has failed me. 3.33 already ruined the thematic significance of Kaworu's entire existence by having him get killed by some stupid fucking dog collar instead of Shinji's own hands, so 3.0+1.0 might as well go all out and have these poor kids retire to the Bahamas and suck face while handholding. But I didn't even get that... \A Ayanami Rei farming simulator and Shinji Ikari fishing simulator when \A Incredible Harry Potter epilogue vibes. When did Evangelion get so unbased \A Megumi Ogata's gasps sound really phoned-in for some reason \A My eyes roll into the back of my head whenever a fight scene starts. I hate this cgi garbage, it's literally incomprehensible and full of useless visual noise. Gendo vs. Shinji is actual trash and GNR is a pathetic imitation. This reeks of \"BUT I WAS JUST PRETENDING TO BE RETARDED\" \A FNAF Custom Night movie \A I sure am glad that Anno's auteurism has produced a work whose only merit comes from standing on the shoulders of NGE, even as it constantly shits on it for the sake of a meta fairytale ending. Bravo Anno, you've made your autobiography. Save some manic pixie pussy for the rest of us geeks and freaks, I'm stuck in the mindset of a depressed 14-year-old and it feels damn good. \A At least I finally got to see Misato's face, goodbye Rebuilds, I'm off to rewatch EoE \A btw repeat > One Last Kiss LUL";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Evangelion Shito, Hakata Shuurai*/
td.td1 span#tagLinks41030:after, td.td2 span#tagLinks41030:after{
content: "\A Decisive Battle is such a fucking banger \A This is really fucking cool \A Wish we could get these for more of the Angels. Just maybe not the mindrape one lol.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
