/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Fantasy Bishoujo Juniku Ojisan to*/
/*Life with an Ordinary Guy Who Reincarnated into a Total Fantasy Knockout*/
td.td1 span#tagLinks48997:after, td.td2 span#tagLinks48997:after{
content: "\A Based homoplatonic mgtow agp bi anime \A On my hands and knees BEGGING that they actually get together within the runtime of this anime";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Flip Flappers*/
td.td1 span#tagLinks32979:after, td.td2 span#tagLinks32979:after{
content: "\A Best girl is Papikana, I think? \A I want to like this, I really do. But outside of its production value and sheer creativity it's mediocre as fuck. The second half of this show is built on the shaky foundation of Papika's and Cocona's relationship, which doesn't really get any farther than \"You'll be invested in this, they're cute lesbians right? You like cute lesbians right??\" Their dynamicis boring at best and creepy at worst... Even episode 7 just ends up reminding me of how many ways their relationship could have been made more interesting...";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Fresh Precure!*/
td.td1 span#tagLinks5684:after, td.td2 span#tagLinks5684:after{
content: "\A Precure continuing its streak of backgrounds which are clearly meant to have a fairytale/picturebook aesthetic when the color design does jackshit to support it \A I miss when the Precure held hands and only had one stock footage attack. So over these fucking boring and unbearably LONG magic attacks. \A Buki is moe :3 \A ED1 is actually a bop \A Tbh I hate how Chiffon is handled. Feels like the show is just pushing some weird maternal childcare agenda on its young, impressionable audience of little girls, what with the relationship between Miki/the Precures and Chiffon literally likened to that of a mother and her child. At least Chiffon is techinically adopted ig. \A In many ways, Fresh differs from the pre-established Precure formula. Sometimes it really fucks with my suspension of disbelief, but it also leads to some really great theming, so all in all I appreciate it. \A Eas is Kaoru and Michiru perfected. \A All of the villains are so fucking good and I love their chemistry";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Fresh Precure! Movie: Omocha no Kuni wa Himitsu ga Ippai!?*/
td.td1 span#tagLinks6527:after, td.td2 span#tagLinks6527:after{
content: "\A I really wish this movie took place after the main series so we got to see more character moments concerning the girls' Precure reveal \A The jokes actually land \A Good to know that Buki is literally Fluttershy and literally moe :3 \A Seeing Setsuna fight with her teleportation powers and Love fight hand-to-hand is sick as fuck. I love how the karate toy is animated too. Even if their fights feel like a pointless diversion. \A The final fight music goes hard \A Even if it isn't as good as the show itself, this movie at least emotionally links the main character with the central conflict, which is more than I can say for most other Precure films. Still kinda disappointing though ngl, especially since they gave up and used CGI for a really important scene. \A Toymajin is fucking adorable and I'm actually crying";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Fune wo Amu*/
/*lol what*/
td.td1 span#tagLinks32948:after, td.td2 span#tagLinks32948:after{
content: "\A Thanks Netflix for making me put this on hold for four years \A Commie subs kinda wack ngl, too heavy on the localization. Nice OP colors though \A Who was the genius who cast Takahiro Sakurai and Hiroshi Kamiya as the two main characters because I just want to give them a firm handshake and say thank you \A Seeing Micchan's glasses fog up when he eats hot food and him having to wipe them is :O This series has really great character animation and attention to detail. \A I really like the art style of the post-episode scenes. It reminds me of White Album. \A I love how messy and tightly-packed so many of the sets are. \A Just like Bakuman, I really wish this show went full-in on the dictionary shit instead of putting so much focus on romance. I just wanna see Micchan and Nishioka talk endlessly about words and definitions and etymology. But even though I am a bit disappointed with where the show puts its focus, I do enjoy how both of their relationships are handled fairly maturely. \A Episode 7 is gold all the way through. Nishioka straight pimpin' and a baller, as to be expected from a Kamiyan kyara \A Did they just timeskip more years than this show has episodes? While I understand why it was necessary in order to wrap up the series, and they handled it pretty well all things considered, I wish they hadn't needed it.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Fune wo Amu: Yokoku*/
td.td1 span#tagLinks40014:after, td.td2 span#tagLinks40014:after{
content: "\A These chibi designs aren't really cute. \A While these are technically \"previews,\" I like that they're just random conversations between the cast that have nothing to do with the following episode. Just more characterization.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Futsal Boys!!!!!*/
td.td1 span#tagLinks40488:after, td.td2 span#tagLinks40488:after{
content: "\A //character leaps twenty feet into the air and yells out a dumb attack name// Yep, this is a gacha game anime alright \A These backgrounds are as saturated as toxic waste \A The sound of newbie voice actors rings in my ears \A For a sports anime this show is unbelievably lacking in hype. Even Days was better than this. \A Always a bit of a red flag when a show dumps a ton of characters in the first episode but manages to make none of them interesting. \A I am not sitting through a cour of anime to be dripfed content featuring that super OP heterochromatic character with a superiority complex when I can just reread Akashi fanfiction lmfao \A Really wish the post-processing and detailing was as good as that one key image, I might've given this another episode or too if they were.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
