/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Gin no Saji [Silver Spoon]*/
td.td1 span#tagLinks16918:after, td.td2 span#tagLinks16918:after{
content: "\A I can't stand the main character's hoodie-under-uniform look \A A lot of the comedy is way too predictable. Like the way some scenes are framed just makes it TOO obvious what the punchline is going to be, so by the time the scene finally arrives at it, it's so boring that it completely falls flat.\A I appreciate the food porn, but it just makes me all the more sad for my raw egg intolerance.............. \A OP and ED are annoying and sound like hick shit \A Mikage looks like an AssClass character so I don't trust her \A I dig how unique this show's focus and themes are. It's got the same appeal as a nyuugyuu life. But the human characters are all kind of boring.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Girl Electric*/
td.td1 span#tagLinks35554:after, td.td2 span#tagLinks35554:after{
content: "\A Just kids being kids \A I'm just glad Rapparu's getting all this recognition :') This video is aesthetic as fuck and the music ain't too shabby either";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Gunnm*/
/*Battle Angel Alita*/
td.td1 span#tagLinks1016:after, td.td2 span#tagLinks1016:after{
content: "\A The entire scene between Ido and Gally where Gally explains how she wants to be a hunter-warrior because it's the only way she'll feel alive is so good, and it's made even better by Ido and Gally progressing into a sort of mentor-apprentice relationship in the span of like ten minutes. Cute as fuck. \A Chiren's voiced by Koyama Mami, she gives me Minky Momo PTSD. I love her hairstyle though. It's the perfect mix of messy and elegant. \A \"Spine theft\" is baller as fuck and I love it. \A OMG. Gally just straight up confessing to Yugo, kabedoning him so hard she shatters the window behind him, and Yugo replying, \"I guess we're partners in crime now,\" with Gally following up with a kiss, IS SO FUCKING HOT. Yugo and Gally's scenes together are so good. From their first meeting, to Gally straight up feeding her blood into his arteries to save him from death... GODDAMMIT ALL TO HELL. WHY DID IT HAVE TO BE LIKE THIS";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Gunnm 3D Special*/
td.td1 span#tagLinks17659:after, td.td2 span#tagLinks17659:after{
content: "\A Uhh, I feel like this is probably one of those things that the live action movie actually did better lul. \A The music is so bad it's fucking amazing lmao";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
