/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Haikyuu!! Movie 1: Owari to Hajimari*/
td.td1 span#tagLinks29755:after, td.td2 span#tagLinks29755:after{
content: "\A Aight, it's been over four years since I've watched Haikyuu. Obviously it's because it's a recap movie, but none of the emotional beats really hit at all. \A Some other misc notes: Hinata's voice is annoying. Kageyama reminds me of Noel from Burn the Witch. I still don't like Tsuki, lmao. Yamaguchi is discount Furihata, and since his pinch serve isn't in this movie who really gives a shit about him lmao. Nishinoya's angry face is edgy and I can't take it seriously. I can't believe they cast Kamiyan as some rando faculty advisor... The number of times they beat in that Crow vs Cat imagery, like seriously, get some new visual symbolism pls. And I've always hated the way the netting goes transparent, as if they think we can't see the characters' faces and expressions if there are a couple of straight lines drawn over them. \A That slice-of-life scene in the dark hallway at night... Please, I just want the Kuroko no Basuke Replace novels to be animated. PLEASE, I WANT TO SEE AKASHI AGAIN ;;;-;;;";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Haikyuu!! Movie 2: Shousha to Haisha*/
td.td1 span#tagLinks30364:after, td.td2 span#tagLinks30364:after{
content: "\A vs. Dateko was as boring as the first movie (ignoring the epic chanting), but vs. Aoba Jousai was surprisingly entertaining. It's fun to see how fast the characters and teams adapt to each others' tactics. I like Sugawara and Kageyama's foiling and I still love the unexpected loss. Though Oikawa as annoying and dislikeable as ever lmao. \A This movie, I really started noticing the music. It's really good! I feel like I never noticed it while watching the series lol.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Haikyuu!! Movie 3: Sainou to Sense*/
td.td1 span#tagLinks35110:after, td.td2 span#tagLinks35110:after{
content: "\A Covers the best season :D though the interpersonal drama is more cringe than I remember it being LMAO \A What the hell is that second Seijo chant \A \"He may be Mr. Refreshing, but his serves aren't refreshing at all,\" WHAT THE HELL IS THIS LINE LOL \A God the transparent netting looks so fucking stupid ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Haikyuu!! Movie 4: Concept no Tatakai*/
td.td1 span#tagLinks35111:after, td.td2 span#tagLinks35111:after{
content: "\A Shiratorizawa is a boring school and Ushijima doesn't have any charisma... well, that goes for most Haikyuu characters, lol. \A I do like the focus on the audience and the juxtaposition of Karasuno's newly-put-together cheers compared to Shiratorizawa's practiced chants. And the character animation for the starters' introduction was cool. \A Bro I've HAD it with the crow imagery, it's so fucking lame and they keep shoving it in our faces, I don't care.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hakozume: Kouban Joshi no Gyakushuu*/
td.td1 span#tagLinks49519:after, td.td2 span#tagLinks49519:after{
content: "\A I really wish I could get into this because I feel like the main characters' vitriolic anger towards criminals and rulebreakers has the potential to be entertaining, but this show just isn't very funny or engaging. Just watch Patlabor or something \A Fuji-san is the most based type of feminist and also literally me. Her running gag of constantly cussing out people under her breath is the best joke in the show purely because of how relatable it is. I wish she was in a better anime. \A The \"wholesome\" and \"dramatic\" moments are so phoned in and flat that I have a hard time believing they aren't jokes";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hanarashi*/
td.td1 span#tagLinks56790:after, td.td2 span#tagLinks56790:after{
content: "\A I think this is confirmation I don't like Eve's voice because as soon as he started singing I completely lost interest. At least the aesthetic is cool so I can see myself plausibly enjoying it if I mute and put different BGM over it. Something by Shimotsuki Haruka maybe LOL";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hand Shakers*/
td.td1 span#tagLinks32981:after, td.td2 span#tagLinks32981:after{
content: "\A Rebellion wishes it looked this good \A I unironically love the aesthetic of this show no cap. It just needs some reworked character designs and color correction, and more intentionality behind the \"photo collage\" style to look fantastic. \A What is the symbolic significance of the shumai \A We got yaoi-bait Hand Shakers, yuri-bait Hand Shakers plz \A Girlboss best girl \A I am incapable of parsing Makihara's voice as anything other than \"AMAZING\" \A Dub rewatch when?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hatsune Miku x Tetsuya Nomura*/
td.td1 span#tagLinks28439:after, td.td2 span#tagLinks28439:after{
content: "\A What's with the Statue of Liberty \A Colored eyebrows make sense but in this super-realistic art style they kind of freak me out";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Heartcatch Precure!*/
td.td1 span#tagLinks7645:after, td.td2 span#tagLinks7645:after{
content: "\A The best full-series entry in the Precure franchise so far, only beaten by the Yes! 5 movie due to its consistency. \A I love all four of the characters. Tsubomi's character growth by the finale is fantastic, Erika's consistently entertaining, Itsuki's a great take on a conflicted crossdresser character, and Yuri's badass elegance and tragic story carry the show through its entire second half. \A Sasorina+Kumojacky+Cobraja could be better though, they weren't as interesting or fun both individually and together like the Fresh Precure! four. Though the epilogue shots definitely won me over. At the very least we have Dark Precure, who, exactly like her counterpart Cure Moonlight, is a perfect combination of badassery and tragedy. \A THIS ANIMATION'S GONNA MAKE ME COOOOOOM \A Finale arc was nigh perfect from start to finish, four episodes of pure sublimity. \A While I wish the show's monster-of-the-week episodes were stronger, it really surprised me with how it handled some conflicts differently from (read: better than) past Precure series. Overall, they were an improvement, but I still wish they even came close to the quality of the finale. \A This show legit has deep lore and it's fucking awesome. I love how much it calls back to backstory elements, it truly makes the story feel like it's taking place on a grand and epic scale. \A TLDR TAKE THE MAHOU SHOUJO PILL.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Heartcatch Precure! Movie: Hana no Miyako de Fashion Show... Desu ka!?*/
td.td1 span#tagLinks9288:after, td.td2 span#tagLinks9288:after{
content: "\A Olivier is cute and I want to see more of his and Salamander's journies across the world \A Ngl it made me tear up a bit, but I wish we got more action in the final fight (Blossom and Marine vs. Olivier, Sunshine and Moonlight vs. Salamander, and all four Precures vs. dragon!Salamander). The dragon fight was particularly disappointing, given how quickly it ended - I was expecting a second round of hand-to-hand and powerups after Super Silhouette, but I guess that was enough. It didn't give me the same epic feeling as the finale of the show, and neither was it as emotionally poignant. I mean, I think being locked up for centuries is a good enough reason to want to destroy the world lmao. \A Glad the movie had a focus on our pre-established main characters and lore, rather than focusing on a whole other world as past Precure movies were ought to do. I've always loved Heartcatch's handling of lore, so seeing it expanded on in this movie was a pleasant surprise!";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Higashi no Eden: Air Communication*/
/*Eden of the East: Air Communication*/
/*Higashi no Eden Recap*/
/*Eden of the East Recap*/
td.td1 span#tagLinks6927:after, td.td2 span#tagLinks6927:after{
content: "\A Having the narrating characters constantly interject over the story gets annoying about twenty minutes in. They keep explaining things or questioning things that would naturally get explained by the plot later on, all while obnoxiously talking over conversations. I guess I should just rewatch the show... >_> \A I love the style of the background art";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hige wo Soru. Soshite Joshikousei wo Hirou.*/
td.td1 span#tagLinks40938:after, td.td2 span#tagLinks40938:after{
content: "\A Started watching cuz the GSC Sayu figure is cute and I wanted to make a diorama, but this is too fucking anime even for me \A I really dislike Sayu's voice and the background music sounds like a stock h-game soundtrack \A The art is ugly af and really does a shit job of conveying what charm the characters might possibly have \A Just watch NHK instead bruh";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hikikomari Kyuuketsuki no Monmon*/
/*The Vexations of a Shut-In Vampire Princess*/
td.td1 span#tagLinks54103:after, td.td2 span#tagLinks54103:after{
content: "\A A lot of talk and no show, which I guess is kind of the point of her character but it's just not interesting to watch \A This army would definitely be raping and pillaging in another universe. I guess the whole Dark Core thing is to prevent her from being a war criminal and having the blood of thousands of people on her hands. That line at the end sort of makes me think that it'll have some sort of \"bread and circuses\" social commentary, but with no guarantee that they'll delve into it on more than a surface level I don't really want to keep watching \A Vampires aren't cool when everyone is immortal and there are 500 vampires in one room and the main character is only 15. She needs to be 100 at least. It's such a shame because I wanna see this kuudere maid fawn over this adorable vampire loli >_< but that's just not enough \A \A Empress is creepy and annoying. I have really come to dislike whenever anime write women with these crude \"haha boobs I love boobs haha I'm a pervert just like you, dear viewer hahaha\" lines. Mf I'm a woman who loves boobs, doesn't mean I'm gonna sexually harass someone to their face. jesus \A It's absolutely adorable that she has a blahaj";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hime Chen! Otogi Chikku Idol Lilpri*/
td.td1 span#tagLinks8206:after, td.td2 span#tagLinks8206:after{
content: "\A Gave the initial impression of just being a Minky Momo/Yousei Persia/Fancy Lala/Kirarin Revolution/Full Moon ripoff, but becomes its own thing by the end, especially with the inclusion of elements like the Fairytale Holes and Wish. Stockholm Syndrome'd me hard. \A Though I think what really sets this show apart is the presence of three main characters. They're legitimately adorable. Even though the show's presentation isn't mind-blowingly amazing like Heartcatch Precure, the animators and newbie voice actresses do a great job of selling how fucking cute they are. \A I love how much of an idiot Reira is, Natsuki's surprisingly charming at times, and Wish is actually a great character. Ringo's there too I guess :P Her naivety is pretty sweet. \A TL;DR cute kids anime";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hinamatsuri*/
td.td1 span#tagLinks36296:after, td.td2 span#tagLinks36296:after{
content: "\A Hondo Kaede has such a pretty voice! \A The delicate linework combined with the strangely detailed and grounded animation works wonders to legitimize the unpredictable narrative and breakneck tone shifts as real and entirely sincere. Also this is legit my mom's favorite anime, she thinks it's a 10/10 lol.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hisone to Maso-tan Digest Douga*/
td.td1 span#tagLinks39448:after, td.td2 span#tagLinks39448:after{
content: "\A Pretty interesting 'animation' style. Aoki Toshinao's art is very cute and it's funny that the same dude narrates and voices everything.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hitotsubu ni Kawaranu Ai wo Komete*/
td.td1 span#tagLinks18953:after, td.td2 span#tagLinks18953:after{
content: "\A Voice acting isn't anime enough lol \A I hope that kid's adopted \A Mom has schizophrenia";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*HORIZON feat. Hatsune Miku*/
td.td1 span#tagLinks19185:after, td.td2 span#tagLinks19185:after{
content: "\A That animation lmfao \A HER HAIR IS CLIPPING THROUGH THE CHAIR \A This rig is absolutely fucked \A The way her face snaps into every expression... \A Miku is too cute to pull off the OL look tbh ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Houseki no Kuni*/
/*ONA*/
/*PV*/
td.td1 span#tagLinks19581:after, td.td2 span#tagLinks19581:after{
content: "\A tbh this could use some thinner linework and more detailed facial expressions";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
