/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Haikyuu!! Movie 1: Owari to Hajimari*/
td.td1 span#tagLinks29755:after, td.td2 span#tagLinks29755:after{
content: "\A Aight, it's been over four years since I've watched Haikyuu. Obviously it's because it's a recap movie, but none of the emotional beats really hit at all. \A Some other misc notes: Hinata's voice is annoying. Kageyama reminds me of Noel from Burn the Witch. I still don't like Tsuki, lmao. Yamaguchi is discount Furihata, and since his pinch serve isn't in this movie who really gives a shit about him lmao. Nishinoya's angry face is edgy and I can't take it seriously. I can't believe they cast Kamiyan as some rando faculty advisor... The number of times they beat in that Crow vs Cat imagery, like seriously, get some new visual symbolism pls. And I've always hated the way the netting goes transparent, as if they think we can't see the characters' faces and expressions if there are a couple of straight lines drawn over them. \A That slice-of-life scene in the dark hallway at night... Please, I just want the Kuroko no Basuke Replace novels to be animated. PLEASE, I WANT TO SEE AKASHI AGAIN ;;;-;;;";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Haikyuu!! Movie 2: Shousha to Haisha*/
td.td1 span#tagLinks30364:after, td.td2 span#tagLinks30364:after{
content: "\A vs. Dateko was as boring as the first movie (ignoring the epic chanting), but vs. Aoba Jousai was surprisingly entertaining. It's fun to see how fast the characters and teams adapt to each others' tactics. I like Sugawara and Kageyama's foiling and I still love the unexpected loss. Though Oikawa as annoying and dislikeable as ever lmao. \A This movie, I really started noticing the music. It's really good! I feel like I never noticed it while watching the series lol.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Haikyuu!! Movie 3: Sainou to Sense*/
td.td1 span#tagLinks35110:after, td.td2 span#tagLinks35110:after{
content: "\A Covers the best season :D though the interpersonal drama is more cringe than  I remember it being LMAO \A What the hell is that second Seijo chant \A \"He may be Mr. Refreshing, but his serves aren't refreshing at all,\" WHAT THE HELL IS THIS LINE LOL \A God the transparent netting looks so fucking stupid ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Haikyuu!! Movie 4: Concept no Tatakai*/
td.td1 span#tagLinks35111:after, td.td2 span#tagLinks35111:after{
content: "\A Shiratorizawa is a boring school and Ushijima doesn't have any charisma... well, that goes for most Haikyuu characters, lol. \A I do like the focus on the audience and the juxtaposition of Karasuno's newly-put-together cheers compared to Shiratorizawa's practiced chants. And the character animation for the starters' introduction was cool. \A Bro I've HAD it with the crow imagery, it's so fucking lame and they keep shoving it in our faces, I don't care.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hatsune Miku x Tetsuya Nomura*/
td.td1 span#tagLinks28439:after, td.td2 span#tagLinks28439:after{
content: "\A What's with the Statue of Liberty \A Colored eyebrows make sense but in this super-realistic art style they kind of freak me out";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Higashi no Eden: Air Communication*/
/*Eden of the East: Air Communication*/
/*Higashi no Eden Recap*/
/*Eden of the East Recap*/
td.td1 span#tagLinks6927:after, td.td2 span#tagLinks6927:after{
content: "\A Having the narrating characters constantly interject over the story gets annoying about twenty minutes in. They keep explaining things or questioning things that would naturally get explained by the plot later on, all while obnoxiously talking over conversations. I guess I should just rewatch the show... >_> \A I love the style of the background art";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hinamatsuri*/
td.td1 span#tagLinks36296:after, td.td2 span#tagLinks36296:after{
content: "\A Hondo Kaede has such a pretty voice! \A The delicate linework combined with the strangely detailed and grounded animation works wonders to legitimize the unpredictable narrative and breakneck tone shifts as real and entirely sincere. Also this is legit my mom's favorite anime, she thinks it's a 10/10 lol.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hisone to Maso-tan Digest Douga*/
td.td1 span#tagLinks39448:after, td.td2 span#tagLinks39448:after{
content: "\A Pretty interesting 'animation' style. Aoki Toshinao's art is very cute and it's funny that the same dude narrates and voices everything.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hitotsubu ni Kawaranu Ai wo Komete*/
td.td1 span#tagLinks18953:after, td.td2 span#tagLinks18953:after{
content: "\A Voice acting isn't anime enough lol \A I hope that kid's adopted \A Mom has schizophrenia";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*HORIZON feat. Hatsune Miku*/
td.td1 span#tagLinks19185:after, td.td2 span#tagLinks19185:after{
content: "\A That animation lmfao \A HER HAIR IS CLIPPING THROUGH THE CHAIR \A This rig is absolutely fucked \A The way her face snaps into every expression... \A Miku is too cute to pull off the OL look tbh ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Houseki no Kuni*/
/*ONA*/
/*PV*/
td.td1 span#tagLinks19581:after, td.td2 span#tagLinks19581:after{
content: "\A tbh this could use some thinner linework and more detailed facial expressions";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
