/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Idol Ace*/
td.td1 span#tagLinks7569:after, td.td2 span#tagLinks7569:after{
content: "\A Art style kind of reminds me of Pokemon but without the oomph of the character designs \A That stock siren sound effect LOL \A Rewarding the audience with fanservice is kind of a weird way to handle an anti-peeping campaign, but at least it's animated ig";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Idol Densetsu Eriko*/
td.td1 span#tagLinks2938:after, td.td2 span#tagLinks2938:after{
content: "\A For what it's worth I actually like most of the music, it's legit catchy \A They've gotta stop making rival characters hotter than the protagonists swear to god. Rei is fucking unbelievable and absolutely hard carries. \A I endorse the Rei x Eriko agenda \A This is an ugly bastard show and it honestly makes me kind of uncomfortable. Thankfully Kousuke's presence in this show decreases over time, plus he even gets fucking shot and put into a coma lmao. I'm consistently amazed by how willing this show is to traumatize its characters and fuck them up both mentally and physically. \A It takes a long fucking time for this show to reveal all the relationships going on behind the scenes, but once it does everything instantly makes sense. \A Osawa Hiroshi's singing is hilariously bad given how well it's regarded in-universe \A The Engrish is too powerful \A ngl I blacked the fuck out during that school play arc \A Goddamn why are the last episodes of these shows always so much better than the first 95%";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Idol Fight Suchie-Pai 2*/
td.td1 span#tagLinks3816:after, td.td2 span#tagLinks3816:after{
content: "\A Devil Cherry Pie moment \A Mostly incomprehensible, but it kinda gets fun by the end. If you wanna see scantily clad S&M ladies fighting each other then watch Valkyrie Drive Mermaid instead lol. \A The bunny girl is so furry it freaks me out \A THEY FUCKING KILLED THAT GIRL WHAT";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*IDOLiSH7: Second Beat!*/
td.td1 span#tagLinks37962:after, td.td2 span#tagLinks37962:after{
content: "\A Lately I've become so impatient with anime that waste my time. i7 is an oasis in this desert of slow-paced anime, it moves at lightning speed through so many characters' arcs and intertwined relationships, all while constantly upping the stakes, heaping on plot threads, and throwing out reveals left and right. Admittedly the show does have some moments that might strain your suspension of disbelief, but the character writing is just so goddamn good that I can't help but be invested.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*IDOLiSH7: Third Beat!*/
td.td1 span#tagLinks45577:after, td.td2 span#tagLinks45577:after{
content: "\A Seeing this show kick ass in the score progression club is entertaining enough on its own tbh \A Makoto Bessho, Ei Aoki, Hiroaki Gouda, Ryuichi Makino, and Bunta Tsushimi are absolutely GOATed \A ep3 made me give this a 9 \A I really fucking hope that season four is gonna happen because I need to see Sakura Message get its payoff \A Yuki and Yama-san are hard carrying a show that doesn't even need to be hard carried \A Catch me malding at how badly people misinterpret Tenn's character \A It kills me everyday that this is a male idol anime with a generic name and a generic premise and a generic cover image and a mediocre three-episode test because it's such a good fucking character drama and it's getting hardcore slept on.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*IDOLiSH7 Third BEAT! Part 2*/
td.td1 span#tagLinks46654:after, td.td2 span#tagLinks46654:after{
content: "\A ZOOL may be the antagonists of this season but my god that ED is a fucking bop \A NGL this cour isn't as polished as the others, assumably because Shinobi no Ittoki was airing at the same time. Hopefully they fix some of the drawings in the BDs";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Idol Project*/
td.td1 span#tagLinks2072:after, td.td2 span#tagLinks2072:after{
content: "\A Good OP \A Super-stylized, dynamic animation is always fun to watch, even if it can't save a boring story \A The six world-class idols are way more entertaining (read: tolerable) than Wandaba Style's main four. I think it helps that they aren't completely pathetic lmao. \A Unprompted yuribait is the best kind of yuribait";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Idol Tenshi Youkoso Youko*/
td.td1 span#tagLinks4928:after, td.td2 span#tagLinks4928:after{
content: "\A Banger OP \A This show has a surprisingly detailed ja.wikipedia page, considering how unknown it is in the West \A I can't handle all these Idol Densetsu Eriko cameos. Eriko in ep.1 and ep.32, Rei in ep.8, Nakata in ep.10, Ijuuin as a reoccuring character? Daaang \A I really dig the first few episodes. They genuinely succeed in conveying a sense of childlike whimsy, as these two now-homeless runaway children slowly work towards their dream jobs while sleeping in the parks of Tokyo, washing windows part-time, and completely baffling every adult they come across. The rest of the show is more or less a mixed bag, inundated with the kind of overly-wacky episodic storylines and hit-or-miss one-off characters you're oft to find in old kids anime. But at the very least, the introductory episodes did a hell of a good job of endearing me to the main characters and their newfound friendship - which is more than I can say for most shows of this type, and as a result they really work wonders for the experience as a whole. \A Youko basically having Seasonal Affective Disorder is such a good payoff to her \"ようこのようは太陽のよう\" line LMAO \A The fact that this anime ends with a FIFTY YEAR TIME SKIP, what a baller move";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Initial D Battle Stage 3*/
td.td1 span#tagLinks47410:after, td.td2 span#tagLinks47410:after{
content: "\A Been waiting for this to come out :) \A Sad about no character dialogue, but god I love listening to Eurobeat layered with car sounds \A Fifth and Final Stage character designs are cringe though /A I must admit I was a little disappointed to not hear The End of the World for Ryosuke vs Grim Reaper. I guess that's what AMVs are for.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Initial D: Project D to the Next Stage - Project D e Mukete*/
td.td1 span#tagLinks12725:after, td.td2 span#tagLinks12725:after{
content: "\A Shitsubs make this a really good cringe watch \A The documentary section is actually pretty interesting";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Issho ni Sleeping: Sleeping with Hinako*/
td.td1 span#tagLinks7897:after, td.td2 span#tagLinks7897:after{
content: "\A I really want to see what the recording room looked like. Did they loop her sleeping noises or... \A Is this actually a realistic depiction of the REM sleep cycle? \A Tbh that two second shot of her fiddling with her fingers is the hottest thing here. \A VEGGIE TALES PLUSHIE VEGGIE TALES PLUSHIE \A weighs herself with her clothes on weirdchamp";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Issho ni Training Ofuro: Bathtime with Hinako & Hiyoko*/
td.td1 span#tagLinks9744:after, td.td2 span#tagLinks9744:after{
content: "\A I might actually try these stretches lol. \A Two girls are better than one. \A mfw 19:20 \A So... the viewer is canonically an actual \"3D\" person in Hinako's word. wtf";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Issho ni Training: Training with Hinako*/
td.td1 span#tagLinks6392:after, td.td2 span#tagLinks6392:after{
content: "\A Holy fuck, Hinako's canonical backstory is that she got isekai'd into being an anime character. \A This is just Burn Your Fat With Me... \A THE BOOB JIGGLE SOUND EFFECTS. THE BOOB JIGGLE CLOSE UP. I'M LOSING MY SHIT \A Bruh when she starts swapping into underwear and gym clothes outfits... And the sound files change from her counting to moans... Imagine if this was a customizable dress-up flash game lmao.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Itadaki! Seieki♥*/
td.td1 span#tagLinks22429:after, td.td2 span#tagLinks22429:after{
content: "\A A vampire chick who can't stand the taste of blood but gets life energy through sweat and spit... fucking lmao \A succubus + vampire is best konbi, so why is this so bad :I \A why the blue/white sriped pantsu... \A don't fuck with bipolar chicks bro \A personality and voice make this more of a comedy than jack-off material \A guys... I fucking hate hentai sound effects \A look, I may be a Satsuki stan, but thick eyebrows are just not my thing \A this is just fucking weird bro";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Itadaki! Seieki♥ Special*/
td.td1 span#tagLinks23479:after, td.td2 span#tagLinks23479:after{
content: "\A Why isn't this guy worrying about this chick killing him. Like, that's the entire point of succubus, right? Wouldn't it be safer for him if she's seeing other guys? \A bruh... nipples and areola pressing through an UNZIPPED tracksuit... definitely a Man's Fantasy \A >\"plump\" \A >is actually plump \A wtf how is this more accurate than New Game \A I'm sorry but her catgirl form looks fucking atrocious with all that fur on her hands and feet";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
