/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Jingle*/
td.td1 span#tagLinks32288:after, td.td2 span#tagLinks32288:after{
content: "\A Weird-ass color choices for lineart \A I like how the ink and brushhairs are animated though";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Josee to Tora to Sakana-tachi*/
td.td1 span#tagLinks40787:after, td.td2 span#tagLinks40787:after{
content: "\A Why doesn't the English title have an Oxford Comma \A I feel like I got more diving scenes in the first minute of this film than in an entire season of Amanchu \A Chromatic aberration is ridiculous at times, specifically in the scene where Josee and Mai are duking it out on the bridge \A Music is a HUGE detriment, it's way too loud and conspicuous and heavy-handed and comes off as more emotionally-manipulative than anything. Which is a shame because this movie totally had me in its pocket. I cried like four times. \A I don't particularly like the car accident plot point. Felt like it made the movie's lesson a bit too obvious, not to mention that physical therapy montage gave me hardcore ERASED flashbacks lmao. At least Tsuneo is able to fully heal by the end of the film. Maybe I would have liked it more if they gave us a LiveLeak gore shot. (I'm being 100% serious) \A The second easiest way to make me like a character is to make them super hard-working and ambitious. The easiest way to make me love a character is to make them super hard-working and ambitious and a visual artist. It's so fucking cathartic. Just seeing that seconds-long shot of Josee being completely mesmemerized by the art stores' collection of blue paints was enough to make me bawl my eyes out. \A Color design is absolutely fucking perfect, I love those oranges and dark greens/teals. Background art looks fantastic, especially the folliage and the shots of Josee's home. \A Anyway, good movie, wish it had an Oxford Comma and a better OST though \A Also shoutout to the three people who bought tickets for Kimetsu no Yaiba and went to the wrong theatre lmfao";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Jujutsu Kaisen (TV)*/
td.td1 span#tagLinks40748:after, td.td2 span#tagLinks40748:after{
content: "\A Why are none of the normies weirded out by MC's freakish athletic abilities? Nobody even pants when they run, so maybe this world is just fucked like that. \A cool OP visuals, feels a lot longer than 1:30 for some reason lol \A The thick, ink-like lines are so pretty. \A The flashback dialogue is really unneccessary LMAO \A I appreciate the dedication to drawing the guys' eyelashes";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Juvenile Pornography The Animation*/
td.td1 span#tagLinks36755:after, td.td2 span#tagLinks36755:after{
content: "\A mate I'm gonna get put on a watchlist for google searching that title LMAO \A I don't fuck with lipstick \A The boy is unironically cuter, wtf is wrong with her face \A brb reading the manga instead \A The girl forcing the boy to read out an erotic novel while fucking sure is, uh, something. As in, literally the plot of a fanfiction I read earlier lmao. \A Why is hentai animation so fucking rancid and sexless. Just release drama CDs for us to listen to while reading the manga, swear to god \A WTF IS THAT BGM LMAO? Tense, suspenseful music followed up by rock, lol. \A this is the least-appealing blowjob face I've ever fucking seen in my life \A Please don't get the camera wet";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
