/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Kaede to Suzu The Animation*/
td.td1 span#tagLinks50634:after, td.td2 span#tagLinks50634:after{
content: "\A Twincest yuri is the purest form of love \A gdi I forgot there was piss \A The animation, voices, and sfx aren't a good trade off for kyockcho's delicate art. Plus the colors and timing make the piss unavoidable. Whatever I guess \A The really confusing part is the music, lol wtf is this elevator shit";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kaiba*/
td.td1 span#tagLinks3701:after, td.td2 span#tagLinks3701:after{
content: "\A amogus \A will rewatch, my club attention span is shit \A For some reason a few of the tracks in this show seem really familiar. Maybe they showed up in a youtube video I watched or something? In general, the music is fantastic.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kaifuku Jutsushi no Yarinaoshi*/
td.td1 span#tagLinks40750:after, td.td2 span#tagLinks40750:after{
content: "\A The background art is so bad man \A I really dislike the art style, the blushes and gradients make the characters look grimy and sometimes they really botch their facial structure \A It's not everyday you get to see someone's world domination harem smutfic get turned into a fully animated production. As bad as it is I can at least say it isn't terribly boring. I wish the violence (and everything else) were given as much care as the porn though. \A REST IN POWER KARMAN \A The usual magic system mald. Would be really great if any of the worldbuilding felt natural and not just like a glued-together hodgepodge of Keyaru powerups.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kaijin Kaihatsu-bu no Kuroitsu-san*/
/*Miss Kuroitsu from the Monster Development Department*/
td.td1 span#tagLinks49385:after, td.td2 span#tagLinks49385:after{
content: "\A Pretty funny and gets funnier as it goes on, though the last two episodes are definitely the worst of the bunch. Wish it was a smidge more fast-paced but its mashup of dry workplace humor and supervillain antics works well. \A ep1 Blader plot twist is actually amazing \A While I can't say he's particularly good rep considering his dysphoria's constantly played for laughs, I legitimately love Wolf Bete and can't wait to see him fully transitioned in the manga's epilogue";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kaijuu no Kodomo*/
td.td1 span#tagLinks37981:after, td.td2 span#tagLinks37981:after{
content: "\A fansubber pls learn how to use grammarly \A I thought Sora was kinda pretty and mysterious but then Anglade showed up and slapped the shit out of me \A The CGI tracking shots are cool, I love the background art. Some of the flat coloring on the characters and does stick out at times, but I got used to it. \A The trippiest way to say \"Dudeeeeeee we're all made of stardust brooooo like dudeeee seriouslyyyy?\" for thirty minutes straight \A -1 point for that stupid fucking birth scene in the post-credits though, blech. Your marriage is on the brink of failure and you decide that the best way to fix it is to get creampied and bring another person in this world to serve as a chess piece in your relationship drama? When your other child nearly drowned to death and her two friends fucking died, leaving her traumatized for life? I understand it's thematically fitting but all I can say is lol k";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kakegae no*/
td.td1 span#tagLinks32291:after, td.td2 span#tagLinks32291:after{
content: "\A Monogatari series all up in this bitch \A This person thinks really fast \A For what it's worth I paused and read it all and I actually really like this LOL";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kanojo, Okarishimasu*/
/*Rent-a-Girlfriend*/
td.td1 span#tagLinks40839:after, td.td2 span#tagLinks40839:after{
content: "\A Chizuru looks so conventionally pretty but non-generic that it's hard to believe that the mangaka could have fucked up everyone else's designs so much. The other three girls' designs are just unappealing to look at, and Kazuya's probably repulsive on purpose. \A An enjo-kousai from the perspective of the girl would probably be interesting if done right. Kazuya's kind of just gross with no real commentary so it'd be cool to see this premise play out in a Perfect Blue sense, or even in a more generic shoujo romance sense. \A The bgm sounds like it came from a newgrounds porn game \A This anime is like 90% fake relationship misunderstandings and 10% Kazuya jerking off. I'm already neutral on fake relationships but it's even worse when one side's deplorable, and this isn't a porno so the jerking off isn't even hot either ¯\\\_(ツ)_/¯ \A Ruka is like, mega retarded. I kinda like the choice to put her backstory in a special ED, even if it's kind of lazy. But she's so fcking anime-core that I can't like her. \A Grandma is 100% bi for Chizuru and living out her fantasties through Kazuya";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kanamewo*/
td.td1 span#tagLinks32287:after, td.td2 span#tagLinks32287:after{
content: "\A Background art is kinda amateur hour. Most of it looks unpolished and muddy as shit. The ones with actual linework are better. \A I coulda sworn I've see this before lmao. Maybe the character design? \A Idkman, I'm not feeling the romance. I don't really get why this human fell in love with this slimegirl or vice versa, since we don't see enough of their personalities to understand why one would be attracted to the other. Maybe I'm not lolicon or monsterfucker enough. (Or humanfucker enough) \A I feel like this needs more context. In hindsight the shots of the trees getting torn down foreshadow slimegirl's death enough, but everything else is lol";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai 1: Fukan Fuukei*/
td.td1 span#tagLinks2593:after, td.td2 span#tagLinks2593:after{
content: "\A Drowned in colors I would otherwise consider pretty ugly, like those sickly yellows and greens, but their contrast with the reds of Shiki's leather jacket and the blood just makes the whole thing look so damn cool. \A Ice cream scene is kino \A This movie loves waxing poetic and I am here for it. It's the most aesthetic way to explain The Call of the Void anyone's ever come up with. Every individual human life is so fucking small, and what better way to express that than in a sprawling city that simultaenously feels inhabited and yet so, so empty? \A I think I understand why I like this movie more than some of the others. The ideas behind Overlooking View are much more dependent on standalone ideas that are part of the shared human experience, rather than individual character concepts. And it just so happens that this idea - the feeling of being alone in a city full of people you don't know and who don't know you - is supported mostly by the movie's presentation of its setting. Every shot in this movie informs the setting, and the setting informs the ideas. Whereas some of the other movies in the series are much more character-motivated, but feel as though they don't make good use of their time compared to this one. Every part of this movie feeds into every other part. It's complete.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai 2: Satsujin Kousatsu (Zen)*/
td.td1 span#tagLinks3782:after, td.td2 span#tagLinks3782:after{
content: "\A All I'm saying is that I would totally be into this (fake) serial killer split personality love story if it involved Akashi instead lol. Shiki's pretty intriguing herself but the movie is so weighed down by its slow pacing that's it's hard to enjoy the experience as a whole rather than as a few interesting conversations floating around in the middle of an aimless ocean. It's extremely unsatisfying when viewed without movie 7. I love the main leitmotif though.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai 3: Tsuukaku Zanryuu*/
td.td1 span#tagLinks3783:after, td.td2 span#tagLinks3783:after{
content: "\A TOUKO WITH HER HAIR DOWN (〃▽〃) \A How is ufotable so good at post-processing? Those shots of Touko's car windows, holy shit \A Mikiya is the poster boy for nice guys everywhere, what a chad \A Fujino's alright as a conceptual character. She's someone who's twice removed from normalcy, once by her lack of sensation and once again by her deception. I guess you could say that when one half of her abnormality was removed, she was unable to dispose of the other - just as she pretends to be hurt when her pain is external, she cannot bring herself to express it when it manifests internally, and so she hurts others to externalize the pain that she could not feel if she were to instead hurt herself. Is this some weird self-harm movie lmao? But while Fujino's perfectly fine as a concept, she's pretty unengaging as a character. She basically exists just to serve as a foil to Shiki, but when watching this movie, I can only feel unfulfilled. \A And I'm not going to say that the rape scenes are incredibly gratuitous, to the point of being immoral, but I do feel like this movie works best when it knows when to withhold information. Stuff like Shiki revealing that Fujino is smiling, and then - when Fujino is denying the fact - only framing shots of her from above her mouth. Fujino surpresses her sense of self and her sense of sensation, so the weird insistence the movie has with showing the rape in vivid detail is kinda ehhhhh.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai 4: Garan no Dou*/
td.td1 span#tagLinks4280:after, td.td2 span#tagLinks4280:after{
content: "\A The weirdest physical therapy session I've ever seen \A Touko using her CIGARETTE AS A MAGIC WAND I fucking love her \A I'm always a sucker for the Important Haircuit trope whenever the character does it themselves \A This is one of the more story-relevant movies in the series, but honestly it feels fairly empty. I suppose that's sort of the point, what with SHIKI gone and Shiki teetering on the edge between life and death, but eh. Shiki killing her \"weak self\" and her old memories by literally stabbing her chest and ridding her body of an evil spirit is super cool though.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai 5: Mujun Rasen*/
td.td1 span#tagLinks4282:after, td.td2 span#tagLinks4282:after{
content: "\A Every idea in this movie is Partycore as fuck bye \A The exposition is a bit much on rewatches \A Aozaki sandwich \A ARAYA SOUREN IS A GAMER";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai 7: Satsujin Kousatsu (Go)*/
td.td1 span#tagLinks5205:after, td.td2 span#tagLinks5205:after{
content: "\A I summon you for a duel to the death. Meet me at the weed farm. \A Pretty gratifying as far as endings go";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai 8: Shuushou*/
td.td1 span#tagLinks6954:after, td.td2 span#tagLinks6954:after{
content: "\A Derailing this movie's tags to talk about how much I love Akashi Seijuurou. Bro why couldn't Last Game end with a thirty minute conversation about Akashi's psychology? We were robbed :/ \A What really kills this is the echo effect tbh, it just makes it annoying to listen to";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai: Mirai Fukuin*/
td.td1 span#tagLinks14807:after, td.td2 span#tagLinks14807:after{
content: "\A Derailing this movie's tags to talk about how much I would pay Nasu to write Akashi fanfiction \A This movie is kind of boring despite being having such cool concepts in it. I wish it focused more on Mitsuru over Shizune. His activeness is more interesting and entertaining than Shizune's reactiveness, and having Ishida Akira as a voice actor makes me inherently invested in him. At least SHIKI shows up for one scene :( ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kaze no Tani no Nausicaä*/
td.td1 span#tagLinks572:after, td.td2 span#tagLinks572:after{
content: "\A Imma be honest, I was totally multitasking while watching this so I barely know any of the plot beats. \A Also I swear I've heard some of the movie's BGM somewhere, but I can't place where. But what's with that godawful offtune singing during the ressurection scene? Can't take that shit seriously at all \A Ngl I don't really like the aesthetic of the character designs that much.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai: Mirai Fukuin - Extra Chorus*/
td.td1 span#tagLinks22763:after, td.td2 span#tagLinks22763:after{
content: "\A baby's first suicide attempt \A tbh I kind of like seeing Fujino being a complete asshole and causing property damage LMAO. Still, is this other chick not going to report her to the authorities? \A First and third stories are zzzzzzzz";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Keifuku-san*/
td.td1 span#tagLinks36156:after, td.td2 span#tagLinks36156:after{
content: "\A Pretty cute set design and I love the colors, though they are a bit washed out at times. \A It's too bad the CGI looks fucking weird and doesn't have enough energy. \A I love Keifuku-san's rail-crossing-colored gohei \A kinda asmr";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kenja no Deshi wo Nanoru Kenja*/
td.td1 span#tagLinks42072:after, td.td2 span#tagLinks42072:after{
content: "\A God everyone in this show is so into their LARPing, it's really charming \A The power ceiling, scarcity of endgame players, and lack of teamwork in this MMO is kind of a bruh though \A I like to imagine that the shitty CGI is literally what the NPC models look like in game too. \A This first episode has some weird priorities, some of the exposition is both inefficient and boring. Digging that weird music-only scene though. \A Wtf, the premise of this series is that it goes from VR to pure R? Honestly that kind of ruins what little appeal this first episode had.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kerorinpasu*/
td.td1 span#tagLinks32293:after, td.td2 span#tagLinks32293:after{
content: "\A My nihongo is not jouzu enough for this looping animation";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Key the Metal Idol*/
td.td1 span#tagLinks1457:after, td.td2 span#tagLinks1457:after{
content: "\A Given the endscreen card, I find it kind of sad that this anime has less than 30,000 members on MAL \A I LOVE 90s ANIME VIOLENCE \A Every bit of this show's soundtrack oozes atmosphere. M-26 gives me major Watch Your 6 vibes and I love it. Suna no Kioku and Lullaby are beautiful songs, I definitely want to map them someday. As for the OP and ED, they took a while for me to get used to, but Kijima Sario's voice is so so haunting... \A That walking shot in the OP is mezmerizing, and seeing it used in the actual show is such a good payoff. \A I thought this show would stay on the robot side of things but it actually manages to competently intertwine its robot-related and idol-related themes into one unique story. Definitely a must-watch idol anime, even if it doesn't really belong to the genre. The exposition can get really boring though LOL \A Key telekinetically raising an elevator box and killing Tsurugi is some real shit \A \"If you sleep, you'll never be able to wake up,\" is some real shit :(";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kidou Keisatsu Patlabor*/
/*Patlabor: The Mobile Police*/
/*Patlabor OVA*/
td.td1 span#tagLinks1288:after, td.td2 span#tagLinks1288:after{
content: "\A I fuck with this shit \A I FUCK with this shit \A I FUCK WITH THIS SHIT SO FUCKING HARD \A The hand-painted backgrounds could look better, especially the clouds and some of the nighttime coloring \A I would give ANYTHING for a Patlabor/Mad Bull crossover";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kidou Keisatsu Patlabor the Movie*/
/*Patlabor: The Movie*/
/*Patlabor Movie 1*/
td.td1 span#tagLinks1095:after, td.td2 span#tagLinks1095:after{
content: "\A The entire opening sequence is absolute fucking kino \A PARALLAX \A All of the setpieces are so fucking badass and beautifully detailed \A The use of music and sound in the Ark's dismantling and the final fight is downright perfect \A Hearing Gave live mald about the compsci story beats is a once-in-a-lifetime experience \A Mamoru Oshii's most Christian-themed movie, Angel Egg who???";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kimama ni Idol*/
td.td1 span#tagLinks21749:after, td.td2 span#tagLinks21749:after{
content: "\A The stupidest get-rich-quick scheme \A Just really fucking boring with unlikeable characters \A The porn scene definitely cemented this as a 1. I was not expecting to see uncensored anime titty and hulked-out  muscle men at eight in the morning lmao. Seeing those rapists get flung off of the side of a helicopter should have been more satisfying, but we didn't even get an epic 90s gore shot and they just ended up unharmed. wtf is even the point \A What hurts the most is that I actually like their vocal range, it isn't obnoxiously high.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kimi ni Todoke*/
td.td1 span#tagLinks6045:after, td.td2 span#tagLinks6045:after{
content: "\A Nice title cards \A Cute, but this show is paced way too slow. It took me forever to work up the energy to finish this after leaving it to rot in On Hold for five years >_> \A I really like the watercolor backgrounds. They add a splash of color to the generic Japanese high school setting and mesh nicely with the screentone-style backgrounds. \A them blowjob lips tho \A Man... Ume-chan reminds me too much of Karekano and that show is much more satisfying as a romance than this one. She ends up getting a pretty interesting backstory but it just doesn't make up for all the episodes she wasted on rumors and petty drama. \A I just don't understand shoujo manga's obsession with constantly interrupting the main couple's development by focusing on half-baked side characters instead. Two strong protagonists linked by one strong relationship is enough for me to get invested, I don't need to get strung along by all this other shit I don't care about \A The Christmas episode FUCKING HURTS";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kimi no Suizou wo Tabetai*/
/*I want to eat your pancreas*/
td.td1 span#tagLinks36098:after, td.td2 span#tagLinks36098:after{
content: "\A Honestly, this movie is lazy as fuck. \A It seems like this movie primarily focuses on two themes: \"Living is about the connection you have with other people,\" and \"Death can happen at any time.\" But honestly, the way the movie handles these themes makes it seem as if they're contradictory - it can't focus on one without undermining the other. This is most apparent during Sakura's death and the aftermath. Sakura dies in a way entirely disconnected from the other characters, stabbed to death by some unnamed, no-faced rando, completely alone (as if the movie is trying to say, \"No matter how many relationships you have, you're going to die alone, lozer!\"). But the next time we see Sakura, she's in some pretty sundress, walking around a dreamscape, watering symbollic flowers and shit - the terror of Sakura's horrific, violent murder is completely swept under the rug in favor of the movie's more optimistic theme (\"Yeah, life may be full of tragedy, but who gives a shit! Living's totally worth it!\"). The movie attempts to tie together these wayward themes by throwing the viewer a bone, \"Look! Sakura read Haruki's message!\" But none of it works. \A About Sakura. Honestly, she feels like a completely static noncharacter. She only serves as a vehicle for these half-baked themes and as a plot device for Haruki's development. None of the things which happen to her actually FEEL like they're happening to her - she's dying, but she doesn't act like a dying girl. Even when she's stabbed to death, we never see her corpse, only the idealized image of Sakura in Haruki's head. Furthermore, Sakura's fucked-up behavior is never called out. She's basically holding her imminent death over Haruki's head in order to string him along on dates? But hey, maybe I'd be okay with all of this, if Sakura weren't such a big part of the movie, when the movie SHOULD be about Haruki. \A Haruki is honestly where the movie completely loses me. I mean, I like him. He's handsome, he's got a nice voice, he reminds me of me but not so much that I get disgusted. The problem is that the movie doesn't follow his character development at all. By the time Sakura dies 3/4ths through the movie, Haruki has decided... that he WANTS to become someone like Sakura. He hasn't actually taken any steps towards doing so. Like sure, he was dragged out of his comfort zone. Big whoopee. Real easy to do that when he's got an outgoing, extroverted girl like Sakura who goes out of her way to hang out with him and will literally forgive his every misstep and reacts to all of disagreeable traits with \"haha ur hilarious lol.\" The entire movie focuses on this shallow \"development\" instead of, you know, an actual point of conflict? The fact that he now has to try convincing each of his classmates to become friends with him? Most of whom dislike him, and will probably come to despise him once they find out he kept Sakura's terminal illness a secret? The movie skips over this entire plot point and just shows us the result of his off-screen character development in the epilogue, so it just feels entirely unearned. Also, his new haircut fucking sucks.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kizumonogatari III: Reiketsu-hen*/
td.td1 span#tagLinks31758:after, td.td2 span#tagLinks31758:after{
content: "\A I'll just say it up front; I gave this movie a 1 because of the Hanekawa Araragi boob scene. I am not exaggerating when I say that it disgusted me more than any other piece of fiction I've ever consumed. I think it's because of how the scene is clearly animated and acted to be seriously sexualized and titilating for the audience, despite being treated as little more than a comedic joke with zero ramifications for Araragi's actions. In comparison to rape scenes which are handled with an appropriate level of sobriety, lighthearted erotic fanservice scenes in lighthearted erotic shows, or even just straight-up hentai, it's just fucking repulsive. All it does is my chest hurt and cause me to think of things I don't want to remember. \A I really find myself frustrated with Hanekawa and Araragi's views towards suicide as well. It's ridiculous to call someone selfish for wanting to commit suicide when forcing someone to continue to suffer just for your own happiness is far more insidious and narcisstic. It's especially angering when Araragi refuses to treat Kiss-Shot humanely by heeding her wishes and killing her, putting an end to the life she doesn't want. Rather than extending even the tiniest bit of empathy towards her, he basically fucking cripples her and makes her completely dependent on him, so yeah, that's great I guess. \A The fight scene's well-animated, but there's a lot of silly moments which just kill the tension. Overall, I like Tekketsu's subway scene better when it comes to the uncanny dismemberments, and Nekketsu's Hanekawa intestine scene better when it comes to the gore. \A Pupa is based \A As always, just watch Shiki";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kokoro ga Sakebitagatterunda.*/
/*The Anthem of the Heart*/
td.td1 span#tagLinks28725:after, td.td2 span#tagLinks28725:after{
content: "\A I would hate it if I had to go to this school and wear its all-white uniform... \A It really bothers me that he isn't even good at singing lmfao. Totally off-tune... \A I feel like this would work better if it was an actual live musical stageplay, and you could pull the Gesamtkunstwerk card. As it is, the characters and their struggles aren't really engaging, so I'm just left with a shitty cringe comedy where I can laugh at these teenagers' weird mannerisms and rage at Jun's incompetent parents. The movie gets significantly better in the last thirty minutes, but it's such a slog to get to that point. \A I'm sorry but I literally don't know wtf is going on with Dai-chan's side story, I couldn't pay attention to it at all. Nito's side story is more comprehendable but it's still really boring and frustrating to watch. \A WHY IS DAI-CHAN'S FACE SO FUCKED UP \A It really bothers me that Sakagami says that the music room is soundproof when we're constantly shown shots that, if diagetic, imply the opposite. \A dat engrish insert song tho. Hilarious that the subbers basically had to translate it from broken English to English. \A Yeah, just watch Kotoura-san instead.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kokoro ga Sakebitagatterunda. x Sony Hi-Res "Walkman" and Headphone*/
td.td1 span#tagLinks33170:after, td.td2 span#tagLinks33170:after{
content: "\A NOOO WHY DID THEY HAVE TO PLAY THIS SONG LMAO";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*K-On!!: Ura-On!!*/
td.td1 span#tagLinks9203:after, td.td2 span#tagLinks9203:after{
content: "\A Yui and Sawako are kind of horrifying. Sawako can't even open her mouth to scream... \A The way they animate the girls being blobs and blobbing around lol. Talk about squish and stretch \A Azunyanyanyanyanyan. \A Please let Mugi conquer the world. \A LET THE KEIONS RAP";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Koroshi Ai*/
td.td1 span#tagLinks44516:after, td.td2 span#tagLinks44516:after{
content: "\A Dat OP tho \A Some of the post-processing looks like baby's first watercolor \A The character designs just aren't sleek enough to fit the aesthetic it's trying to go for, and god the coloring is muddy as fuck. The colored linework doesn't help things at all. \A And what's with the dude with no mouth \A Tfw the background characters don't cast shadows \A Just boring tbh. When a show fails this hard at capturing its own aesthetic and characters it's difficult for me to pay attention to anything else. ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kuro Gal ni Natta kara Shinyuu to shitemita.*/
td.td1 span#tagLinks47591:after, td.td2 span#tagLinks47591:after{
content: "\A ADD THE UNCENSORED VERSION AS A MAL ENTRY YOU COWARDS. I NEED MY EXTRA THREE MINUTES AN EPISODE REEEEEEE  \A bro these subs are fucking shit lemme edit them please jesus christ \A bisexuality POG \A genderbending POG \A Yamamoto Kazutomi's vocal range kinda pog too \A They're in love :') All it took was your friend to get genderbended for you to realize that he's totally your type and you're totally in love :') \A If Rui ever genderbends too this anime will be perfect, not even joking. These characters definitely need more personality traits than their relationship and their generic seme/uke dynamic though.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
