/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Kaiba*/
td.td1 span#tagLinks3701:after, td.td2 span#tagLinks3701:after{
content: "\A amogus \A will rewatch, my club attention span is shit \A For some reason a few of the tracks in this show seem really familiar. Maybe they showed up in a youtube video I watched or something? In general, the music is fantastic.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kaijuu no Kodomo*/
td.td1 span#tagLinks37981:after, td.td2 span#tagLinks37981:after{
content: "\A fansubber pls learn how to use grammarly \A I thought Sora was kinda pretty and mysterious but then Anglade showed up and slapped the shit out of me \A The CGI tracking shots are cool, I love the background art. Some of the flat coloring on the characters and does stick out at times, but I got used to it. \A The trippiest way to say \"Dudeeeeeee we're all made of stardust brooooo like dudeeee seriouslyyyy?\" for thirty minutes straight \A -1 point for that stupid fucking birth scene in the post-credits though, blech. Your marriage is on the brink of failure and you decide that the best way to fix it is to get creampied and bring another person in this world to serve as a chess piece in your relationship drama? When your other child nearly drowned to death and her two friends fucking died, leaving her traumatized for life? I understand it's thematically fitting but all I can say is lol k";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kakegae no*/
td.td1 span#tagLinks32291:after, td.td2 span#tagLinks32291:after{
content: "\A Monogatari series all up in this bitch \A This person thinks really fast \A For what it's worth I paused and read it all and I actually really like this LOL";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kanamewo*/
td.td1 span#tagLinks32287:after, td.td2 span#tagLinks32287:after{
content: "\A Background art is kinda amateur hour. Most of it looks unpolished and muddy as shit. The ones with actual linework are better. \A I coulda sworn I've see this before lmao. Maybe the character design? \A Idkman, I'm not feeling the romance. I don't really get why this human fell in love with this slimegirl or vice versa, since we don't see enough of their personalities to understand why one would be attracted to the other. Maybe I'm not lolicon or monsterfucker enough. (Or humanfucker enough) \A I feel like this needs more context. In hindsight the shots of the trees getting torn down foreshadow slimegirl's death enough, but everything else is lol";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai 1: Fukan Fuukei*/
td.td1 span#tagLinks2593:after, td.td2 span#tagLinks2593:after{
content: "\A Drowned in colors I would otherwise consider pretty ugly, like those sickly yellows and greens, but their contrast with the reds of Shiki's leather jacket and the blood just makes the whole thing look so damn cool. \A Ice cream scene is kino \A This movie loves waxing poetic and I am here for it. It's the most aesthetic way to explain The Call of the Void anyone's ever come up with. Every individual human life is so fucking small, and what better way to express that than in a sprawling city that simultaenously feels inhabited and yet so, so empty? \A I think I understand why I like this movie more than some of the others. The ideas behind Overlooking View are much more dependent on standalone ideas that are part of the shared human experience, rather than individual character concepts. And it just so happens that this idea - the feeling of being alone in a city full of people you don't know and who don't know you - is supported mostly by the movie's presentation of its setting. Every shot in this movie informs the setting, and the setting informs the ideas. Whereas some of the other movies in the series are much more character-motivated, but feel as though they don't make good use of their time compared to this one. Every part of this movie feeds into every other part. It's complete.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai 2: Satsujin Kousatsu (Zen)*/
td.td1 span#tagLinks3782:after, td.td2 span#tagLinks3782:after{
content: "\A All I'm saying is that I would totally be into this (fake) serial killer split personality love story if it involved Akashi instead lol. Shiki's pretty intriguing herself but the movie is so weighed down by its slow pacing that's it's hard to enjoy the experience as a whole rather than as a few interesting conversations floating around in the middle of an aimless ocean. It's extremely unsatisfying when viewed without movie 7. I love the main leitmotif though.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai 3: Tsuukaku Zanryuu*/
td.td1 span#tagLinks3783:after, td.td2 span#tagLinks3783:after{
content: "\A TOUKO WITH HER HAIR DOWN (〃▽〃) \A How is ufotable so good at post-processing? Those shots of Touko's car windows, holy shit \A Mikiya is the poster boy for nice guys everywhere, what a chad \A Fujino's alright as a conceptual character. She's someone who's twice removed from normalcy, once by her lack of sensation and once again by her deception. I guess you could say that when one half of her abnormality was removed, she was unable to dispose of the other - just as she pretends to be hurt when her pain is external, she cannot bring herself to express it when it manifests internally, and so she hurts others to externalize the pain that she could not feel if she were to instead hurt herself. Is this some weird self-harm movie lmao? But while Fujino's perfectly fine as a concept, she's pretty unengaging as a character. She basically exists just to serve as a foil to Shiki, but when watching this movie, I can only feel unfulfilled. \A And I'm not going to say that the rape scenes are incredibly gratuitous, to the point of being immoral, but I do feel like this movie works best when it knows when to withhold information. Stuff like Shiki revealing that Fujino is smiling, and then - when Fujino is denying the fact - only framing shots of her from above her mouth. Fujino surpresses her sense of self and her sense of sensation, so the weird insistence the movie has with showing the rape in vivid detail is kinda ehhhhh.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai 4: Garan no Dou*/
td.td1 span#tagLinks4280:after, td.td2 span#tagLinks4280:after{
content: "\A The weirdest physical therapy session I've ever seen \A Touko using her CIGARETTE AS A MAGIC WAND I fucking love her \A I'm always a sucker for the Important Haircuit trope whenever the character does it themselves \A This is one of the more story-relevant movies in the series, but honestly it feels fairly empty. I suppose that's sort of the point, what with SHIKI gone and Shiki teetering on the edge between life and death, but eh. Shiki killing her \"weak self\" and her old memories by literally stabbing her chest and ridding her body of an evil spirit is super cool though.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai 5: Mujun Rasen*/
td.td1 span#tagLinks4282:after, td.td2 span#tagLinks4282:after{
content: "\A Every idea in this movie is Partycore as fuck bye \A The exposition is a bit much on rewatches \A Aozaki sandwich \A ARAYA SOUREN IS A GAMER";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai 7: Satsujin Kousatsu (Go)*/
td.td1 span#tagLinks5205:after, td.td2 span#tagLinks5205:after{
content: "\A I summon you for a duel to the death. Meet me at the weed farm. \A Pretty gratifying as far as endings go";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai 8: Shuushou*/
td.td1 span#tagLinks6954:after, td.td2 span#tagLinks6954:after{
content: "\A Derailing this movie's tags to talk about how much I love Akashi Seijuurou. Bro why couldn't Last Game end with a thirty minute conversation about Akashi's psychology? We were robbed :/ \A What really kills this is the echo effect tbh, it just makes it annoying to listen to";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai: Mirai Fukuin*/
td.td1 span#tagLinks14807:after, td.td2 span#tagLinks14807:after{
content: "\A Derailing this movie's tags to talk about how much I would pay Nasu to write Akashi fanfiction \A This movie is kind of boring despite being having such cool concepts in it. I wish it focused more on Mitsuru over Shizune. His activeness is more interesting and entertaining than Shizune's reactiveness, and having Ishida Akira as a voice actor makes me inherently invested in him. At least SHIKI shows up for one scene :( ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kaze no Tani no Nausicaä*/
td.td1 span#tagLinks572:after, td.td2 span#tagLinks572:after{
content: "\A Imma be honest, I was totally multitasking while watching this so I barely know any of the plot beats. \A Also I swear I've heard some of the movie's BGM somewhere, but I can't place where. But what's with that godawful offtune singing during the ressurection scene? Can't take that shit seriously at all \A Ngl I don't really like the aesthetic of the character designs that much.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kara no Kyoukai: Mirai Fukuin - Extra Chorus*/
td.td1 span#tagLinks22763:after, td.td2 span#tagLinks22763:after{
content: "\A baby's first suicide attempt \A tbh I kind of like seeing Fujino being a complete asshole and causing property damage LMAO. Still, is this other chick not going to report her to the authorities? \A First and third stories are zzzzzzzz";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Keifuku-san*/
td.td1 span#tagLinks36156:after, td.td2 span#tagLinks36156:after{
content: "\A Pretty cute set design and I love the colors, though they are a bit washed out at times. \A It's too bad the CGI looks fucking weird and doesn't have enough energy. \A I love Keifuku-san's rail-crossing-colored gohei \A kinda asmr";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kerorinpasu*/
td.td1 span#tagLinks32293:after, td.td2 span#tagLinks32293:after{
content: "\A My nihongo is not jouzu enough for this looping animation";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Key the Metal Idol*/
td.td1 span#tagLinks1457:after, td.td2 span#tagLinks1457:after{
content: "\A Given the endscreen card, I find it kind of sad that this anime has less than 30,000 members on MAL \A I LOVE 90s ANIME VIOLENCE \A Every bit of this show's soundtrack oozes atmosphere. M-26 gives me major Watch Your 6 vibes and I love it. Suna no Kioku and Lullaby are beautiful songs, I definitely want to map them someday. As for the OP and ED, they took a while for me to get used to, but Kijima Sario's voice is so so haunting... \A That walking shot in the OP is mezmerizing, and seeing it used in the actual show is such a good payoff. \A I thought this show would stay on the robot side of things but it actually manages to competently intertwine its robot-related and idol-related themes into one unique story. Definitely a must-watch idol anime, even if it doesn't really belong to the genre. The exposition can get really boring though LOL \A Key telekinetically raising an elevator box and killing Tsurugi is some real shit \A \"If you sleep, you'll never be able to wake up,\" is some real shit :(";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kimama ni Idol*/
td.td1 span#tagLinks21749:after, td.td2 span#tagLinks21749:after{
content: "\A The stupidest get-rich-quick scheme \A Just really fucking boring with unlikeable characters \A The porn scene definitely cemented this as a 1. I was not expecting to see uncensored anime titty and hulked-out  muscle men at eight in the morning lmao. Seeing those rapists get flung off of the side of a helicopter should have been more satisfying, but we didn't even get an epic 90s gore shot and they just ended up unharmed. wtf is even the point \A What hurts the most is that I actually like their vocal range, it isn't obnoxiously high.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kimi ni Todoke*/
td.td1 span#tagLinks6045:after, td.td2 span#tagLinks6045:after{
content: "\A Nice title cards \A Cute, but this show is paced way too slow. It took me forever to work up the energy to finish this after leaving it to rot in On Hold for five years >_> \A I really like the watercolor backgrounds. They add a splash of color to the generic Japanese high school setting and mesh nicely with the screentone-style backgrounds. \A them blowjob lips tho \A Man... Ume-chan reminds me too much of Karekano and that show is much more satisfying as a romance than this one. She ends up getting a pretty interesting backstory but it just doesn't make up for all the episodes she wasted on rumors and petty drama. \A I just don't understand shoujo manga's obsession with constantly interrupting the main couple's development by focusing on half-baked side characters instead. Two strong protagonists linked by one strong relationship is enough for me to get invested, I don't need to get strung along by all this other shit I don't care about \A The Christmas episode FUCKING HURTS";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kimi no Suizou wo Tabetai*/
/*I want to eat your pancreas*/
td.td1 span#tagLinks36098:after, td.td2 span#tagLinks36098:after{
content: "\A Honestly, this movie is lazy as fuck. \A It seems like this movie primarily focuses on two themes: \"Living is about the connection you have with other people,\" and \"Death can happen at any time.\" But honestly, the way the movie handles these themes makes it seem as if they're contradictory - it can't focus on one without undermining the other. This is most apparent during Sakura's death and the aftermath. Sakura dies in a way entirely disconnected from the other characters, stabbed to death by some unnamed, no-faced rando, completely alone (as if the movie is trying to say, \"No matter how many relationships you have, you're going to die alone, lozer!\"). But the next time we see Sakura, she's in some pretty sundress, walking around a dreamscape, watering symbollic flowers and shit - the terror of Sakura's horrific, violent murder is completely swept under the rug in favor of the movie's more optimistic theme (\"Yeah, life may be full of tragedy, but who gives a shit! Living's totally worth it!\"). The movie attempts to tie together these wayward themes by throwing the viewer a bone, \"Look! Sakura read Haruki's message!\" But none of it works. \A About Sakura. Honestly, she feels like a completely static noncharacter. She only serves as a vehicle for these half-baked themes and as a plot device for Haruki's development. None of the things which happen to her actually FEEL like they're happening to her - she's dying, but she doesn't act like a dying girl. Even when she's stabbed to death, we never see her corpse, only the idealized image of Sakura in Haruki's head. Furthermore, Sakura's fucked-up behavior is never called out. She's basically holding her imminent death over Haruki's head in order to string him along on dates? But hey, maybe I'd be okay with all of this, if Sakura weren't such a big part of the movie, when the movie SHOULD be about Haruki. \A Haruki is honestly where the movie completely loses me. I mean, I like him. He's handsome, he's got a nice voice, he reminds me of me but not so much that I get disgusted. The problem is that the movie doesn't follow his character development at all. By the time Sakura dies 3/4ths through the movie, Haruki has decided... that he WANTS to become someone like Sakura. He hasn't actually taken any steps towards doing so. Like sure, he was dragged out of his comfort zone. Big whoopee. Real easy to do that when he's got an outgoing, extroverted girl like Sakura who goes out of her way to hang out with him and will literally forgive his every misstep and reacts to all of disagreeable traits with \"haha ur hilarious lol.\" The entire movie focuses on this shallow \"development\" instead of, you know, an actual point of conflict? The fact that he now has to try convincing each of his classmates to become friends with him? Most of whom dislike him, and will probably come to despise him once they find out he kept Sakura's terminal illness a secret? The movie skips over this entire plot point and just shows us the result of his off-screen character development in the epilogue, so it just feels entirely unearned. Also, his new haircut fucking sucks.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kokoro ga Sakebitagatterunda.*/
/*The Anthem of the Heart*/
td.td1 span#tagLinks28725:after, td.td2 span#tagLinks28725:after{
content: "\A I would hate it if I had to go to this school and wear its all-white uniform... \A It really bothers me that he isn't even good at singing lmfao. Totally off-tune... \A I feel like this would work better if it was an actual live musical stageplay, and you could pull the Gesamtkunstwerk card. As it is, the characters and their struggles aren't really engaging, so I'm just left with a shitty cringe comedy where I can laugh at these teenagers' weird mannerisms and rage at Jun's incompetent parents. The movie gets significantly better in the last thirty minutes, but it's such a slog to get to that point. \A I'm sorry but I literally don't know wtf is going on with Dai-chan's side story, I couldn't pay attention to it at all. Nito's side story is more comprehendable but it's still really boring and frustrating to watch. \A WHY IS DAI-CHAN'S FACE SO FUCKED UP \A It really bothers me that Sakagami says that the music room is soundproof when we're constantly shown shots that, if diagetic, imply the opposite. \A dat engrish insert song tho. Hilarious that the subbers basically had to translate it from broken English to English. \A Yeah, just watch Kotoura-san instead.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kokoro ga Sakebitagatterunda. x Sony Hi-Res "Walkman" and Headphone*/
td.td1 span#tagLinks33170:after, td.td2 span#tagLinks33170:after{
content: "\A NOOO WHY DID THEY HAVE TO PLAY THIS SONG LMAO";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*K-On!!: Ura-On!!*/
td.td1 span#tagLinks9203:after, td.td2 span#tagLinks9203:after{
content: "\A Yui and Sawako are kind of horrifying. Sawako can't even open her mouth to scream... \A The way they animate the girls being blobs and blobbing around lol. Talk about squish and stretch \A Azunyanyanyanyanyan. \A Please let Mugi conquer the world. \A LET THE KEIONS RAP";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kuro Gal ni Natta kara Shinyuu to shitemita.*/
td.td1 span#tagLinks47591:after, td.td2 span#tagLinks47591:after{
content: "\A ADD THE UNCENSORED VERSION AS A MAL ENTRY YOU COWARDS. I NEED MY EXTRA THREE MINUTES AN EPISODE REEEEEEE  \A bro these subs are fucking shit lemme edit them please jesus christ \A bisexuality POG \A genderbending POG \A Yamamoto Kazutomi's vocal range kinda pog too \A They're in love :') All it took was your friend to get genderbended for you to realize that he's totally your type and you're totally in love :') \A If Rui ever genderbends too this anime will be perfect, not even joking. These characters definitely need more personality traits than their relationship and their generic seme/uke dynamic though.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
