/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Leadale no Daichi nite*/
td.td1 span#tagLinks48239:after, td.td2 span#tagLinks48239:after{
content: "\A I'm kinda getting bored of these fucking generic medieval fantasy settings. Like when she goes down to the dining room and it just looks like a normal ass inn and the food just looks like normal ass food, with no commentary on how it tastes. \A This exposition is kind of a bruh \A Tfw the fantasy world has disinflation. Assumably it's just to make the MC rich, but being a long-time player and a whale wouldn't they already be rich anyway? \A I'm confused as to why this game NPC would have access to the hospital network. I mean the hospital looks completely normal, so this show doesn't seem to be set in the future. \A Man, Log Horizon really has ruined every single one of these shows for me. On top of being OP this chick just seems to adapt to her body way too fast. There's just no consideration for the five senses, it feels like the LN writer needs a crash course on descriptions. The worst part about it is that it's just so FUCKING BORING and MC chick's personality is milquetoast as fuck.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Lemon Angel YJ-ban*/
td.td1 span#tagLinks6065:after, td.td2 span#tagLinks6065:after{
content: "\A This is a horny anime but the characters aren't hot so what is even the point \A At least the characters don't have Bakuman boobs \A Erotic doorknob turning \A Imma be honest I barely paid attention to any of this ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
