/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Nakanaori*/
td.td1 span#tagLinks32298:after, td.td2 span#tagLinks32298:after{
content: "\A I'm not sure how I feel about those sound effects. Are they made from cutlery lol?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Naruto*/
td.td1 span#tagLinks20:after, td.td2 span#tagLinks20:after{
content: "\A OP6 > OP5 > OP2 > OP4 > OP9 > OP3 > OP1 > OP8 > OP7 \A ED1 > ED7 > ED6 > ED9 > ED5 > ED12 > ED13 > ED14 > ED11 > ED15 > ED2 > ED10 > ED3 > ED4 > ED8 \A Musashi Project's music for this series is so fucking clean \A Haku and Zabuza once again proving that suicidal ideation is based af \A Gaara and his fight against Naruto are the best things about this show hands-down. I'm not joking when I say that ED1 massively contributed to my emotional investment in Naruto's character that reached its peak in pathos vs. Gaara. \A My brain isn't big enough to keep track of all these shadow clones and substitution jutsu \A Sakura and Ino's characters would be greatly improved if they realized how in love with each other they are \A Temari and Haruna's voices make me feel things \A I wish this show was faster paced but whatever \A The fillers aren't too bad considering they're all sequestered in their own section of the show, but I wish they focused less on fighting randoms, didn't tease main story progression, and stopped overcomplicating the plot for the sake of it. I never want to feel the pain of those Bikochu and Curry arcs ever again...";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Nekomonogatari: Kuro Recap*/
td.td1 span#tagLinks38971:after, td.td2 span#tagLinks38971:after{
content: "\A tfw no vampiric paleo-loli gf";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*New Game!*/
td.td1 span#tagLinks31953:after, td.td2 span#tagLinks31953:after{
content: "\A Was supposed to watch this for summer2016 but didn't for some reason \A Not to be a fucking coomer but my image of Hifumi is forever tainted by typehatena. \A I wonder if Aoba-chan would be a fan of the character designer/mangaka who created her. Imagine if she found out she was a fictional character and just being like \"What is this moeshit\" \A This is a show about severe autism. \A Why do cups not break when the characters drop them? One time they didn't even bother putting in a sound to indicate that one fell down and hit something. Fucking lazy. This show is constantly breaking my suspension of disbelief. Like, not even talking about how laidback the tone of the show is or how Aoba got this job straight out of fucking highschool. But every time the camera swings down to present a perfectly-angled shot of the characters' bodies I get taken out of the entire experience. Maybe if the characters were actually FUCKING HOT? BUT THEY'RE NOT? SO WHO GIVES A SHIT? YOU'RE JUST BREAKING MY SUSPENSION OF DISBELIEF FOR NOTHING????!?!?!?!?!? \A Umiko is the closest to being my type but her chuuni voice is completely offputting. \A I was annoyed with the KouxRin gaybaiting while watching this but it's apparently not bait, they're married now, that's kinda based";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Nezha Zhi Mo Tong Jiang Shi*/
/*Ne Zha 1*/
td.td1 span#tagLinks40111:after, td.td2 span#tagLinks40111:after{
content: "\A aka Battle of the Femboys \A Set design and effects are nice (I especially like the Dragon Palace), but most of character designs are ugly as sin. \A It bothers me that a lot of the comedy in this film is centered around characters being incompetent as hell. Nezha himself comes off as an edgy, impulsive, too-cool-for-school toddler, so it's hard to sympathize with him even when the movie straight up exposits his entire complex... \A Nezha and Ao Bing's friendship is the best part of the film, but so much time is spent on them beating each other up when they could have probably just talked it out. Whatever, they held hands and \"no  u\"ed God Futari-wa-Precure-style, I'll take it \A Nezha's mom is kinda badass, wish we got to see her in her armor more often \A Gonggong is cringe and the movie knows it lmao \A Even though the final fight scene drags on for way too long, the disguise spells make it pretty entertaining \A Maybe the subs were just shit or my attention span was just shit but this movie really didn't do a good job of explaining things. There were quite a few contrivances too. \A also obligatory F in the chat for GBF playable Nezha";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Nezha Zhi Mo Tong Nao Hai*/
/*Ne Zha 2*/
td.td1 span#tagLinks60544:after, td.td2 span#tagLinks60544:after{
content: "\A Every aspect of this movie is better than the first film - animation, story, fight scenes, humor, characters, etc. A back-to-back fight scene marathon that feels like the most climatic fight scene drawn out to 2.5 hours of nonstop action. Almost no room to breathe, the plot is constantly moving to the point where even the slowest scenes feel like you're being bombarded with cuts from point A to point C. I guess it says something when the most laidback your film gets is when the main character pisses in a bowl. This is absolutely meant to be an epic story, in the traditional sense of the word, and I guess I'm not really a fan of that because I would have liked some more character moments without any immediate relevance to the plot (and by that I mean I want more yaoibait between Nezha and Ao Bing. PLEASE). The experience is overwhelming, almost overstuffed - it's like instead of trimming plot beats to fit the runtime, they decided to speed it up by 1.25x. You can't look away for a second, lest you miss a sudden cut to the remnants of a horrific, off-screen genocide. Not to say the story is undercooked or lacking in depth - the plot twists are gripping and unexpected (to my uncultured ass), and the characters' bonds and betrayals weave a very satisfying yet painfully cruel web. It's just kind of a lot to take in, and despite the very obvious social commentary can sometimes feel detached to our human experience because of how some of the characters act - more like flippant Greek gods than people. Like seriously, this entire movie wouldn't have happened if Shen decided to listen to Ao Bing instead of hotheadedly ass-blasting Nezha with giant dragon lazers. It was so fucking relieving when they revealed that he's not a total idiot and actually pieced things together by himself instead of burning Chentangguan to a crisp over a misunderrstanding. \A Ao Run is a baddie. Honestly she's possibly even hotter as a dragon (never thought I'd say that) but the giant claws on her human form kick ass. During the climax I was constantly waiting for her (and Shen) to come in and fuck shit up - she felt a bit underused in that final confrontation. \A You gotta love a story about two gays at the helm of an anti-establishment revolution. Fucking INSANE how this movie shows the elites LITERALLY rounding up races they consider criminal and GASSING THEM TO TURN INTO PROFIT. And then the movie ending with Nezha saying all creatures are equal and Ao Bing looking at him with such awe and adoration like he's finally found the reason for his existence. Jiao Zi you are crazy for this one \A The heart-penetrating curse is crazy enough but made even crazier by that fucking metal shot of Nezha shredding his body apart and reforming it. I really wish I had realized this movie was playing in 3D, if only for that shot alone. Which apparently took one year, god bless the animators' souls. \A tl;dr if there was more yaoi this would be a 7. If they kissed at the end, an 8";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Nichijou: Nichijou no 0-wa*/
/*Nichijou OVA*/
td.td1 span#tagLinks8857:after, td.td2 span#tagLinks8857:after{
content: "\A Mio's a good friend when it counts \A After getting used to the format of the TV show, this OVA kind of drags";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Ninja Collection*/
td.td1 span#tagLinks42260:after, td.td2 span#tagLinks42260:after{
content: "\A Ninjas are cool and all but I feel that the Yami Shibai format really loses something by knowing that the protagonist always either gets saved or turns into a demon at the end. And I don't even really like Yami Shibai lol";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Null Peta*/
td.td1 span#tagLinks40178:after, td.td2 span#tagLinks40178:after{
content: "\A I don't really care about of the characters and the gags annoy me more than anything. Null is exceedingly cute in her school uniform though. \A Imma be honest ep11 is my favorite because she keeps testing if she can commit unalive \A Reject self-sufficiency, embrace onee-chan";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
