/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Nakanaori*/
td.td1 span#tagLinks32298:after, td.td2 span#tagLinks32298:after{
content: "\A I'm not sure how I feel about those sound effects. Are they made from cutlery lol?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Naruto*/
td.td1 span#tagLinks20:after, td.td2 span#tagLinks20:after{
content: "\A OP6 > OP5 > OP2 > OP4 > OP9 > OP3 > OP1 > OP8 > OP7 \A ED1 > ED7 > ED6 > ED9 > ED5 > ED12 > ED13 > ED14 > ED11 > ED15 > ED2 > ED10 > ED3 > ED4 > ED8 \A Musashi Project's music for this series is so fucking clean \A Haku and Zabuza once again proving that suicidal ideation is based af \A Gaara and his fight versus Naruto are the best things about this show hands-down \A My brain isn't big enough to keep track of all these shadow clones and substitution jutsu \A Sakura and Ino's characters would be greatly improved if they realized how in love with each other they are \A Temari and Haruna's voices make me feel things \A I wish this show was faster paced but whatever \A The fillers aren't too bad considering they're all sequestered in their own section of the show, but I wish they focused less on fighting randoms, didn't tease main story progression, and stopped overcomplicating the plot for the sake of it. I never want to feel the pain of those Bikochu and Curry arcs ever again...";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Nekomonogatari: Kuro Recap*/
td.td1 span#tagLinks38971:after, td.td2 span#tagLinks38971:after{
content: "\A tfw no vampiric paleo-loli gf";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*New Game!*/
td.td1 span#tagLinks31953:after, td.td2 span#tagLinks31953:after{
content: "\A Was supposed to watch this for summer2016 but didn't for some reason \A Not to be a fucking coomer but my image of Hifumi is forever tainted by typehatena. \A I wonder if Aoba-chan would be a fan of the character designer/mangaka who created her. Imagine if she found out she was a fictional character and just being like \"What is this moeshit\" \A This is a show about severe autism. \A Why do cups not break when the characters drop them? One time they didn't even bother putting in a sound to indicate that one fell down and hit something. Fucking lazy. This show is constantly breaking my suspension of disbelief. Like, not even talking about how laidback the tone of the show is or how Aoba got this job straight out of fucking highschool. But every time the camera swings down to present a perfectly-angled shot of the characters' bodies I get taken out of the entire experience. Maybe if the characters were actually FUCKING HOT? BUT THEY'RE NOT? SO WHO GIVES A SHIT? YOU'RE JUST BREAKING MY SUSPENSION OF DISBELIEF FOR NOTHING????!?!?!?!?!? \A Umiko is the closest to being my type but her chuuni voice is completely offputting. \A I was annoyed with the KouxRin gaybaiting while watching this but it's apparently not bait, they're married now, that's kinda based";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Nezha Zhi Mo Tong Jiang Shi*/
td.td1 span#tagLinks40111:after, td.td2 span#tagLinks40111:after{
content: "\A aka Battle of the Femboys \A Set design and effects are nice (I especially like the Dragon Palace), but most of character designs are ugly as sin. \A It bothers me that a lot of the comedy in this film is centered around characters being incompetent as hell. Nezha himself comes off as an edgy, impulsive, too-cool-for-school toddler, so it's hard to sympathize with him even when the movie straight up exposits his entire complex... \A Nezha and Ao Bing's friendship is the best part of the film, but so much time is spent on them beating each other up when they could have probably just talked it out. Whatever, they held hands and \"no  u\"ed God Futari-wa-Precure-style, I'll take it \A Nezha's mom is kinda badass, wish we got to see her in her armor more often \A Gonggong is cringe and the movie knows it lmao \A Even though the final fight scene drags on for way too long, the disguise spells make it pretty entertaining \A Maybe the subs were just shit or my attention span was just shit but this movie really didn't do a good job of explaining things. There were quite a few contrivances too. \A also obligatory F in the chat for GBF playable Nezha";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Nichijou: Nichijou no 0-wa*/
/*Nichijou OVA*/
td.td1 span#tagLinks8857:after, td.td2 span#tagLinks8857:after{
content: "\A Mio's a good friend when it counts \A After getting used to the format of the TV show, this OVA kind of drags";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
