/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*001*/
td.td1 span#tagLinks29978:after, td.td2 span#tagLinks29978:after{
content: "\A Ths is fucking cool, but I wish it wasn't just two animation loops repeated a bunch of times";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*16bit Sensation: Another Layer*/
td.td1 span#tagLinks54041:after, td.td2 span#tagLinks54041:after{
content: "\A Her voice is UNGODLY annoying, it makes the show damn near unwatchable. \A Didn't have high hopes with the opening scene, I really dislike when artists try to mimic the 90s style on a completely surface level without committing to making it look authentic \A The product placement in the first episode is really offputting. It really makes the show feel slimey, considering it's directly funding these games the main character hates and says are killing the bishoujo game industry by sticking in these out-of-place MagiReco and FGO ads everywhere... it feels artistically cheap and shallow. And then it's even weirder when the main character is allowed to directly address and talk about one of the games in the show (Kanon), but doesn't actually say anything of substance or worth? Quite frankly it comes off as a bit of an insult and makes the writing come off as cowardly. Kind of breaks immersion too when, instead of the main character working on actual VNs that were published in real life (just like all the other shit in the show), she just works on the bishoujo game equivalent of WcDonald's Big Wac. Like either commit to the bit or don't include it at all ala Shirobako, because as it is, this show just exists in some weird alternate universe where Lycoris Recoil is completely unchanged but MGS somehow stands for Metal Gay Solid. We all know the only reason that shit is in there to begin with is because of the fat Aniplex paycheck :/";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
