/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Oide yo! Mizuryuu Kei Land*/
td.td1 span#tagLinks35581:after, td.td2 span#tagLinks35581:after{
content: "\A return to monke \A The music is so loud, it drowns out the characters' voices. \A The censorship kind of ruins it... \A I never really liked this series' art designs and character designs, and they're even more garish and tacky in color.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Omoi, Omoware, Furi, Furare*/
td.td1 span#tagLinks39753:after, td.td2 span#tagLinks39753:after{
content: "\A Wow, I've never heard Saitou Souma with such a deep voice before. (Well, deep for him lol) \A There's some nice character animation here and there, but why does this movie have the most basic bitch generic late 2010s TV anime romcom character designs imaginable? \A Just feels like it goes skin deep. None of the characters really get any development and there isn't really a sense that they've changed over the course of the film from interacting with each other, despite what they say. The most interesting character is Akari, but almost purely for her fucked-up home life rather than her personality in and of itself. (btw fuck her mom lmao what a bitch.) Even Kazuomi, who's got such a cool, interesting hobby, just gets completely shafted. The movie never shows him actually working on his craft (rather than just reading about it), so when he reveals that he was working on a short film for the entire first half of the story, I get some major whiplash. Did he even seem like he was busy? Or even trying? The other two are handled even worse. Rio is just not-blood-related-incest man and Yuna is zzzzzz-literally-who-cares. \A Also the subs for this were kind of fucking awful. I almost want to edit them myself. (Edit: I did) \A After watching this movie over and over and over again to fix those subs, I've grown a bit fond of it, though not so much so that my opinion's turned around for the better. Ultimately my distaste for it comes down to two things: These romantic relationships aren't ones I want to be in, and I fucking hate dumb misunderstanding drama lmao";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*One Room Second Season*/
td.td1 span#tagLinks36431:after, td.td2 span#tagLinks36431:after{
content: "\A Man Impresses Girl by Showing Her How Well He Can Blow \A If only this was an actual romance and not a self-insert. \A tfw she puts the ring on the wrong hand \A ED 10 is the best one. OL Support Squad!";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*One Room Second Season Special*/
td.td1 span#tagLinks38789:after, td.td2 span#tagLinks38789:after{
content: "\A NOT EVEN ANIMATED. LMAOOO \A That first image looks jank as fuck. Her neck and head are at such an awkward angle. \A JESUS CHRIST THAT OL OUTFIT >////<. I'm so fucking predictable \A bruh the cleavage in the fifth image";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*One Room Third Season*/
td.td1 span#tagLinks41364:after, td.td2 span#tagLinks41364:after{
content: "\A I'd totally buy Akira's carrot pen if they released it as merch. \A Tomita Miyu has a nice voice. \A I don't really get the point of this sort of non-interactive self-insert fantasy? I guess it's the same with self-insert fics. Either the self-insert is completely devoid of personality, or they end up doing or saying things that I would never do or say. Like just give me a good romance between two interesting characters. Then I can fantasize about dating both of them lmao \A The second girl has a flesh fang. This is a 1/10. \A Don't you just looooove seeing these girls' ass imprints? Seriously, how is that supposed to be appealing. \A orisaka saya is a sperg \A I want the plot twist of this series to be that all these girls are schizophrenic and the self-insert is their tulpa.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Ookami Kodomo no Ame to Yuki*/
td.td1 span#tagLinks12355:after, td.td2 span#tagLinks12355:after{
content: "\A Tokophobia Simulator 2012 \A bitch had the opportunity to end a species and didn't do it, can't trust these hoes \A But for real, maternity creeps me the fuck out. This movie is fine, but I can't really enjoy it when it's so set on glorifying biological motherhood. (If I just pretend they're adopted... they're adopted, they're adopted, they're adopted...) \A Probably gonna show it to my mom though lol \A I don't really like the water effects. They don't mesh with the rest of the background art. \A Why are Hana's eyes so far apart? Yuki's aren't too bad but they're still pretty silly-looking. \A Honestly it feels like the movie rushes through Yuki's and Ame's development way too fast. Like, Ame's some loser coward and then suddenly becomes a stone-cold badass runaway. They grow up so fast lol. But yeah, it feels pretty shallow, like the movie really wanted to fast-track them into becoming 100% human and 100% wolf. Gotta speedrun those themes!";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Orange*/
td.td1 span#tagLinks32729:after, td.td2 span#tagLinks32729:after{
content: "\A Holy shit what is up with these out-of-sync subtitles \A I know everybody memes about this but I really have to ask if they got Hamasaki Hiroshi to direct this just because it's a time travel story \A Naho's face looks really out of place at times, can't tell if it's her eyes or her bangs or a combination of the two. \A Hagita without glasses is cursed \A The manga's art is better and the animation/color/sound design doesn't add much, read it instead. Plus the future segments feel way more intrusive and disruptive in the anime. I think the one thing the anime did better was get me to feel bad for Suwa (bros over hoes 😔), but honestly it's been so long since I've read the manga that I can't really tell.  \A ALL OF NAHO'S FRIENDS LOOKING AT HER WITH DISAPPOINTMENT WHEN SHE FAILS TO SHARE HER UMBRELLA WITH KAKERU LMFAO \A How many times could these kids made things better by just taking a third option. It's not like Naho needs to choose between talking with Kakeru and letting Kakeru go back home to take care of his grandmother. Just say you understand his worries and go with him, wtf \A I understand that episode 12 is deliberately desaturated to show how bleak Kakeru's world is and distinguish it from the current timeline, but it just looks like a really shitty Instagram fukter \A How the hell was Hagita the only one to think \"Uh guys this plan is ridiculous.\" In hindsight, it's no wonder they fucked up so badly lmao. It would have been kind of funny if they had sent back instructions too, so if their alternate universe selves fucked up they could just try again with another timeline.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Orange: Mirai*/
td.td1 span#tagLinks34136:after, td.td2 span#tagLinks34136:after{
content: "\A Man I just watched the series, all this recap is kinda ruining the emotional impact it had \A Is this movie basically for people who ship Naho with Suwa over Kakeru? I mean I guess it's cool that this series technically has two timelines to appease both sides LOL \A Do you like how the only difference between the two babies is their hair color \A Suwa is now a beta-orbiter for life, feelsbadman";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Orient*/
td.td1 span#tagLinks45560:after, td.td2 span#tagLinks45560:after{
content: "\A Why is he digging rocks with a giant scythe 💀 \A Some of these background character designs look so bad that it feels like it took more effort to make them ugly instead of unassuming \A I feel like the problem with most shows of this quality are that they just don't nail the atmosphere and sense of epicness. This just feels like a normal ass episode when it's supposed to be the start of a grand adventure. Kind of upsetting considering I actually like the main characters' designs and that stupid fucking pickaxe lmao. \A Kojirou's speech about Musashi's conformity and lack of conviction is actually really powerful and makes a lot of sense given his backstory, while also giving Musashi an entire character arc in the span of one episode. \A The tipping point was the oni mine reveal, it's just too fucking cheese. I'm sorry, how was this information hidden from anyone? \A THE MOTORCYCLE \A When he stuck the back end of his pickaxe into the grounw I was hoping that he'd spin around its axis Ruby Rose style. That probably would've made me watch another episode, but as it is the animation and fight choreography just isn't interesting enough to continue";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
