/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Planetarian: Hoshi no Hito*/
/*Planetarian Movie*/
td.td1 span#tagLinks33190:after, td.td2 span#tagLinks33190:after{
content: "\A If you don't like this anime u are robophobic :/ sorry \A Remember Kuzuya? This is him now. Feel out yet? \A I really dislike how this anime renders blushes, but whatever. Hoshino still a cutie \A I wonder how they animated the moving patterns and text on Hoshino's bow. \A ayooo Bacchus bros \A Why doesn't Jena-san have a MAL entry >:( \A Bruh. When I realized he was making them a planetarian. KINO. \A That being said, I really do think that Hoshino and Kuzuya's chance meeting is the core of this story, and that everything that happens after the timeskip is largely unnecessary and boring. I don't need closure lol. Just watching Hoshino and Kuzuya interact is enough for me. \A Isaiah kinda has a cute outfit/color scheme \A 128 EB WTF \A The last thirteen minutes of this movie cucked me hard. STOP DREAMING AND PUT THE CARD IN THE ANDROID JESUS CHRIST. Fuck them kids \A tldr I cried";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Planetarian: Snow Globe*/
td.td1 span#tagLinks40778:after, td.td2 span#tagLinks40778:after{
content: "\A Hoshino and Kuzuya's dynamic is so sweet that everything else in this franchise kind of pales in comparison. \A Also the anti-robot protests are just kind of dumb. I mean I guess I could see that sort of thing happening in real life, since robots ARE stealing our jobs (lol) but I figured that a society technologically advanced enough to have androids like Hoshino would have already moved past that. \A I used to collect snowglobes, so I know how worthless they are LOL \A WHY ARE THERE STATUES THAT LOOK LIKE REALISTIC IRL PEOPLE? WHAT \A Swear to god this shit is just Astro Boy. I was thinking that while watching the movie but hearing \"As a robot, I can't lie\" right after watching a Tetsuwan Atom episode that used the exact same idea as a plot point just hammers it in lol. \A \"If I were a boy, I would've proposed to you\" YOOOOOOOOOOOOOOOOOOOOOOOOOOO ROBO-YURI \A \"Just kidding!\" FUCK. GODDAMMIT ALL TO HELL. \A I self-identify as the little kid who asked Hoshino to marry him. Just forget the part where he had to cancel their engagement nine years later, in front of his girlfriend \A You guys had the plot center around a ten-year anniversary when you're celebrating the VN's fifteen-year anniversary? Lol what?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Pony Metal U-GAIM Promotion Film*/
td.td1 span#tagLinks19279:after, td.td2 span#tagLinks19279:after{
content: "\A Pretty weird. Would I watch it if this series existed? Well, I'd be obligated to. \A That girl in red belongs in Henkei Shoujo.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Precure All Stars GoGo Dream Live!*/
td.td1 span#tagLinks10549:after, td.td2 span#tagLinks10549:after{
content: "\A No Kaori and Michiru, feels bad man. \A It was actually amazing seeing Nagisa and Honoka's iconic OP animation integrated into an actual fight scene.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Precure All Stars Movie DX: Minna Tomodachi☆Kiseki no Zenin Daishuugou!*/
td.td1 span#tagLinks5753:after, td.td2 span#tagLinks5753:after{
content: "\A That shot of all the Precure doing Cure Black and Cure White's iconic OP pose is fucking awesome \A Leaving out Setsuna is a crime \A This movie is kind of a clusterfuck because I can barely remember which antagonists and mascots and side characters come from which Precure series. Rather than these basic references I wish we got to see more of the Precure interacting. They don't really get to meet each other until two-thirds of the movie have already passed, so honestly it kinda fails as a fanservice movie for me. I must admit the first half of the final fight is awesome though. \A So nice to see Cure White and Cure Black beat the shit outta spooky dooks after all these years \A Some of the character acting is really great \A Those OP cues are immaculate";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Precure All Stars Movie DX2: Kibou no Hikari☆Rainbow Jewel wo Mamore!*/
td.td1 span#tagLinks8133:after, td.td2 span#tagLinks8133:after{
content: "\A My mind is overloading with Precure references \A Fresh Precure banter is amazing \A The character acting and hand-to-hand are so fucking good. Too bad about the CGI though. \A Since all the Precure sans Heartcatch are already acquainted, this movie gets into the groove of things a lot faster than its prequel. But with so many characters, there isn't enough time for most of them to get adequate focus. It'd be really cool if we could get crossover movies with only two or three Precure groups at a time. The best part of the movie was the scenes where Heartcatch and Fresh were just chilling out with each other, everything after that was kinda fun but definitely worse. \A So glad to see both reformed antagonists AND evil motherfuckers get the cameos they deserve :') More Kaoru, Michiru, Bunbee, and NORTHA content \A Okay but why is the villain called Bottom and why is he trying to get the Rainbow Jewel \A Did half of the mascots forget they could fly? \A Tbh I enjoyed the final fight more when it was a Heartcatch Precure OP...";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Precure All Stars Movie DX3: Mirai ni Todoke! Sekai wo Tsunagu☆Nijiiro no Hana*/
td.td1 span#tagLinks9979:after, td.td2 span#tagLinks9979:after{
content: "\A I like that the gimmick of this movie is that it's a crossover between the oft-forgotten movie-verses. It's so wild and shittons of fun, a full hour of heart-pumping action. \A The villain powercreep for these DX movies is FUCKING AMAZING LMAO \A The timeline for these movies seems to imply that a year passes between them just like real life, but I guess every Precure is just eternally stuck as an adolescent. Which is a shame because I'd love to see some of these characters all grown up. \A God they're all so fucking moe \A The framing and animation actually do a damn good job at conveying the monsters' size and scale \A That Max Heart music cue was absolutely perfect \A The Precures' reanimated final moves are fucking beautiful \A It's a shame that they didn't get one big 21-man combo attack for the final blow though, and the break before the boss fight dragged on a little too long.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Present made no Michinori*/
td.td1 span#tagLinks32296:after, td.td2 span#tagLinks32296:after{
content: "\A Basically copies of cuts you've seen before in better stuff. But hey, I can't do this animating shit, so pog.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Pretty Rhythm: Aurora Dream*/
td.td1 span#tagLinks10257:after, td.td2 span#tagLinks10257:after{
content: "\A The worst thing about this show is that the songs just aren't that good lol \A Chris is so fucking gay it hurts, I love her \A Mion's one of my favorite characters in this show for being a badass with a professional mindset, but honestly they're pushing her gap moe too much. I like characters like her the best when they're legitimately hypercompetent, and not riddled with shallow insecurities and fears just so they can act blushy-blushy. \A Rhythm is a discount Asuka and it actually kind of works. Her and Sonata and Asechi's backstory revolving around the Aurora Rising is probably the best concept in this show, but I find the resolution pretty strange. I don't really see why Asechi thinks having Aira perform the Aurora Rising will help Rhythm, and her obsession with Aira's \"purity\" just kind of comes off as the writers being fetishistic of innocence and youth, especially once you remember that the characters need to wear wedding dresses to pull that jump off. I guess you could say the point is that Prism Stars must be \"married to their job\" if they truly want to become the best, but the writers push the romantic angle a whole lot more than that symbolic shit, so idk if it was really intentional. \A Ngl these live action segments wih Prizmmy make me totally get the appeal of IRL idols. It's fun seeing them grow as friends and performers, even though most of it is probably scripted. Looking forward to watching Dear My Future. \A This show is like a weird combination of Lilpri and Eriko while failing to be as cute as the former and as dramatic as the latter";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Private Eye Dol*/
td.td1 span#tagLinks25983:after, td.td2 span#tagLinks25983:after{
content: "\A A universe where holograms are commonplace and super-advanced AI assistants exist but the main characters still clown on \"computer geeks\" and unironically believe they're worse than panty snatcher perverts \A Just watch Perfect Blue lmfao";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Psycho-Pass 3*/
td.td1 span#tagLinks39491:after, td.td2 span#tagLinks39491:after{
content: "\A Utterly incomprehensible \A Arata's Grahamiya mind powers feel totally out of place. As a concept it's not as bad as Kirito's schitck and doesn't have the misfortune of breaking the Sybil System, but it feels completely fantastical and so unlike Psycho-Pass. \A Cool hand-to-hand combat scenes at the cost of not using the most iconic aspect of Psycho-Pass' settings, THE FUCKING DOMINATORS \A Ma-Karina is cool I guess \A Remember when the entire ending of season 1 hinged on the fact that Japan and the Sybil System would be utterly FUCKED if it had to import foodstuffs from the outside world? Now we're just opening the floodgates lol? \A Same problem I have with Sinners of the System Case.3 but even worse, why the fuck is Kougami working for the government again. Season 1 Sybil System would have shot him on sight. \A So little visual cohesion in the backgrounds that I legitimately think Hand Shakers looks better at points";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Pui Pui Molcar*/
td.td1 span#tagLinks44235:after, td.td2 span#tagLinks44235:after{
content: "\A bruh why was this categorized as English-translated when ASW didn't translate anything lul \A You know, when I heard people memeing on this show, I didn't expect it to be unironically godtier. People who animate stop motion just have a higher Christ Consciousness level than the rest of us. \A This appeals to my sensibilities \A No episode tags because every episode is gold \A The key word here is \"whimsical\" \A mom I wanna go to the anime store :3";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Puparia*/
td.td1 span#tagLinks44059:after, td.td2 span#tagLinks44059:after{
content: "\A This is basically just eye candy. I like how solid and 3D the characters' heads look and their eyes are really intense. No narrative or characters, just a sense of intrigue.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Pure Shield*/
td.td1 span#tagLinks42748:after, td.td2 span#tagLinks42748:after{
content: "\A That is not a very flattering butt shot. There's better fanservice in the show itself lmao";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
