/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Rokuko-chan*/
td.td1 span#tagLinks34425:after, td.td2 span#tagLinks34425:after{
content: "\A I guess the streaky marker aesthetic is kinda cute? But imma be honest, I just watched this so I could follow-up on No.6 in that one forum game thread";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Room Mate*/
td.td1 span#tagLinks34393:after, td.td2 span#tagLinks34393:after{
content: "\A Is this show taking the piss or is it just THAT dumb? \A The dumb chuuni being revealed as an actor practicing his roles... The prim-and-proper dude's first appearance being half-naked and fresh out of the shower... fucking titty jiggles... it has to be self-aware. There's no other explanation. \A THE CLOTHES FADING AWAY IN THE EDs LMFAO. At this I'm only watching the show to what kind of weird shit they pull in the ED, because everything else is boring as fuck.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Ryman's Club*/
td.td1 span#tagLinks50185:after, td.td2 span#tagLinks50185:after{
content: "\A Workplace anime meets sports anime, but both sides are half-baked. The characters feel more like afterthoughts than anything, they all come with sad backstories and Freudian excuses but the show is so hamfisted about all of its concepts (whether aesthetic or dramatic) that it's hard to see any of this as more than a fujoshi-pandering cash grab. Why aren't any of the rules of badminton explained? The inclusion of just one short exposition scene might've made it so much easier to get invested in the matches, because believe it or not, stories are way more engaging when we get to think, not just see. I wanted to push through this for the corporate badminton premise but outside of a few nice animation cuts what I have seen so far has not proven to be worth my time. ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Ryuu to Sobakasu no Hime*/
/*Belle*/
td.td1 span#tagLinks44807:after, td.td2 span#tagLinks44807:after{
content: "\A Okay, first off, this movie does not look or sound that good, so I don't know why people are coping so hard about the visuals and soundtrack definitely totally being good. \A The more I think about this movie the more shit it gets. It's so hard to get all of it down because it just fucks up on every level imaginable. There's so many themes and focal points that it just botches all of them. The setting itself isn't exploited to the fullest extent and feels totally disconnected from the central conflict of the film. There are so many things that happen in the game world that just make me go WTF?!?!?!? \A Even the best scene in the movie, the Ruka/Shinjirou confession, was wasted potential. Why tf wasn't the guy at the counter there? It would've been so much funnier if he was reacting to the scene in the background. \A Suzu isn't even fucking ugly and she's legitimately a normie. \A My rewrite of this movie: Suzu is ugly, Ruka is the Beast, they are lesbians and fall in love. Scene \A Maybe I'll write better tags later but I'm fucking tired and this movie is shit";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
