/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Rail Romanesque*/
td.td1 span#tagLinks40958:after, td.td2 span#tagLinks40958:after{
content: "\A The concept of a bunch of traingirls trying to come up with train-inspired merchandise is cute and cool and basically the kind of autistic brainstorming I do while trying to come up with merch ideas in real life, but the anime moves so fast and is so dense with information that I can't parse any of it. Would be better if I knew anything about trains or Maitetsu, or maybe if I tried to approach it with the mindset of \"idk jackshit about these characters so I'll just enjoy the unique ideas they come up with\".";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Raison d'être*/
/*raison d’etre*/
td.td1 span#tagLinks40569:after, td.td2 span#tagLinks40569:after{
content: "\A tbh this is just that one episode of Rozen Maiden but worse. Seriously I don't know how they managed to make three sakuga scenes in one MV feel repetitive and boring but they managed it. \A MC's dream world design is sooo edgy lol \A colors are fine but ultimately nothing interesting and pretty generic \A also the song is boring as shit. I think I might not like Eve lol";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Re:Zero kara Hajimeru Isekai Seikatsu*/
td.td1 span#tagLinks31240:after, td.td2 span#tagLinks31240:after{
content: "\A tfw picked back up because of the Kadowkawa/Animester Emilia and Rem figures \A I kind of just dislike Subaru and his retarded screaming, which sucks cuz this show is so clearly setting up emotional moments that would hit so hard if it were any other protagonist. Since the protagonist is how I interface with an anime, a boring, shitty, annoying protag makes the show boring, shitty, and annoying unless there are other cool characters around to hard carry. Unfortunately nobody in this show is particularly interesting so... Honestly, it shouldn't be a surprise that I dislike the show for the same two reasons that made me drop it in 9 minutes the first time I watched it. \A The way Rem and Subaru express their love for Subaru and Emilia is quite beautiful tbh (even if I don't really get either of them). \A For a show that focuses so much on bloody shock value, the violence feels like it's lacking in detail and gore \A it legitimately comes off as a comedy whenever they play that stupid time leap music LOL \A Although I don't care much for the arc itself, the use of music was really good during the White Whale arc and set the tone well. \A The previews are the most enjoyable part";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Rokuko-chan*/
td.td1 span#tagLinks34425:after, td.td2 span#tagLinks34425:after{
content: "\A I guess the streaky marker aesthetic is kinda cute? But imma be honest, I just watched this so I could follow-up on No.6 in that one forum game thread";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Room Mate*/
td.td1 span#tagLinks34393:after, td.td2 span#tagLinks34393:after{
content: "\A Is this show taking the piss or is it just THAT dumb? \A The dumb chuuni being revealed as an actor practicing his roles... The prim-and-proper dude's first appearance being half-naked and fresh out of the shower... fucking titty jiggles... it has to be self-aware. There's no other explanation. \A THE CLOTHES FADING AWAY IN THE EDs LMFAO. At this I'm only watching the show to what kind of weird shit they pull in the ED, because everything else is boring as fuck.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Rozen Maiden*/
td.td1 span#tagLinks64:after, td.td2 span#tagLinks64:after{
content: "\A Started watching this in part because I preordered Flare's Suigintou. Honestly her design in this anime is much more up my alley, it ticks so many boxes for me :') \A The OP is a stellar combo of god-tier music and instantly-iconic imagery and is so refreshing to see coming off of watching mediocre OPs with no ambition \A Overall I feel like this show has the capacity to be pretty interesting on a character-development and philosophical level, but it's hampered by way too many unfunny lighthearted comedy scenes that drag down the pacing and make me question what I'm even watching. It would be one thing if they were funny and/or had the characters bounce off each other in interesting, multi-faceted ways, but they're usually just the exact same jokes recycled over and over again. I also find it pretty baffling that Jun is collecting all these dolls at such a rapid pace, instead of having the story follow the ever-so-popular Master and Servant pairing structure, but you could chalk that up to personal taste tbh. This is all probably why I like Suigintou so much, because she's a baddie who instantly kickstarts the plot whenever she shows up, and is so far the only doll we've seen who's remained an antagonist. Hope the second season is better. \A Love the dream worlds \A Mitsumune Shinkichi did a great job with the music, I love how it reminds me of Utena while remaining fully distinct.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Ryman's Club*/
td.td1 span#tagLinks50185:after, td.td2 span#tagLinks50185:after{
content: "\A Workplace anime meets sports anime, but both sides are half-baked. The characters feel more like afterthoughts than anything, they all come with sad backstories and Freudian excuses but the show is so hamfisted about all of its concepts (whether aesthetic or dramatic) that it's hard to see any of this as more than a fujoshi-pandering cash grab that's fast-paced not because it has a lot of content to get through, but because it needs to squeeze as many different boys as it can in a single cour. Why aren't any of the rules of badminton explained? The inclusion of just one short exposition scene might've made it so much easier to get invested in the matches, because believe it or not, stories are way more engaging when we get to think, not just see. I wanted to push through this for the corporate badminton premise but outside of a few nice animation cuts what I have seen so far has not proven to be worth my time. \A All that being said, if you want an anime that's a third workplace, a third sports, a third drama, starring a bunch of adult pretty boys with sad backstories, just watch IDOLiSH7. It accomplishes more in its first two episodes than this did in the four I gave it.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Ryuuou no Oshigoto!*/
/*The Ryuo's Work is Never Done!*/
td.td1 span#tagLinks35905:after, td.td2 span#tagLinks35905:after{
content: "\A The OP reminds me of Konosuba's but is even more annoying \A Hinatsuru is still as annoying as she was five years ago, her possessiveness is a gigantic bruh moment and I literally do not see how her tic is appealing or endearing in the slightest. \A Sora, Keika, and Yashajin are trapped in this awful show where Hinatsuru and Yaichi are somehow the main characters \A This show is much more bearable when it leans into its sports anime side instead of its loli harem side, but the lack of an engaging main character really pulls it down \A Well at least the bgm is good \A Hearing Tsudaken pull a high voice is kinda trippy \A in an alternate universe, Akashi is the protagonist and this show is a 10/10";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Ryuu to Sobakasu no Hime*/
/*Belle*/
td.td1 span#tagLinks44807:after, td.td2 span#tagLinks44807:after{
content: "\A Okay, first off, this movie does not look or sound that good, so I don't know why people are coping so hard about the visuals and soundtrack definitely totally being good. \A The more I think about this movie the more shit it gets. It's so hard to get all of it down because it just fucks up on every level imaginable. There's so many themes and focal points that it just botches all of them. The setting itself isn't exploited to the fullest extent and feels totally disconnected from the central conflict of the film. There are so many things that happen in the game world that just make me go WTF?!?!?!? \A Even the best scene in the movie, the Ruka/Shinjirou confession, was wasted potential. Why tf wasn't the guy at the counter there? It would've been so much funnier if he was reacting to the scene in the background. \A Suzu isn't even fucking ugly and she's legitimately a normie. \A My rewrite of this movie: Suzu is ugly, Ruka is the Beast, they are lesbians and fall in love. Scene \A Maybe I'll write better tags later but I'm fucking tired and this movie is shit";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
