/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Sabiiro no Armor: Reimei*/
td.td1 span#tagLinks39917:after, td.td2 span#tagLinks39917:after{
content: "\A I assume this is what RWBY looks like to people who aren't used to it \A Honestly once you get over the animation this show is just fucking boring \A Deku and Tanjirou in one show? Crossover of the century \A I was gonna keep watching for the live action segments at the end but I can't pay attention to anything that's going on";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Sagashimono (ONA)*/
td.td1 span#tagLinks40851:after, td.td2 span#tagLinks40851:after{
content: "\A The wavy lineart is nice when things are constantly moving, but shots where the fps slows down don't look as cool as they do cheap. In general I do like it. Music is kinda ehhh though.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Sasaki to Miyano*/
td.td1 span#tagLinks44055:after, td.td2 span#tagLinks44055:after{
content: "\A YamaTenn anime \A As glad as I am to have an adaptation of a bl manga with content that won't raise eyebrows, I can't say the main characters and their dynamic are particularly interesting. \"BL fan who ends up in a BL relationship\" just isn't all that fun or engaging for me (except for the scenes with Jiro and his deliquent uke-obsessed gf), and Sasaki and Miyano's dynamic feels like a lighter but still generic seme/uke one. It's really the side characters that kill this show for me - they're completely boring and take up too much screen time, even compared to the main pairing. At the very least it's competently directed and consistently pretty, though the geometry spam is funny at times. \A That hand-holding shot in the last episode is too lewd >///< I can only hope for a second season (or an adaptation of a better manga) that captures the same romantic feelings as the last episode for the entire cour. This show really makes me miss the fast pacing of other BL manga...";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Sayonara Gokko*/
td.td1 span#tagLinks39257:after, td.td2 span#tagLinks39257:after{
content: "\A Kinda suffers from being a music videos and weird cuts that seem to amputate scenes that needed a bit more time to reach their climax";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Sayonara no Asa ni Yakusoku no Hana wo Kazarou*/
/*Maquia: When the Promised Flower Blooms*/
td.td1 span#tagLinks35851:after, td.td2 span#tagLinks35851:after{
content: "\A Maquia's grip strength holy hell \A Whenever that baby speaks it's like he's talking into a tin can \A That flower pot sound effect sounds like shit \A Maquia's face just looks like it's melting... it's really hard to get me to like tareme eyes and this isn't working. I really don't like the shape of the character designs' faces in general. I guess the Iorph are meant to look childish, but some of the regular humans also look like blobs too? The sameface is strong too \A The voice acting for a lot of the secondary characters is like... that generic \"we don't want to hire generic anime voice actors\" voice, y'know. It ends up sounding like they're underacting, mumbling, or talking with grapes in their mouths. Really doesn't sell the drama lol. \A Sometimes this movie frames dramatic shots for scenes that REALLY don't deserve it. \"I'm sorry I said that, I'm sorry I said that,\" yeah, nobody gives a shit lol. Why do you get a upper-half-of-the-face-covered, downwards-view, center-screen, walking-towards-the-viewer shot for that lmao. It's overdramatic. Same with the music, it's so fucking heavy all the time. There's no levity at all. \a At least this movie has knights and armored horses and cool medieval stuff. I'd like to like the dragons too but the cgi is hideous. \A God they're really hammering in home the weird motherhood shit. \A The stray hairs trigger me \A In the end, I guess what this story is trying to say is that a 1000 year old immortal dragon loli will never love me romantically. I will always be her daughteru. :( \A I fucking adore how the medieval city looks. I'd love to see a movie exploring the innerworkings of the city and how it mechanically functions. \A Bro I hate Yuki Kaji's voice fr \A Krim cutting Maquia's hair reminds me of when I had naturally blonde tips and had to trim them off... sad times \A Childbirth is disgusting. this is a 1/10 sg2 bro \A I'm fucking bored. It sucks because the premise is so Partycore... why'd it have to be like this...";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Shigatsu wa Kimi no Uso: Moments*/
/*Shitgatsu wa Kimi no Uso: Moments*/
/*Your Lie in April: Moments*/
td.td1 span#tagLinks28069:after, td.td2 span#tagLinks28069:after{
content: "\A Kaori's character design is kind of horrifying \A I don't want to listen to little kid noises \A Please I'm begging you just cast different seiyuu to voice these CHILDREN, I can't stand Kaji Yuki's voice holy shit \A I wish they all died jumping off that bridge";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Shiki*/
td.td1 span#tagLinks7724:after, td.td2 span#tagLinks7724:after{
content: "\A The most based and blackpilled anime \A This show is fucking amazing and only gets better on rewatches. It's so forthright in laying bare the savagery of nature and life, the atrocities that humans and animals commit in order to continue to survive and reproduce. Such a wide variety of good, interesting, memorable characters, who you can only help but to pity and hate at the same time. This is perhaps one of the only anime out there which cuts through all the bullshit - the villain is not a singular character, a singular group, a singular society or ideology. It is nature itself, animalistic and unsustainable and ruthlessly amoral, and everyone is at once a victim and a perpetrator of its rule. \A Also it has what is probably my favorite soundtrack ever. I listened to it for years before I watched the show and I still listen to it all the time even now. Favorite tracks are Eau de Vie and SHI-KI.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Shikkakumon no Saikyou Kenja*/
td.td1 span#tagLinks47161:after, td.td2 span#tagLinks47161:after{
content: "\A This castle-town needs to hire a better topiarist \A Ngl it is pretty cute that Matty is obviously a badass and a show-off to boot but still gets all blushy-blushy around girls \A It's more impressive when the rules of the world are established more than ten seconds before they're pushed to their limits but whatever I guess \A Every line of dialogue in this show is dedicated to jacking off the main character, whether directly or indirectly \A TEACH ME MORE ABOUT MAGIC POWER CONVERSION RATE AND DIRECTIONALITY \A Wtf even is his goal or motivation? I'm halfway through the episode and I don't even understand what the point of everything that happened is \A I like the idea of \"Let's promote this deprecated style of magic by teaching its innerworkings to the new generation\" but when it's something as retardly simple to understand as incanted vs. wordless magic I don't really care. And of course this show skips over explaining the actual mechanics of wordless magic and why it's different from incanted magic, so what little intrigue this episode premise has even isn't expanded on.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Shinsekai yori*/
td.td1 span#tagLinks13125:after, td.td2 span#tagLinks13125:after{
content: "\A The sameface is real, everyone is equally soulless. At least Maria looks like Sasha, so I can stare at her and imagine she's Akashi :) \A Meanwhile whenever I look at Squealer I just see the Crunchyroll logo \A All of the outfits are hit-or-miss \A A few of the bgm tracks are good but the sfx in particular is just lol. Kaji Yuki and Amano Yuri are EXTREMELY lol. \A This show is just Pokemon \A wow \"infodump episode\" talented brilliant incredible amazing show-stopping spectacular never-the-same totally-unique completely-not-ever-been-done-before \A I love looking at shaky eyeballs mmm delicious \A Man this character acting is just not it \A tfw Saki is just Akane Tsunemori and I could be watching Psycho-Pass s1 rn \A tfw your Personality Index is just your Crime Coefficient and I could be watching Psycho-Pass s1 rn \A tfw I don't care about any of the characters and so everything that's happening means nothing to me \A Since they don't really set up limits for Cantus outside of \"people die when they kill\" I find myself constantly yelling at the characters to JUST USE YOUR POWERS. JUST USE THEM. DUDE. \A Even in the single scene where the characters are supposed to stay quiet so that they aren't tracked they just keep expositing........ \A Don't you just love when a series about how society fucking sucks ends with the main characters subjecting an innocent child to that very same society? Tbh they should have tried implementing a reproduction feedback along with the death feedback. Then all the Cantus users would naturally die out after a few decades and even in the rare case that a reproduction fiend shows up it still takes two to tango. Instead of perpetuating this world wherein everyone is a one-man army capable of inflicting harm onto tens of thousands of people, just like... stop? If they were able to code out murder is it really so hard to code out delayed murder?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Skip Beat!*/
td.td1 span#tagLinks4722:after, td.td2 span#tagLinks4722:after{
content: "\A The chins... \A Half of this show is unfunny gags and the other half is cringe drama. I don't like any of the characters so it's very annoying to watch.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Slow Loop*/
td.td1 span#tagLinks45425:after, td.td2 span#tagLinks45425:after{
content: "\A This show is kinda slow-paced and boring. It's kind of bad at visually explaining fishing and cooking, which is a shame because I probably would've kept watching it if it did. Instead it's bogged down by characters I don't care about and their family dynamics that I definitely don't care about. It's an interesting way to take a slice-of-life food anime, but it's just not very engaging. I'd rather just watch Yuru Camp, what with its two main characters basically having the same dynamic while also being cuter, cooler, and more entertaining. I look at Slow Loop's MAL character list full of cute girls and have no interest in learning anything about them... \A Flesh fangs get the rope";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Snow Halation*/
td.td1 span#tagLinks9930:after, td.td2 span#tagLinks9930:after{
content: "\A Not a fan of the outfits tbh, I don't care for the pastel colors and the vests. They look cold... \A At this point the song is an osu! classic lmao. It's good but the singing isn't noteworthy. \A The choreography at 3:58 looks pretty silly, what with them just singing on the street with nobody around. \A T POSE \A Not as moe as their first MV tbh";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Sono Bisque Doll wa Koi wo Suru*/
/*My Dress-Up Darling*/
td.td1 span#tagLinks48736:after, td.td2 span#tagLinks48736:after{
content: "\A The OP visuals alone sold me on this show \A It just hits that perfect combination of \"guy I'd totally be into\" and \"girl I'd totally be into\" and \"couple I totally want to root for\" that makes good romance shows good. Though it feels a little weird because I relate more to Gojou than Marin. Beautiful extroverted non-normies are just on a different level than the rest of us.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Star Wars: Visions*/
td.td1 span#tagLinks49357:after, td.td2 span#tagLinks49357:after{
content: "\A 3 > 8 > 4 > 9 > 5 > 1 > 6 > 2 > 7 \A Disney subs broke \A I know nothing about Stat Wars, I'm just here for Imaishi and Eun-Young Choi \A I really feel as though the shit Star Wars transitions creatively hamper every short they show up in \A ep1: I love the dust sfx, it really adds a whole new dimension to the artwork. Spot coloring is delicious as well, though honestly it should have only been used for reds. \A ep2: The CGI looks so out of place. Needed a better song too tbh. \A ep3: I am gay, straight, bi, and ace for Hiroyuki Imaishi, and Sushio and Shigeto Koyama are my homies. An is cool as hell. \A ep4: How are all the character designs in this short so fucking sick. F is my wife now. \A ep5: Kara's kinda a qt and baller as fuck. I wish the fights had more detailed gore though. \A ep6: Unfortunately the novelty of it wears off pretty quick, so it just makes me think of how I like the aesthetic of Tetsuwan Atom 1980 so much more than this lol. Some of the scenes are kinda paced weirdly. \A ep7: Not You Yoshinari, I sleep. Ngl this kinda looks like shit. Sfx hurts my ears too. \A ep8: They gotta stop having these fair-skinned dark-haired ladies resolutely cut their braids bro, my heart already belonged to F and Oucho stole it away~! Also heartfelt adoption is based. \A ep9: Stop with these ear-piercing sfx plz. Also based villain route. If Masago had a cooler design this shit woulda made me coom.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Steamboy*/
td.td1 span#tagLinks565:after, td.td2 span#tagLinks565:after{
content: "\A Not to repeat what everyone else has probably said but tbh Laputa is cooler. The contraptions in this movie are cool and funny and stuff but since a lot of them aren't hand-drawn they don't give me the same sense of awe and wonder as Laputa's world and machines. Honestly Steamboy is at its best when it's being slapsticky. The plot is boring and the uninteresting exposition and weird hard cuts make it even more difficult to follow and get invested. Also it's desaturated as fuck, especially inside the Steam Tower. I get the aesthetic it's going for, but I would've preferred something more colorful.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Subete ga F ni Naru*/
/*The Perfect Insider*/
td.td1 span#tagLinks28621:after, td.td2 span#tagLinks28621:after{
content: "\A I feel like the character designs need more lining and detail to pull off the aesthetic they're going for, cuz right now they just look ugly and half-baked with disproportionate heads. The eyedrop shot pulls it off the best, but it's so striking precisely because it's so different. Moe in particular just looks like a shittier version of Akane Tsunemori. Maybe I'm just an autist \A Moe's romance plot and her character traits in general are just fucking annoying \A Lol what's with the single Chinese person who sucks at Japanese \A The smoke sfx actually bothers me \A 13yo Shiki 😳😩 \A At least the door opening in ep2 is cool, even if watching it makes my head hurt \A Like damn I wanna know the solution to the locked room mystery but I don't want to experience it through these characters :/";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Suite Precure♪*/
td.td1 span#tagLinks9893:after, td.td2 span#tagLinks9893:after{
content: "\A There's exactly one thing I find interesting about this Precure series and that's Hibiki and Kanade being former childhood friends and generally a bit antagonistic and catty towards each other. Otherwise it feels completely bog standard and boring to watch. Everything it does Fresh Precure does better. I stopped giving a shit at about the time it became clear they were just copy-pasting Eas into Siren. \A What really weirds me out about this Precure series is its main motif. With other series, it was pretty clear that shit like drought and desertification are bad things. But in this series, the Precure are fighting against... sad music? The implication is that art that conveys negative emotion has no right to exist, and it becomes all the stranger when you realize that the main villain's motivation of \"Removing all pain from the world by silencing all music\" seems to line up perfectly with the beliefs of the people we're supposed to be rooting for. \A The final moral of the series is the glib and generic \"Life is hard but it's still good\" message that End of Evangelion already perfected fifteen years ago, but the wording the protagonists use just puts a rotten taste in my mouth. Would the Precure tell a human trafficking victim, who's beaten and raped every day, to \"overcome their sadness, over and over again,\" because it'll let them \"become their true self?\" Remember that Noise is literally composed of ALL HUMAN SADNESS, every horrifying thing that's ever been inflicted on another human being, from slavery to war to death and despair. This message works up until you remember the sheer depth of humanity's capibility for suffering... most of the time people don't become better when they're hurt, they just get traumatized. Some shows acknowledge this, but yeah, this kiddie shit clearly doesn't fucking care.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
