/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Taisei Kensetsu: Singapore*/
td.td1 span#tagLinks38065:after, td.td2 span#tagLinks38065:after{
content: "\A The sad story of a girl forced to put her work over her friends... also swipe keyboards are cool";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Takamiya Nasuno Desu!: Teekyuu Spin-off*/
td.td1 span#tagLinks28861:after, td.td2 span#tagLinks28861:after{
content: "\A Yeah, I can see why this got cancelled. (The OP is actually okay though.) \A How many fetishes is Nasuno trying to give this poor man?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Takt Op. Destiny*/
td.td1 span#tagLinks48556:after, td.td2 span#tagLinks48556:after{
content: "\A The banter is so fucking boring, it just feels like tropes shouting at each other with no dynamism \A I was gonna give this show another ep or two to redeem itself before dropping since it's visually strong and I want a good show with its premise (set in America, musical motifs and theming), but honestly all the circlejerking and counter-circlejerking MAL threads that show up on the \"Popular New Topics \" list just leave me completely unenthused. Also stop posting this shit on osugame you unfunny troglodytes.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Tamashii Insert*/
td.td1 span#tagLinks34795:after, td.td2 span#tagLinks34795:after{
content: "\A Obligatory \"the manga is better\" \A EW THE ASSHOLES EW WHAT THE FUCK \A Bro how is he gonna clean up? Why did they stop animating after that? Lemme see him freak out and try his best to redress her and clean the couch before she wakes up LOL \A Why the hell are they hiking their school uniform skirts so high up? Surely they would get told off my the teachers, right? Maybe everybody in this world is a boob man. \A Wtf is the pissing scene? God why? Sorry, I lied, I hate this manga. \A Kitsune-kamisama scene isn't as hot when she can't shapeshift... I'm kind of disappointed with this adaptation.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Tarareba*/
td.td1 span#tagLinks39568:after, td.td2 span#tagLinks39568:after{
content: "\A If I only I was a circle mapper :( then I could make circle maps :( \A The art style makes me think of dried glue, so I don't really like it that much.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Teekyuu 7 Specials*/
td.td1 span#tagLinks32817:after, td.td2 span#tagLinks32817:after{
content: "\A Finally some backstory for Flandre Scarlet. (I watched Teekyuu 9 before this so when she showed up I had no idea who she was. Though I didn't remember who Tomarin was either lol so maybe I just forgot about her. Just like Nasuno did!)";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Teekyuu 9*/
td.td1 span#tagLinks35370:after, td.td2 span#tagLinks35370:after{
content: "\A That ED sure is something. \A \"If you're worried about nature, mankind going extinct is the best solution.\" Y E S \A Is Teekyuu now idolshit? \A Is Teekyuu now the K-On! prequel? \A Is Teekyuu now a Touhou spinoff? \A Am I a true anime fan now that I finally appreciate Teekyuu?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Tenkou Kotofumi*/
td.td1 span#tagLinks32297:after, td.td2 span#tagLinks32297:after{
content: "\A Nice music \A Is this discount Touhou lol?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Tetsuwan Atom*/
/*Astro Boy*/
td.td1 span#tagLinks2747:after, td.td2 span#tagLinks2747:after{
content: "\A 53, 104, 112, 115, 122, 125, 127, 128, 129, 132, 138, 139, 141, 142, 143, 144, 145, 146, 148, 152, 155, 158, 161, 165, 171, 174, 179, 180, 182, 183, 185, 187, 189, 192, 193 \A The episode order for this show is absolutely fucked \A Watched episodes 1 - 104 in English and episodes 52 - 93 and 105 - 193 in Japanese \A Can't believe Truck-kun has been killing anime protags since 1963 LMAO \A Some of the concepts in this show are really interesting, and the show introduces a new one every single episode. \A also the dub is inherently hilarious to me lmao \A Atom's little sister, Uran, is a fucking maniac and I love her. A dainty little girl who's actually a badass robot with no social awareness that just wants to beat people up and break shit. \A The existence of Cobalt blows my fucking mind \A Does the Shirobako movie reference the viking pirate episode (dub 57) or am I being Baader-Meinhof'ed? \A This one character in episode 144 looks uncannily similar to Joe Shimamura and I don't know what to believe \A All of the best episodes of this show are the ones where Atom is fucking depressed";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Tetsuwan Atom (1980)*/
/*Astro Boy (1980)*/
td.td1 span#tagLinks3044:after, td.td2 span#tagLinks3044:after{
content: "\A The colorwork is so nice and pleasant and almost always features my favorite shade of red \A The idea that robots can only become human if they kill other living beings is a pretty interesting twist on Asimov's Laws. Even though it's not really used that much, if at all, lol. \A Atlas being a knight on a flying horse is exactly what I wanted from Utena and never got, god bless \A Atom's energy depletion is kind of cheap as a plot device \A Since Atlas' episodes are spaced out throughout the show it doesn't really feel like he's as big of a threat as he's meant to be. His last episode still made me cry though. \A Anyway, good shit, and it was really cool to see some of my favorite episodes from the 1963 series get a fresh coat of paint";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Tetsuwan Atom Uchuu no Yuusha*/
/*Astro Boy: The Brave in Space*/
td.td1 span#tagLinks10342:after, td.td2 span#tagLinks10342:after{
content: "\A The color palette of this film is very nice, desaturated blues, creams, and reds that pop off the screen but are still easy on the eyes. But ultimately it's just a compilation episode so meh.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
  
/*The iDOLM@STER Live For You!*/
td.td1 span#tagLinks4033:after, td.td2 span#tagLinks4033:after{
content: "\A Very strange to see these girls drawn in such a simplified style. \A WTF MIKI LITERALLY DRUGGED HER FRIENDS. LOCK HER UP. No wonder she wasn't in Xenoglossia.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*The SoulTaker: Tamashii-gari - Komugi Daisakusen*/
td.td1 span#tagLinks3849:after, td.td2 span#tagLinks3849:after{
content: "\A Fucking spnsubs in my engsub nyaa category \A Komugi-chan is kawaii aesthetic personified tbh \A First ep is good, second ep is literally Magikarte's OP, third ep is unexpected mecha";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*This Is Not Blue*/
td.td1 span#tagLinks42836:after, td.td2 span#tagLinks42836:after{
content: "\A God yes I did paint animation so much. FUCK YES DRIFT DRIVING DRIFT DRIVING GOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOD YES FUCKING EXQUISITE ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Top wo Nerae! Kagaku Kouza*/
/*Gunbuster! Science Course*/
td.td1 span#tagLinks5462:after, td.td2 span#tagLinks5462:after{
content: "\A These chibi proportions are fucking weird. They look like clay statues of women made by ten-thousand-year-old ancient cultures. \A All of this went over my head. Uhh, most of this is made-up science... right? ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
