/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Uma Musume: Cinderella Gray*/
td.td1 span#tagLinks38835:after, td.td2 span#tagLinks38835:after{
content: "\A Eps 1-3 are pretty standard, 4-6 are fantastic with 6 being particularly standout, then the show kind of... simmers back down to being just good. You get a glimmer of the same tension of ep 6 during Tenno Sho Autumn but the pacing is noticably slow and it's lacking in interpersonal drama between Oguri Cap and Tamamo Cross, the former taking a backseat to let the latter shine. (Ep 6 was just seriously, fucking amazing and really captured why I love sports anime.) \A Overall I feel as though the pacing post-ep6 is just way too fast. There's a lot of opportunity to flesh out the characters and show Oguri training up skills and strategies to use in races, but they're almost never taken advantage of. It feels more like a speedrun rather than a gauntlet, with most races following the same formula of Oguri kansei drifuto aura farming her way to victory. (The lack of depth is probably most apparent with the weird one-off remarks about asheh haired uma musume not being able to race, which makes sense if you know the historical context, but is really not expounded upon in any way. I'm not asking them to add RWBY-style horse girl racism, god forbid, but like. why ashen haired umas. sakura chiyono o has pink hair. just imagining an anime where people discriminate against pink haired women is hilarious to me) \A also shoutout to ep 8 for making me forget oguri never ran in that race and shout out loud \"SHE WON THE DERBY BY SEVEN LENGTHS??!?!?!?!?\" \A I miss Kitahara. He's really taking the Leorio route and Roppei just doesn't bring the same passion to the show that he did. \A can we talk about the yuri potential though. I need more Belno and March interaction because I don't want either of them to lose at becoming Oguri's gf and an ot3 is the perfect way to fix that!!!!!!!";
color: #3b7ddb;
font-size: 12px;
}

/*Uma Musume: Pretty Derby - Road to the Top*/
td.td1 span#tagLinks51761:after, td.td2 span#tagLinks51761:after{
content: "\A why is Nendo in this anime \A Opera is pretty undercooked even in comparison to the other two who are already fairly shallow. Her over-the-top personality feels like it negatively impacts the rest of the show - I guess it's like, each of the three girls has a stand-out character trait, and Opera's being played up solely for laughs reduces the believability of Ayabe's, which really should be a heartwrenching story of the pain of survivor's guilt, but instead is just kind of baffling in the way it's portrayed, and doesn't really click into place until like... the last few minutes of ep4. For as cute as Top Road is, her arc and motivations are pretty basic shit that you can find anywhere else, taking up a ton of screentime to communicate simple ideas, as if she was only made the central character because of her irl race wins. Overall, pretty predictable story, with the lack of connection between each characters' struggles making it hard to become emotionally invested. \A race endings were pretty underwhelming but ep4's race is a delicious taste of what's to come in shin jidai";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Umayon*/
td.td1 span#tagLinks38835:after, td.td2 span#tagLinks38835:after{
content: "\A Will we ever get the mobile game... It's fun to see all these character designs, some of which I recognize, some of which I drew, and none of which I can play as... :( \A The tagged episodes are fun, the rest are completely boring. What can I say, I love ramen and gyuudon :3 \A The bgm for episode 11 is pretty good though.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Umi no Yuurei*/
td.td1 span#tagLinks39875:after, td.td2 span#tagLinks39875:after{
content: "\A Guessing this footage is from the movie? It's fairly pretty. Though it's weird to see the discrepency between the modern character art, the eyelashes, the painterly backgrounds, and the cgi water.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Usakame*/
td.td1 span#tagLinks32454:after, td.td2 span#tagLinks32454:after{
content: "\A Live action ED? Lmao? Seeing the seiyuu try to sell this anime and act excited about is... really... weird........ \A The color pencil effect, while somewhat unique for a super-limited-animation gag anime, looks really artificial and almost generic. I think I prefer the art style of Teekyuu more, but this show has some really good character designs in Sora and Miyako (though Ayako's design is boring). \A Kinako is best girl, I adore her low-pitched voice and off-color remarks. also KINAKO IN A SUIT <3 \A that Teekyuu crossover tho";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Usakame Special*/
td.td1 span#tagLinks34615:after, td.td2 span#tagLinks34615:after{
content: "\A Focuses on best girl and girl-with-good-design, but unfortunately still boring.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Uta no☆Prince-sama♪: Maji Love 1000%*/
td.td1 span#tagLinks10321:after, td.td2 span#tagLinks10321:after{
content: "\A There are some emotional stories in this show, like Tokiya's and Masato's, but they're dragged down by all the harem juggling and WTF moments. The comedic elements just undermine the dramatic elements, they don't work together at all. Haruka, Ren, Natsuki, and Cecil in particular ruined any chance of me liking this show. \A Honestly I kind of stopped paying attention around episode 9 \A I do like the ED dance animation though, and Elements Garden's bgm is great as always";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
