/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*White Album*/
td.td1 span#tagLinks4720:after, td.td2 span#tagLinks4720:after{
content: "\A A harem show with a twist - the main character already has a idol girlfriend, but is unable to communicate with her. Yuki's single-mindedly focused on her career, and Touya's stretching himself too thin. He's constantly being used and manipulated by the other girls while also stringing them along, unable to say no to them and push them away due to his disconnection with Yuki. It's a story about deeply flawed and thoroughly pathetic people falling in love with each other, and that's kindaaa cool. \A The atmosphere totally carries this show. The depressive music, the unorthodox split-screens, the sense of wrongness permeating every episode. The character acting animation really shines through in showing their feelings without words - and the text on screen, the literal thoughts of the characters, do a great job at fleshing out otherwise obscure scenes through telling. I especially love the moments where the backgrounds and characters take on a more painterly aesthetic, the moments where the characters are at their weakest emotionally, where they cling to the idealized image of the people they feel they can depend on. If anything, watch this for the atmosphere alone. \A Also I really want to play the VN but I'm a dumbass and can't set up a virtual machine lmao";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*White Album 2nd Season*/
td.td1 span#tagLinks6165:after, td.td2 span#tagLinks6165:after{
content: "\A The only harem anime where I feel like it's my fault I don't understand why the girls love the guy \A Honestly this show would be really good if wasn't so cryptic. There's tons of fantastically executed scenes and reveals and the way the characters lie to and deceive each other is just fascinating to watch. IDOLiSH7 is still my favorite idol-based character drama, but White Album's atmosphere is unmatched. \A Please tell me the game has a RinaYuki yuri route \A I love how everything comes together at the end, though it still feels like I need to rewatch this show to fully understand it.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*W'z*/
td.td1 span#tagLinks37509:after, td.td2 span#tagLinks37509:after{
content: "\A OP animation and aesthetic is actually good wtf \A MORE HAND SHAKERS CONTENT \A I like that the main boy and main girl actually confess and get together, even if it came after shit tons of miscommunication drama \A Break and Bind are cute actually, proving my Japanese lit teacher's theory that masochists are the most based and redpilled people \A Tazuna and Koyori :') they grow up so fast \A I don't know wtf happened in the story but honestly the antagonist is pretty based. If MC can bring people to the Ziggurat at will then what's stopping him from literally solving world hunger via infinite resource farming? \A I'm glad we have yaoi Hand Shakers and yuri Hand Shakers, W'z is truly the most progressive piece of media ever created";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
