/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Yes! Precure 5 GoGo!*/
td.td1 span#tagLinks3692:after, td.td2 span#tagLinks3692:after{
content: "\A The transformation sequence animations (for Dream, Rouge, and Lemonade especially) are AMAZING. \A I salute Hironori Tanaka for making the best two episodes of the show, 4 and 18, as beautiful as they are. \A Syrup's a mailman and that's why I like him. It's so cute that he looks up to Santa Clause... he's so cute. And as always, Miruku and Urara are great. \A The villains are pretty cool this time around. They're basically dimension-jumping curio collectors. Anacondy's got a cool design (and the actually-Medusa twist is FUCKING KINO), Shibiretta has a REALLY cool gimmick in her fairy tail pocket dimensions, Yadokhan and Isohgin are legitimately funny, Mucardia takes a new and deceitful approach, and Bunbee is forever. \A The one thing that really bothers me about this season is the Precure splitting up in fights and getting solo special moves. I know it's because they want to explore pairings that don't involve all five of them, but it just feels weird because in the first three Precure, it was such a huge plotpoint that they NEEDED to hold hands in order to pull off their finishing moves. Also, more time replaying stock special move animations means less time spent on actual physical fight animation. The Fleurets are a particularly bad offender. \A The finale really ties everything together. This is the BEST Precure's symbolism and theming has been so far.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Yes! Precure 5 GoGo! Movie: Okashi no Kuni no Happy Birthday*/
td.td1 span#tagLinks4703:after, td.td2 span#tagLinks4703:after{
content: "\A This is a vore movie. \A I want to live in this world where calories canonically don't exist... \A Evil Lelouch Coco kinda hot ngl. The kiss scene was the closest I ever got to shipping CocoNozo. \A Nice to see Precure bringing back feathery transformation outfits like Futari Movie 2's and Splash Star's. Anyway, nice animation, boring story, as per usual.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Yokohama Kaidashi Kikou*/
/*Yokohama Shopping Log*/
td.td1 span#tagLinks975:after, td.td2 span#tagLinks975:after{
content: "\A Just an android girl vibing in the countryside. First episode is better than the second. \A Sometimes this anime uses crosshatch shading, and it doesn't always work. \A Calming and peaceful pastel watercolor backgrounds, I wish anime still looked like this. The shots of the city underwater are pure kino. \A In the future, robots will send direct messages to each other through lesbian tongue-kissing. LET'S GOOOOOOOO \A Alpha feeling squeamish about using the camera because the lens is made out of the same thing as her eyeballs is a lol. The worldbuilding in this series is pretty understated but it's really good.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
