/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Another*/
td.td1 span#tagLinks11111:after, td.td2 span#tagLinks11111:after{
content: "\A Super boring and slow at points, tries to make it up with the end-of-episode hooks but they're mostly just lame because of how obvious they are. At the very least, the death scenes and characters' reactions to them are nicely animated and expressed, and I appreciate how the narrative structure(?) changes after major reveals and plot twists. \A Sakakibara has way more going on than what I expected, going into this show. He wants to go to a fine arts school, he likes horror novels, he can cook, he's actually proactive in solving the mystery - on the other hand, Misaki's unexpectedly boring and her reticent demeanor works against her. Like when she just slowly walks away from poeple trying to shank her, or how she doesn't admit that Reiko is the extra until the last episode... \A Are there doujinshi about either of these two jerking off in the middle of class? lmao \A Dream sequence in episode 7 is sick, wish the entire show was so aesthetic.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Another: Misaki Mei - Shizukani*/
td.td1 span#tagLinks20365:after, td.td2 span#tagLinks20365:after{
content: "\A Where is Sakakibara? Get this grill out of my face wwww";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Another: The Other - Inga*/
td.td1 span#tagLinks11701:after, td.td2 span#tagLinks11701:after{
content: "\A TWINCEST YURI TWINCEST YURI \A Mei's a biter and Misaki's a licker. This is very important information. \A Nevermind, this progressed into sexhara real fast ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Ayakashi: Japanese Classic Horror*/
td.td1 span#tagLinks586:after, td.td2 span#tagLinks586:after{
content: "\A OP is hilariously out of place, ED is pretty good. \A Yotsuya Kaidan: I always appreciate live action footage in anime. Anyway, this is pretty middle-of-the-road 'shitty people doing shitty things.' Just watch Shiki and Old Boy. \A Tenshu Monogatari: Even though this is generic, I like the falconer and the Forgotten God. It's got some thematic intrigue but doesn't dig too deep into it. \"You could say I am a Forgotten Human\" is the best line in this entire show... but yeah, just watch Shiki. \A Bakeneko: Aesthetic brilliance, don't really care for the story though.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Bakemono no Ko*/
td.td1 span#tagLinks28805:after, td.td2 span#tagLinks28805:after{
content: "\A Hosoda's such a furry lmao, respect. \A It's cool how by the time the movie is halfway through we've spent so much time in the 'beast world' that the 'human world' has become the 'unknown' which hero Kyuuta traverses into (though I don't really relate to him wanting to go back). \A Ichirouhiko's got such a cool and cute design, it's too bad he went batshit. THAT SHOT OF HIM RUNNING THROUGH THE CROWD LOL. \A Imo, this was too slow-paced and the climax (and themes) are boring and predictable as fuck.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Burn the Witch*/
td.td1 span#tagLinks41468:after, td.td2 span#tagLinks41468:after{
content: "\A Everyone say it with me: Fuck Balgo. \A Like I guess the main characters are pretty hot and Noel's eyefucking the audience 24/7 but this shit is boring as hell. Very nice visuals with thin, wispy lineart and bold, solid coloring, and the setting is mildly interesting, but I couldn't care less about the story and characters. Seriously, I want to get engrossed in this beautiful, magical world, but all I can think while watching this is, \"I don't care.\" \A At least we have lesbian Hayami Saori uwu \A Bruno's spray-painted magic circles are really cool. His moving skellyman mask too, but imagine if he was a mouthbreather. \A Crown Council more like Clown Council \A Real talk how did they get through that entire explosion-filled fight scene without any clothing damage. Once you see the first shot of Cinderella absolutely ass-blasting Reverse London and the reaction shot of the characters just... not really caring about how ANYONE might've died... It just feels like it's MEANT to be high tension but we're barely shown the actual effects of anything that happens, so who gives a shit?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Dorohedoro*/
td.td1 span#tagLinks38668:after, td.td2 span#tagLinks38668:after{
content: "\A Ebisu is kind of amazing. \A It's terrible how this show makes gyoza and meat pies look so tasty before ruining my appetite with vomit and gore, lol. We gotta appreciate Noi for healing so many gruesome wounds. \A fuckin' Yahya got an anime adaptation \A CGI isn't as snappy as it should be, it feels weird to watch most of the time. Sensei's beard looks like magic marker lol. The backgrounds are glorious though.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Dorohedoro: Ma no Omake*/
td.td1 span#tagLinks41053:after, td.td2 span#tagLinks41053:after{
content: "\A The flowers on Shin and Noi's masks are adorable :') \A Love the sketchy artwork and limited animation. \A Noi's casual outfit..............";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hinamatsuri*/
td.td1 span#tagLinks36296:after, td.td2 span#tagLinks36296:after{
content: "\A Hondo Kaede has such a pretty voice! \A The delicate linework combined with the strangely detailed and grounded animation works wonders to legitimize the unpredictable narrative and breakneck tone shifts as real and entirely sincere. Also this is legit my mom's favorite anime, she thinks it's a 10/10 lol.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hisone to Maso-tan Digest Douga*/
td.td1 span#tagLinks39448:after, td.td2 span#tagLinks39448:after{
content: "\A Pretty interesting 'animation' style. Aoki Toshinao's art is very cute and it's funny that the same dude narrates and voices everything.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Issho ni Sleeping: Sleeping with Hinako*/
td.td1 span#tagLinks7897:after, td.td2 span#tagLinks7897:after{
content: "\A I really want to see what the recording room looked like. Did they loop her sleeping noises or... \A Is this actually a realistic depiction of the REM sleep cycle? \A Tbh that two second shot of her fiddling with her fingers is the hottest thing here. \A VEGGIE TALES PLUSHIE VEGGIE TALES PLUSHIE \A weighs herself with her clothes on weirdchamp";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Issho ni Training Ofuro: Bathtime with Hinako & Hiyoko*/
td.td1 span#tagLinks9744:after, td.td2 span#tagLinks9744:after{
content: "\A I might actually try these stretches lol. \A Two girls are better than one. \A mfw 19:20 \A So... the viewer is canonically an actual \"3D\" person in Hinako's word. wtf";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Issho ni Training: Training with Hinako*/
td.td1 span#tagLinks6392:after, td.td2 span#tagLinks6392:after{
content: "\A Holy fuck, Hinako's canonical backstory is that she got isekai'd into being an anime character. \A This is just Burn Your Fat With Me... \A THE BOOB JIGGLE SOUND EFFECTS. THE BOOB JIGGLE CLOSE UP. I'M LOSING MY SHIT \A Bruh when she starts swapping into underwear and gym clothes outfits... And the sound files change from her counting to moans... Imagine if this was a customizable dress-up flash game lmao.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Jujutsu Kaisen (TV)*/
td.td1 span#tagLinks40748:after, td.td2 span#tagLinks40748:after{
content: "\A Why are none of the normies weirded out by MC's freakish athletic abilities? Nobody even pants when they run, so maybe this world is just fucked like that. \A cool OP visuals, feels a lot longer than 1:30 for some reason lol \A The thick, ink-like lines are so pretty. \A The flashback dialogue is really unneccessary LMAO \A I appreciate the dedication to drawing the guys' eyelashes";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kimi no Suizou wo Tabetai*/
td.td1 span#tagLinks36098:after, td.td2 span#tagLinks36098:after{
content: "\A Honestly, this movie is lazy as fuck. To explain I'll break it down into three topics: the themes, Sakura, and Haruki. \A It seems like this movie primarily focuses on two themes: \"Living is about the connection you have with other people,\" and \"Death can happen at any time.\" But honestly, the way the movie handles these themes makes it seem as if they're contradictory - it can't focus on one without undermining the other. This is most apparent during Sakura's death and the aftermath. Sakura dies in a way entirely disconnected from the other characters, stabbed to death by some unnamed, no-faced rando, completely alone (as if the movie is trying to say, \"No matter how many relationships you have, you're going to die alone, lozer!\"). But the next time we see Sakura, she's in some pretty sundress, walking around a dreamscape, watering symbollic flowers and shit - the terror of Sakura's horrific, violent murder is completely swept under the rug in favor of the movie's more optimistic theme (\"Yeah, life may be full of tragedy, but who gives a shit! Living's totally worth it!\"). The movie attempts to tie together these wayward themes by throwing the viewer a bone, \"Look! Sakura read Haruki's message!\" But none of it works. \A Then we move onto Sakura. Honestly, she feels like a complete noncharacter. She only serves as a vehicle for these half-baked themes and as a plot device for Haruki's development. None of the things which happen to her actually FEEL like they're happening to her - she's dying, but she doesn't act like a dying girl. Even when she's stabbed to death, we never see her corpse, only the ideal image of Sakura in Haruki's head. Furthermore, Sakura's fucked-up behavior is never called out. She's basically holding her imminent death over Haruki's head in order to string him along on dates? But hey, I'd be okay with all of this, if Sakura weren't such a big part of the movie, when the movie SHOULD be about Haruki. \A Haruki is honestly where the movie completely loses me. I mean, I like him. He's handsome, he's got a nice voice, he reminds me of me but not so much that I get disgusted. The problem is that the movie doesn't follow his character development at all. By the time Sakura dies, Haruki has decided... that he WANTS to become someone like Sakura. He hasn't actually taken any steps towards doing so. Like sure, he was dragged out of his comfort zone. Big whoopee. Real easy to do that when he's got an outgoing, extroverted girl like Sakura who will literally forgive his every misstep and reacts to all of disagreeable traits with \"haha ur hilarious lol.\" The entire movie focuses on this shallow \"development\" instead of, you know, an actual point of conflict? The fact that he now has to try convincing each of his classmates to become friends with him? Most of whom dislike him, and will probably come to despise him once they find out he kept Sakura's terminal illness a secret. The movie skips over this entire plot point and just shows us the results in the epilogue, so it just feels entirely unearned. Also, his new haircut fucking sucks.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*K-On!!: Ura-On!!*/
td.td1 span#tagLinks9203:after, td.td2 span#tagLinks9203:after{
content: "\A Yui and Sawako are kind of horrifying. Sawako can't even open her mouth to scream... \A The way they animate the girls being blobs and blobbing around lol. Talk about squish and stretch \A Azunyanyanyanyanyan. \A Please let Mugi conquer the world. \A LET THE KEIONS RAP";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Macross 25th Anniversary: All That VF Macross F Version*/
td.td1 span#tagLinks5165:after, td.td2 span#tagLinks5165:after{
content: "\A The music is better in this one. Rock on, Sheryl Nome! \A I almost thought those images of Ranka and Sheryl were diagetic lol. Imagine an actual VF in the Macross Universe with Ranka's face painted on it. (Wait, I don't need to imagine it. It happened.)";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Macross 25th Anniversary: All That VF Macross Zero Version*/
td.td1 span#tagLinks5164:after, td.td2 span#tagLinks5164:after{
content: "\A Looks like toys photographed in front of a poster print out";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Macross Fufonfia*/
td.td1 span#tagLinks4939:after, td.td2 span#tagLinks4939:after{
content: "\A https://www.nicovideo.jp/watch/sm3968936 \A https://www.nicovideo.jp/watch/sm4538900 \A https://www.nicovideo.jp/watch/sm4897183 \A Fear the wrath of Klan. \A The endcard where Ranka holds a toy VF is pretty cute. \A yo Alto in a suit tho?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Mahou no Tenshi Creamy Mami: Lovely Serenade*/
td.td1 span#tagLinks4126:after, td.td2 span#tagLinks4126:after{
content: "\A Just seeing Yuu's stupid fucking face is enough for me to relive how much I hated this show lmao.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Mahoutsukai no Yome*/
td.td1 span#tagLinks35062:after, td.td2 span#tagLinks35062:after{
content: "\A So slow paced. It feels like every episode is dragged out to be twice as long as it needs to be.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Makura no Danshi*/
td.td1 span#tagLinks30705:after, td.td2 span#tagLinks30705:after{
content: "\A I appreciate how creative this series gets with finding situations where the self-insert is sleepy, but, unfortunately, none of the boys are hot, cute, or cool lol. Series like these are only good for finding more seiyuu. \A This anime basically only has sound for the character's voices and it's really weird because I keep thinking I accidentally muted.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Mini-Chara Macross*/
td.td1 span#tagLinks31494:after, td.td2 span#tagLinks31494:after{
content: "\A Don't mind me, just realizing that I fucked up and missed some entries for Idoltrain. lol. (dying inside) \A I love this song so much...";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*One Room Second Season*/
td.td1 span#tagLinks36431:after, td.td2 span#tagLinks36431:after{
content: "\A Man Impresses Girl by Showing Her How Well He Can Blow \A If only this was an actual romance and not a self-insert. \A tfw she puts the ring on the wrong hand \A ED 10 is the best one. OL Support Squad!";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*One Room Second Season Special*/
td.td1 span#tagLinks38789:after, td.td2 span#tagLinks38789:after{
content: "\A NOT EVEN ANIMATED. LMAOOO \A That first image looks jank as fuck. Her neck and head are at such an awkward angle. \A JESUS CHRIST THAT OL OUTFIT >////<. I'm so fucking predictable \A bruh the cleavage in the fifth image";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*One Room Third Season*/
td.td1 span#tagLinks41364:after, td.td2 span#tagLinks41364:after{
content: "\A I'd totally buy Akira's carrot pen if they released it as merch. And Akira's seiyuu, Tomita Miyu, has a nice voice! \A Didn't realize this was currently airing lol.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Pony Metal U-GAIM Promotion Film*/
td.td1 span#tagLinks19279:after, td.td2 span#tagLinks19279:after{
content: "\A Pretty weird. Would I watch it if this series existed? Well, I'd be obligated to. \A That girl in red belonds in Henkei Shoujo.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Precure All Stars GoGo Dream Live!*/
td.td1 span#tagLinks10549:after, td.td2 span#tagLinks10549:after{
content: "\A No Kaori and Michiru, feels bad man. \A It was actually amazing seeing Nagisa and Honoka's iconic OP animation integrated into an actual fight scene.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Room Mate*/
td.td1 span#tagLinks34393:after, td.td2 span#tagLinks34393:after{
content: "\A Is this show taking the piss or is it just THAT dumb? \A The dumb chuuni being revealed as an actor practicing his roles... The prim-and-proper dude's first appearance being half-naked and fresh out of the shower... fucking titty jiggles... it has to be self-aware. There's no other explanation. \A THE CLOTHES FADING AWAY IN THE EDs LMFAO. At this I'm only watching the show to what kind of weird shit they pull in the ED, because everything else is boring as fuck.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Shiki*/
td.td1 span#tagLinks7724:after, td.td2 span#tagLinks7724:after{
content: "\A This show is fucking amazing. I might seriously have to give it a 10 and move it up to being my #4, because I seriously think about it all the time. It's so forthright in laying bare the savagery of nature and life, the atrocities that humans and animals commit in order to continue to survive and reproduce. Such a wide variety of good, interesting, memorable characters, who you can only help but to pity and hate at the same time. This is perhaps one of the only anime out there which cuts through all the bullshit - the villain is not a singular character, a singular group, a singular society or ideology. It is nature itself, animalistic and unsustainable and ruthlessly amoral, and everyone is at once a victim and a perpetrator of its rule. tldr SHIKI IS GOOD WATCH IT \A Also the music is PEAK DECULTURE. Eau de Vie especially.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Skip Beat!*/
td.td1 span#tagLinks4722:after, td.td2 span#tagLinks4722:after{
content: "\A The chins... \A Half of this show is unfunny gags and the other half is cringe drama. I don't like any of the characters so it's very annoying to watch.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Takamiya Nasuno Desu!: Teekyuu Spin-off*/
td.td1 span#tagLinks28861:after, td.td2 span#tagLinks28861:after{
content: "\A Yeah, I can see why this got cancelled. (The OP is actually okay though.) \A How many fetishes is Nasuno trying to give this poor man?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Teekyuu 7 Specials*/
td.td1 span#tagLinks32817:after, td.td2 span#tagLinks32817:after{
content: "\A Finally some backstory for Flandre Scarlet. (I watched Teekyuu 9 before this so when she showed up I had no idea who she was. Though I didn't remember who Tomarin was either lol so maybe I just forgot about her. Just like Nasuno did!)";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Teekyuu 9*/
td.td1 span#tagLinks35370:after, td.td2 span#tagLinks35370:after{
content: "\A That ED sure is something. \A \"If you're worried about nature, mankind going extinct is the best solution.\" Y E S \A Is Teekyuu now idolshit? \A Is Teekyuu now the K-On! prequel? \A Is Teekyuu now a Touhou spinoff? \A Am I a true anime fan now that I finally appreciate Teekyuu?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
  
/*The iDOLM@STER Live For You!*/
td.td1 span#tagLinks4033:after, td.td2 span#tagLinks4033:after{
content: "\A Very strange to see these girls drawn in such a simplified style. \A WTF MIKI LITERALLY DRUGGED HER FRIENDS. LOCK HER UP. No wonder she wasn't in Xenoglossia.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Usakame*/
td.td1 span#tagLinks32454:after, td.td2 span#tagLinks32454:after{
content: "\A Live action ED? Lmao? Seeing the seiyuu try to sell this anime and act excited about is... really... weird........ \A The color pencil effect, while somewhat unique for a super-limited-animation gag anime, looks really artificial and almost generic. I think I prefer the art style of Teekyuu more, but this show has some really good character designs in Sora and Miyako (though Ayako's design is boring). \A Kinako is best girl, I adore her low-pitched voice and off-color remarks. also KINAKO IN A SUIT <3 \A that Teekyuu crossover tho";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Usakame Special*/
td.td1 span#tagLinks34615:after, td.td2 span#tagLinks34615:after{
content: "\A Focuses on best girl and girl-with-good-design, but unfortunately still boring.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*White Album*/
td.td1 span#tagLinks4720:after, td.td2 span#tagLinks4720:after{
content: "\\A A harem show with a twist - the main character already has a idol girlfriend, but is unable to communicate with her. Yuki's single-mindedly focused on her career, and Touya's stretching himself too thin. He's constantly being used and manipulated by the other girls while also stringing them along, unable to say no to them and push them away due to his disconnection with Yuki. It's a story about deeply flawed and thoroughly pathetic people falling in love with each other, and that's kindaaa cool. \A The atmosphere totally carries this show. The depressive music, the unorthodox split-screens, the sense of wrongness permeating every episode. The character acting animation really shines through in showing their feelings without words - and the text on screen, the literal thoughts of the characters, do a great job at fleshing out otherwise obscure scenes through telling. I especially love the moments where the backgrounds and characters take on a more painterly aesthetic, the moments where the characters are at their weakest emotionally, where they cling to the idealized image of the people they feel they can depend on. If anything, watch this for the atmosphere alone. \A Also I really want to play the VN but I'm a dumbass and can't set up a virtual machine lmao";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Yes! Precure 5 GoGo!*/
td.td1 span#tagLinks3692:after, td.td2 span#tagLinks3692:after{
content: "\A The transformation sequence animations (for Dream, Rouge, and Lemonade especially) are AMAZING. \A I salute Hironori Tanaka for making the best two episodes of the show, 4 and 18, as beautiful as they are. \A Syrup's a mailman and that's why I like him. It's so cute that he looks up to Santa Clause... he's so cute. And as always, Miruku and Urara are great. \A The villains are pretty cool this time around. They're basically dimension-jumping curio collectors. Anacondy's got a cool design (and the actually-Medusa twist is FUCKING KINO), Shibiretta has a REALLY cool gimmick in her fairy tail pocket dimensions, Yadokhan and Isohgin are legitimately funny, Mucardia takes a new and deceitful approach, and Bunbee is forever. \A The one thing that really bothers me about this season is the Precure splitting up in fights and getting solo special moves. I know it's because they want to explore pairings that don't involve all five of them, but it just feels weird because in the first three Precure, it was such a huge plotpoint that they NEEDED to hold hands in order to pull off their finishing moves. Also, more time replaying stock special move animations means less time spent on actual physical fight animation. The Fleurets are a particularly bad offender. \A The finale really ties everything together. This is the BEST Precure's symbolism and theming has been so far.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Yes! Precure 5 GoGo! Movie: Okashi no Kuni no Happy Birthday*/
td.td1 span#tagLinks4703:after, td.td2 span#tagLinks4703:after{
content: "\A This is a vore movie. \A I want to live in this world where calories canonically don't exist... \A Evil Lelouch Coco kinda hot ngl. The kiss scene was the closest I ever got to shipping CocoNozo. \A Nice to see Precure bringing back feathery transformation outfits like Futari Movie 2's and Splash Star's. Anyway, nice animation, boring story, as per usual.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
