/*Bakemono no Ko*/
td.td1 span#tagLinks28805:after, td.td2 span#tagLinks28805:after{
content: "\A while watching this I got distracted by MAL tags, this is the fruit of my efforts";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hinamatsuri*/
td.td1 span#tagLinks36296:after, td.td2 span#tagLinks36296:after{
content: ", Hondo Kaede has such a pretty voice! The delicate linework combined with the strangely detailed and grounded animation works wonders to legitimize the unpredictable narrative and breakneck tone shifts as real and entirely sincere. Also this is legit my mom's favorite anime, she thinks it's a 10/10 lol.";

color: #3b7ddb;
font-size: 12px;
}

/*Hisone to Maso-tan Digest Douga*/
td.td1 span#tagLinks39448:after, td.td2 span#tagLinks39448:after{
content: ", Pretty interesting 'animation' style. Aoki Toshinao's art is very cute and it's funny that the same dude narrates and voices everything.";

color: #3b7ddb;
font-size: 12px;
}

