/*Bakemono no Ko*/
td.td1 span#tagLinks28805:after, td.td2 span#tagLinks28805:after{
content: "\A Hosoda's such a furry lmao, respect. \A It's cool how by the time the movie is halfway through we've spent so much time in the 'beast world' that the 'human world' has become the 'unknown' which hero Kyuuta traverses into (though I don't really relate to him wanting to go back). \A Ichirouhiko's got such a cool and cute design, it's too bad he went batshit. THAT SHOT OF HIM RUNNING THROUGH THE CROWD LOL. \A Imo, this was too slow-paced. Twenty minutes before the movie ended I got bored and distracted by the MAL tag character limit (though now I get to write all this out instead of shortening it into 250 characters :DDDDD";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hinamatsuri*/
td.td1 span#tagLinks36296:after, td.td2 span#tagLinks36296:after{
content: "\A Hondo Kaede has such a pretty voice! \A The delicate linework combined with the strangely detailed and grounded animation works wonders to legitimize the unpredictable narrative and breakneck tone shifts as real and entirely sincere. Also this is legit my mom's favorite anime, she thinks it's a 10/10 lol.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hisone to Maso-tan Digest Douga*/
td.td1 span#tagLinks39448:after, td.td2 span#tagLinks39448:after{
content: "\A Pretty interesting 'animation' style. Aoki Toshinao's art is very cute and it's funny that the same dude narrates and voices everything.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*K-On!!: Ura-On!!*/
td.td1 span#tagLinks9203:after, td.td2 span#tagLinks9203:after{
content: "\A Yui and Sawako are kind of horrifying. Sawako can't even open her mouth to scream... \A The way they animate the girls being blobs and blobbing around lol. Talk about squish and stretch \A Quintuple Azunyan. Azunyanyanyanyanyan. \A Please let Mugi conquer the world. \A Remind me to draw Azunyan cooking eggs. \A Yui-chan-man gives Measurement Man vibes. \A LET THE KEIONS RAP \A Hiragana blob letters are weird ngl";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Teekyuu 9*/
td.td1 span#tagLinks35370:after, td.td2 span#tagLinks35370:after{
content: "\A That ED sure is something. \A \"If you're worried about nature, mankind going extinct is the best solution.\" Y E S \A Is Teekyuu now idolshit? \A Is Teekyuu now the K-On! prequel? \A Is Teekyuu now a Touhou spinoff? \A Am I a true anime fan now that I finally appreciate Teekyuu?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
