/*TEMPLATE*/
/*
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
*/

/*Another*/
td.td1 span#tagLinks11111:after, td.td2 span#tagLinks11111:after{
content: "\A Super boring and slow at points, tries to make it up with the end-of-episode hooks but they're mostly just lame because of how obvious they are. At the very least, the death scenes and characters' reactions to them are nicely animated and expressed, and I appreciate how the narrative structure(?) changes after major reveals and plot twists. \A Sakakibara has way more going on than what I expected, going into this show. He wants to go to a fine arts school, he likes horror novels, he can cook, he's actually proactive in solving the mystery - on the other hand, Misaki's unexpectedly boring and her reticent demeanor works against her. Like when she just slowly walks away from poeple trying to shank her, or how she doesn't admit that Reiko is the extra until the last episode... \A Are there doujinshi about either of these two jerking off in the middle of class? lmao \A Dream sequence in episode 7 is sick, wish the entire show was so aesthetic.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Another: Misaki Mei - Shizukani*/
td.td1 span#tagLinks20365:after, td.td2 span#tagLinks20365:after{
content: "\A Where is Sakakibara? Get this grill out of my face wwww";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Another: The Other - Inga*/
td.td1 span#tagLinks11701:after, td.td2 span#tagLinks11701:after{
content: "\A TWINCEST YURI TWINCEST YURI \A Mei's a biter and Misaki's a licker. This is very important information. \A Nevermind, this progressed into sexhara real fast ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Ayakashi: Japanese Classic Horror*/
td.td1 span#tagLinks586:after, td.td2 span#tagLinks586:after{
content: "\A OP is hilariously out of place, ED is pretty good. \A Yotsuya Kaidan: I always appreciate live action footage in anime. Anyway, this is pretty middle-of-the-road 'shitty people doing shitty things.' Just watch Shiki and Old Boy. \A Tenshu Monogatari: Even though this is generic, I like the falconer and the Forgotten God. It's got some thematic intrigue but doesn't dig too deep into it. \"You could say I am a Forgotten Human\" is the best line in this entire show... but yeah, just watch Shiki. \A Bakeneko: Aesthetic brilliance, don't really care for the story though.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Baccano!*/
td.td1 span#tagLinks2251:after, td.td2 span#tagLinks2251:after{
content: "\A Firo is a chad and has the only good dub voice";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Bakemono no Ko*/
td.td1 span#tagLinks28805:after, td.td2 span#tagLinks28805:after{
content: "\A Hosoda's such a furry lmao, respect. \A It's cool how by the time the movie is halfway through we've spent so much time in the 'beast world' that the 'human world' has become the 'unknown' which hero Kyuuta traverses into (though I don't really relate to him wanting to go back). \A Ichirouhiko's got such a cool and cute design, it's too bad he went batshit. THAT SHOT OF HIM RUNNING THROUGH THE CROWD LOL. \A Imo, this was too slow-paced and the climax (and themes) are boring and predictable as fuck.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Black Lagoon*/
td.td1 span#tagLinks889:after, td.td2 span#tagLinks889:after{
content: "\A Everyone loves Revy but nobody told me about Rock :/ He's kind of fucking awesome and I love him.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Burn the Witch*/
td.td1 span#tagLinks41468:after, td.td2 span#tagLinks41468:after{
content: "\A Everyone say it with me: Fuck Balgo. \A Like I guess the main characters are pretty hot and Noel's eyefucking the audience 24/7 but this shit is boring as hell. Very nice visuals with thin, wispy lineart and bold, solid coloring, and the setting is mildly interesting, but I couldn't care less about the story and characters. Seriously, I want to get engrossed in this beautiful, magical world, but all I can think while watching this is, \"I don't care.\" \A At least we have lesbian Hayami Saori uwu \A Bruno's spray-painted magic circles are really cool. His moving skellyman mask too, but imagine if he was a mouthbreather. \A Crown Council more like Clown Council \A Real talk how did they get through that entire explosion-filled fight scene without any clothing damage. Once you see the first shot of Cinderella absolutely ass-blasting Reverse London and the reaction shot of the characters just... not really caring about how ANYONE might've died... It just feels like it's MEANT to be high tension but we're barely shown the actual effects of anything that happens, so who gives a shit?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Death Parade*/
td.td1 span#tagLinks28223:after, td.td2 span#tagLinks28223:after{
content: "\A I might be remembering it wrong, but in Death Billiards didn't Decim tell the contestents that whoever loses would go to Hell straight off the bat? Idk, I like that better than having it be a twist. \A Episode 1: breeder shit, zzzzzzz \A Episode 2: Wow I sure do love the show deciding we as the viewers are too fucking stupid to analyze the themes of the first episode and come to a conclusion about the characters' actions ourselves given the clues the script and visuals provide. \"Wow haha he didn't miss the board on purpose haha humans sure are interesting!\" Dude this shit is so fucking boring. Outsiders analyzing a confrontation they're not involved with in the episode after it takes place isn't an inherently dull idea, but at least pull it with an interesting conflict with interesting characters instead of some run-of-the-mill nobodies. Lemme see them commentate over Kougami's and Makashima's fight in Psycho-Pass or some shit. \A Episode 3: This man really staked his life on a bowling game so that a cute girl might have the chance to remember his name... lol. A bowling date in purgatory's kinda sweet, but these characters are so fucking normie I can't bring myself to care about them. \A Episode 4: Boring characters with boring stories. Just fucking read ShindoL's Henshin Metamorphosis instead lmao. The girl's seiyuu fucking sucks at crying. While seeing the fighting game animations is mildly entertaining, it's a lot more boring of a mechanic than the previous games. The most interesting part of the episode is Decim being a dick lol. (Since they're dead anyway, the head-smashing scene isn't really all that engaging outside of the shock value.)";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Denpa-teki na Kanojo*/
td.td1 span#tagLinks5177:after, td.td2 span#tagLinks5177:after{
content: "\A I'm not sure if I trust any anime that drops the word \"tsundere\" in its dialogue. \A How does she pick up all these clues with her hair constantly blocking her vision? When she eats ramen how badly does her hair stick to her forehead from the sweat and steam? Lol. But real talk, no girl whose cuteness increases that much when she parts her bangs would just leave her hair hanging in front of her head 24/7, especially when they'd be so inconvenient irl, unless she's been sexually abused and can't handle being seen as attractive. (Is my suspension of disbelief really gonna break over hair of all things? One of my favorite shows is Shiki btw LOL) \A Delusional characters aren't interesting until we at the very least see the reasons for their delusions, and these characters' reasons aren't very good at all... \A Episode 2 is more interesting but still not very good. Meh, the director did as good as he could with what he was given.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Dorohedoro*/
td.td1 span#tagLinks38668:after, td.td2 span#tagLinks38668:after{
content: "\A Ebisu is kind of amazing. \A It's terrible how this show makes gyoza and meat pies look so tasty before ruining my appetite with vomit and gore, lol. We gotta appreciate Noi for healing so many gruesome wounds. \A fuckin' Yahya got an anime adaptation \A CGI isn't as snappy as it should be, it feels weird to watch most of the time. Sensei's beard looks like magic marker lol. The backgrounds are glorious though.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Dorohedoro: Ma no Omake*/
td.td1 span#tagLinks41053:after, td.td2 span#tagLinks41053:after{
content: "\A The flowers on Shin and Noi's masks are adorable :') \A Love the sketchy artwork and limited animation. \A Noi's casual outfit..............";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Dropout*/
td.td1 span#tagLinks000000:after, td.td2 span#tagLinks000000:after{
content: "\A Yeah, kinda wack, but I do like the original manga. But this animated art style is just fucking ugly. I especially hate how shiny everything is colored, it isn't hot at all. And the tits are too fucking big... is this how men feel when they see these rando anime dudes swinging around their giant schlongs lol? \A Cervix penetration and prolapse are literally the worst kinks, they make me feel fucking sick. \A Tbh I didn't remember meganekko at all LOL \A Bro am I fucking hearing things or did they really add farting sounds to the anal scene? \A Honestly the spankings and choking look kind of pathetic lmao. \A Bro, the school needs to clean this bathroom. It's so grimy and disgusting. ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Flip Flappers*/
td.td1 span#tagLinks32979:after, td.td2 span#tagLinks32979:after{
content: "\A Best girl is Papikana, I think? \A I want to like this, I really do. But outside of its production value and sheer creativity it's mediocre as fuck. The second half of this show is built on the shaky foundation of Papika's and Cocona's relationship, which doesn't really get any farther than \"You'll be invested in this, they're cute lesbians right? You like cute lesbians right???\" It's boring at best and creepy at worst... Even episode 7 just ends up reminding me of how many ways their dynamic could be made more interesting...";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Gin no Saji [Silver Spoon]*/
td.td1 span#tagLinks16918:after, td.td2 span#tagLinks16918:after{
content: "\A I can't stand the main character's hoodie-under-uniform look \A A lot of the comedy is way too predictable. Like the way some scenes are framed just makes it TOO obvious what the punchline is going to be, so by the time the scene finally arrives at it, it's so boring that it completely falls flat.\A I appreciate the food porn, but it just makes me all the more sad for my raw egg intolerance.............. \A OP and ED are annoying and sound like hick shit \A Mikage looks like an AssClass character so I don't trust her \A I dig how unique this show's focus and themes are. It's got the same appeal as a nyuugyuu life. But the human characters are all kind of boring.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Haikyuu!! Movie 1: Owari to Hajimari*/
td.td1 span#tagLinks29755:after, td.td2 span#tagLinks29755:after{
content: "\A Aight, it's been over four years since I've watched Haikyuu. Obviously it's because it's a recap movie, but none of the emotional beats really hit at all. \A Some other misc notes: Hinata's voice is annoying. Kageyama reminds me of Noel from Burn the Witch. I still don't like Tsuki, lmao. Yamaguchi is discount Furihata, and since his pinch serve isn't in this movie who really gives a shit about him lmao. Nishinoya's angry face is edgy and I can't take it seriously. I can't believe they cast Kamiyan as some rando faculty advisor... The number of times they beat in that Crow vs Cat imagery, like seriously, get some new visual symbolism pls. And I've always hated the way the netting goes transparent, as if they think we can't see the characters' faces and expressions if there are a couple of straight lines drawn over them. \A That slice-of-life scene in the dark hallway at night... Please, I just want the Kuroko no Basuke Replace novels to be animated. PLEASE, I WANT TO SEE AKASHI AGAIN ;;;-;;;";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Haikyuu!! Movie 2: Shousha to Haisha*/
td.td1 span#tagLinks30364:after, td.td2 span#tagLinks30364:after{
content: "\A vs. Dateko was as boring as the first movie (ignoring the epic chanting), but vs. Aoba Jousai was surprisingly entertaining. It's fun to see how fast the characters and teams adapt to each others' tactics. I like Sugawara and Kageyama's foiling and I still love the unexpected loss. Though Oikawa as annoying and dislikeable as ever lmao. \A This movie, I really started noticing the music. It's really good! I feel like I never noticed it while watching the series lol.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Haikyuu!! Movie 3: Sainou to Sense*/
td.td1 span#tagLinks35110:after, td.td2 span#tagLinks35110:after{
content: "\A Covers the best season :D though the interpersonal drama is more cringe than  I remember it being LMAO \A What the hell is that second Seijo chant \A \"He may be Mr. Refreshing, but his serves aren't refreshing at all,\" WHAT THE HELL IS THIS LINE LOL \A God the transparent netting looks so fucking stupid ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Haikyuu!! Movie 4: Concept no Tatakai*/
td.td1 span#tagLinks35111:after, td.td2 span#tagLinks35111:after{
content: "\A Shiratorizawa is a boring school and Ushijima doesn't have any charisma... well, that goes for most Haikyuu characters, lol. \A I do like the focus on the audience and the juxtaposition of Karasuno's newly-put-together cheers compared to Shiratorizawa's practiced chants. And the character animation for the starters' introduction was cool. \A Bro I've HAD it with the crow imagery, it's so fucking lame and they keep shoving it in our faces, I don't care.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hinamatsuri*/
td.td1 span#tagLinks36296:after, td.td2 span#tagLinks36296:after{
content: "\A Hondo Kaede has such a pretty voice! \A The delicate linework combined with the strangely detailed and grounded animation works wonders to legitimize the unpredictable narrative and breakneck tone shifts as real and entirely sincere. Also this is legit my mom's favorite anime, she thinks it's a 10/10 lol.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Hisone to Maso-tan Digest Douga*/
td.td1 span#tagLinks39448:after, td.td2 span#tagLinks39448:after{
content: "\A Pretty interesting 'animation' style. Aoki Toshinao's art is very cute and it's funny that the same dude narrates and voices everything.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*IDOLiSH7: Second Beat!*/
td.td1 span#tagLinks37962:after, td.td2 span#tagLinks37962:after{
content: "\A Lately I've become so impatient with anime that waste my time. i7 is an oasis in this desert of slow-paced anime, it moves at lightning speed through so many characters' arcs and intertwined relationships, all while constantly upping the stakes, heaping on plot threads, and throwing out reveals left and right. Admittedly the show does have some moments that strain your suspension of disbelief, but the character writing is just so goddamn good that I can't help but be invested. \A Like ngl if this series had no CGI (discounting the OPs) it would def be a 9.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Issho ni Sleeping: Sleeping with Hinako*/
td.td1 span#tagLinks7897:after, td.td2 span#tagLinks7897:after{
content: "\A I really want to see what the recording room looked like. Did they loop her sleeping noises or... \A Is this actually a realistic depiction of the REM sleep cycle? \A Tbh that two second shot of her fiddling with her fingers is the hottest thing here. \A VEGGIE TALES PLUSHIE VEGGIE TALES PLUSHIE \A weighs herself with her clothes on weirdchamp";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Issho ni Training Ofuro: Bathtime with Hinako & Hiyoko*/
td.td1 span#tagLinks9744:after, td.td2 span#tagLinks9744:after{
content: "\A I might actually try these stretches lol. \A Two girls are better than one. \A mfw 19:20 \A So... the viewer is canonically an actual \"3D\" person in Hinako's word. wtf";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Issho ni Training: Training with Hinako*/
td.td1 span#tagLinks6392:after, td.td2 span#tagLinks6392:after{
content: "\A Holy fuck, Hinako's canonical backstory is that she got isekai'd into being an anime character. \A This is just Burn Your Fat With Me... \A THE BOOB JIGGLE SOUND EFFECTS. THE BOOB JIGGLE CLOSE UP. I'M LOSING MY SHIT \A Bruh when she starts swapping into underwear and gym clothes outfits... And the sound files change from her counting to moans... Imagine if this was a customizable dress-up flash game lmao.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Jujutsu Kaisen (TV)*/
td.td1 span#tagLinks40748:after, td.td2 span#tagLinks40748:after{
content: "\A Why are none of the normies weirded out by MC's freakish athletic abilities? Nobody even pants when they run, so maybe this world is just fucked like that. \A cool OP visuals, feels a lot longer than 1:30 for some reason lol \A The thick, ink-like lines are so pretty. \A The flashback dialogue is really unneccessary LMAO \A I appreciate the dedication to drawing the guys' eyelashes";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kaze no Tani no Nausicaä*/
td.td1 span#tagLinks572:after, td.td2 span#tagLinks572:after{
content: "\A Imma be honest, I was totally multitasking while watching this so I barely know any of the plot beats. \A Also I swear I've heard some of the movie's BGM somewhere, but I can't place where. But what's with that godawful offtune singing during the ressurection scene? Can't take that shit seriously at all \A Ngl I don't really like the aesthetic of the character designs that much.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kimi no Suizou wo Tabetai*/
td.td1 span#tagLinks36098:after, td.td2 span#tagLinks36098:after{
content: "\A Honestly, this movie is lazy as fuck. To explain I'll break it down into three topics: the themes, Sakura, and Haruki. \A It seems like this movie primarily focuses on two themes: \"Living is about the connection you have with other people,\" and \"Death can happen at any time.\" But honestly, the way the movie handles these themes makes it seem as if they're contradictory - it can't focus on one without undermining the other. This is most apparent during Sakura's death and the aftermath. Sakura dies in a way entirely disconnected from the other characters, stabbed to death by some unnamed, no-faced rando, completely alone (as if the movie is trying to say, \"No matter how many relationships you have, you're going to die alone, lozer!\"). But the next time we see Sakura, she's in some pretty sundress, walking around a dreamscape, watering symbollic flowers and shit - the terror of Sakura's horrific, violent murder is completely swept under the rug in favor of the movie's more optimistic theme (\"Yeah, life may be full of tragedy, but who gives a shit! Living's totally worth it!\"). The movie attempts to tie together these wayward themes by throwing the viewer a bone, \"Look! Sakura read Haruki's message!\" But none of it works. \A Then we move onto Sakura. Honestly, she feels like a complete noncharacter. She only serves as a vehicle for these half-baked themes and as a plot device for Haruki's development. None of the things which happen to her actually FEEL like they're happening to her - she's dying, but she doesn't act like a dying girl. Even when she's stabbed to death, we never see her corpse, only the ideal image of Sakura in Haruki's head. Furthermore, Sakura's fucked-up behavior is never called out. She's basically holding her imminent death over Haruki's head in order to string him along on dates? But hey, I'd be okay with all of this, if Sakura weren't such a big part of the movie, when the movie SHOULD be about Haruki. \A Haruki is honestly where the movie completely loses me. I mean, I like him. He's handsome, he's got a nice voice, he reminds me of me but not so much that I get disgusted. The problem is that the movie doesn't follow his character development at all. By the time Sakura dies, Haruki has decided... that he WANTS to become someone like Sakura. He hasn't actually taken any steps towards doing so. Like sure, he was dragged out of his comfort zone. Big whoopee. Real easy to do that when he's got an outgoing, extroverted girl like Sakura who will literally forgive his every misstep and reacts to all of disagreeable traits with \"haha ur hilarious lol.\" The entire movie focuses on this shallow \"development\" instead of, you know, an actual point of conflict? The fact that he now has to try convincing each of his classmates to become friends with him? Most of whom dislike him, and will probably come to despise him once they find out he kept Sakura's terminal illness a secret. The movie skips over this entire plot point and just shows us the results in the epilogue, so it just feels entirely unearned. Also, his new haircut fucking sucks.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kokoro ga Sakebitagatterunda.*/
td.td1 span#tagLinks28725:after, td.td2 span#tagLinks28725:after{
content: "\A \A I would hate it if I had to go to this school and wear its all-white uniform... \A It really bothers me that he isn't even good at singing lmfao. Totally off-tune... \A I feel like this would work better if it was an actual live musical stageplay, and you could pull the Gesamtkunstwerk card. As it is, the characters and their struggles aren't really engaging, so I'm just left with a shitty cringe comedy where I can laugh at these teenagers' weird mannerisms and rage at Jun's incompetent parents. The movie gets significantly better in the last thirty minutes, but it's such a slog to get to that point. \A I'm sorry but I literally don't know wtf is going on with Dai-chan's side story, I couldn't pay attention to it at all. Nito's side story is more comprehendable but it's still really boring and frustrating to watch. \A WHY IS DAI-CHAN'S FACE SO FUCKED UP \A It really bothers me that Sakagami says that the music room is soundproof when we're constantly shown shots that, if diagetic, imply the opposite. \A dat engrish insert song tho. Hilarious that the subbers basically had to translate it from broken English to English. \A Yeah, just watch Kotoura-san instead.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Kokoro ga Sakebitagatterunda. x Sony Hi-Res "Walkman" and Headphone*/
td.td1 span#tagLinks33170:after, td.td2 span#tagLinks33170:after{
content: "\A NOOO WHY DID THEY HAVE TO PLAY THIS SONG LMAO";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*K-On!!: Ura-On!!*/
td.td1 span#tagLinks9203:after, td.td2 span#tagLinks9203:after{
content: "\A Yui and Sawako are kind of horrifying. Sawako can't even open her mouth to scream... \A The way they animate the girls being blobs and blobbing around lol. Talk about squish and stretch \A Azunyanyanyanyanyan. \A Please let Mugi conquer the world. \A LET THE KEIONS RAP";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Macross 25th Anniversary: All That VF Macross F Version*/
td.td1 span#tagLinks5165:after, td.td2 span#tagLinks5165:after{
content: "\A The music is better in this one. Rock on, Sheryl Nome! \A I almost thought those images of Ranka and Sheryl were diagetic lol. Imagine an actual VF in the Macross Universe with Ranka's face painted on it. (Wait, I don't need to imagine it. It happened.)";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Macross 25th Anniversary: All That VF Macross Zero Version*/
td.td1 span#tagLinks5164:after, td.td2 span#tagLinks5164:after{
content: "\A Looks like toys photographed in front of a poster print out";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Macross Fufonfia*/
td.td1 span#tagLinks4939:after, td.td2 span#tagLinks4939:after{
content: "\A https://www.nicovideo.jp/watch/sm3968936 \A https://www.nicovideo.jp/watch/sm4538900 \A https://www.nicovideo.jp/watch/sm4897183 \A Fear the wrath of Klan. \A The endcard where Ranka holds a toy VF is pretty cute. \A yo Alto in a suit tho?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Mahou no Princess Minky Momo*/
td.td1 span#tagLinks518:after, td.td2 span#tagLinks518:after{
content: "\A Momo is a creepy-ass alien who completely lacks the ability to express normal human emotion. I'm so sorry to Creamy Mami, Yousei Persia, Fancy Lala, and all the magical girls I've spurned before. This character is a fucking disgrace. \A Like I am a little creeped out with how much the show insists on showing characters leering at and slobbering over Momo's adult form. Even though she's not technically illegal I just find it a kinda fucking weird that this shit is in a kid's show for little girls. Also, HER ADULT FORM ISN'T EVEN HOT? Excuse me? \A Note: Momo is 12 years old physically, but since 1 year on Earth = 160 years on Fenarinarsa, she's actually around ~1920 years old. That means she has to wait 1000 years until she's an adult (and it also mean she might've spent up to 800 years in puberty...) \A In episode 45 Momo's transformation pendant gets shot by a gun and she unlocks Ultra Instinct. LOL. And in episode 46, Truck-kun hits her and she dies. LOOOOOOL \A The one thing I like about this show is that it brings back \"one-off\" characters for short cameos or even entire episodes. Most other shows just forget about these characters entirely. \A Wait, stratch that, two things. I also like Momo's random Engrish. Especailly when she says something in English and then just repeats it in Japanese, lol";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Mahou no Tenshi Creamy Mami: Eien no Once More*/
td.td1 span#tagLinks2045:after, td.td2 span#tagLinks2045:after{
content: "\A Recap of the best part of the original series, but still a recap. \A I've discovered that Yuu's actually pretty cute when her hair's all mussed up. Creamy Mami's still uncanny-valley as ever, though. \A The idea behind the second half of this OVA is actually kinda interesting. That someone else could be given Yuu's compact and become Creamy Mami, since Creamy Mami has become a persona of her own, seperate from Yuu... it's pretty cool. \A Megumi's hot lol. I really dig her bright red and desaturated dark green outfit. Even if the sweatbands are a little questionable. \A I really have to question Ai's taste in boys. But her flirting is cute.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Mahou no Star Magical Emi*/
td.td1 span#tagLinks2038:after, td.td2 span#tagLinks2038:after{
content: "\A ft. the most useless mascot I've ever seen \A I'm sorry but why are the only good episodes in this magical girl anime the ones focusing on the non-magical boy. Though it's a bit ridiculous how much Shou looks like Riki and Gaku from Mahou no Yousei Persia. He even shares a seiyuu with Riki! \A Watching this characters try to placate the whims of the idiot little brother makes me all the more thankful for the Ghost Stories dub for making its idiot little brother character a literal retard who nobody takes seriously. Like this kid's actually a sociopathic animal abuser. Someone needs to stage an intervention before he grows up and becomes a school stabber. \A Mai's other family members are all anmoying as well. \A The first ten seconds of the OP are the best part of the entire show, hands down. Emi has such a cute, colorful, and poppy character design. \A Tbh just watch Fancy Lala instead, because it fixes all the other problems I didn't bother to mention.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Mahou no Tenshi Creamy Mami: Lovely Serenade*/
td.td1 span#tagLinks4126:after, td.td2 span#tagLinks4126:after{
content: "\A Just seeing Yuu's stupid fucking face is enough for me to relive how much I hated this show lmao.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Mahou no Yousei Persia*/
td.td1 span#tagLinks2039:after, td.td2 span#tagLinks2039:after{
content: "\A https://www.youtube.com/playlist?list=PLg-bHIigSaJ_6qdMHZGLABRzGVuqlZY2W \A https://www.youtube.com/playlist?list=PL0T2EPQ4EF9ml8oV52pGKsWGJ_00LBgXW \A This is a dumb baby show for dumb babies. \A Wait, there's an actual idol in episode 7 lol. \A This show IS the straight agenda. Joking aside, it's kinda weird that the consequence of Persia not collecting enough love energy or getting found out is that Riki and Gaku turn into women, with the implication being that she can't love them if they were women... nevermind that platonic love still exists and that them getting gender-swapped is kind of a bigger deal than Persia (a literal child btw) not being able to marry them or whatever lmao. Persia herself is kind of a shitty protagonist who doesn't even seem to care that Lovely Dream is freezing over. \A Episode 20 is the only good episode so far. It actually takes itself seriously and is tense and actually legitimately scary at times. \A Sayo and Riki's relationship is nice at points but I immediately lose all goodwill whenever le epic girl-on-boy domestic violence happens \A Fuck that annoying brat Kishin. I've always disliked マスコミ characters but this guy takes the cake. He and Yoyoko are the worst characters.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Mahoutsukai no Yome*/
td.td1 span#tagLinks35062:after, td.td2 span#tagLinks35062:after{
content: "\A So slow paced. It feels like every episode is dragged out to be twice as long as it needs to be. \A I've come to realize that I hate the character art style. The characters' weirdly proportioned faces look more like flat, 2D planes with wide eyes scretched across them, and the small range of stiff, generic anime facial expressions (especially the stupid small-pupiled, \"I'm so crazy!!!\" look) just undersell whatever emotions the show is trying to convey.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Mahoutsukai no Yome: Gakuin-hen*/
td.td1 span#tagLinks40134:after, td.td2 span#tagLinks40134:after{
content: "\A Honestly with so many characters this kinda seems like a clusterfuck. \A The evil shota got redeemed? Only on episode 7 of the main series so lol.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*MahoYome: Aisatsu*/
td.td1 span#tagLinks36501:after, td.td2 span#tagLinks36501:after{
content: "\A Cute lol.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Makura no Danshi*/
td.td1 span#tagLinks30705:after, td.td2 span#tagLinks30705:after{
content: "\A I appreciate how creative this series gets with finding situations where the self-insert is sleepy, but, unfortunately, none of the boys are hot, cute, or cool lol. Series like these are only good for finding more seiyuu. \A This anime basically only has sound for the character's voices and it's really weird because I keep thinking I accidentally muted.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Meiji x Kokosake & anohana Receipt Oubo Campaign*/
td.td1 span#tagLinks31165:after, td.td2 span#tagLinks31165:after{
content: "\A Clearly if Jun just ate some chocolate her trauma would be cured. That chocolate proposal... this is kind of hilarious. But where was the anohana?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Mini-Chara Macross*/
td.td1 span#tagLinks31494:after, td.td2 span#tagLinks31494:after{
content: "\A Don't mind me, just realizing that I fucked up and missed some entries for Idoltrain. lol. (dying inside) \A I love this song so much...";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Mousou Dairinin*/
td.td1 span#tagLinks323:after, td.td2 span#tagLinks323:after{
content: "\A Paranoia Agent is extremely Partycore, much in the same way Sunday Without God is extremely Partycore. I just love the idea of a meme (in the original sense) becoming so entrenched in our shared consciousness that it takes physical form... All that combined with lotus eater machines, suicide, split personalities, pedophilia, anime production, and, of course, Satoshi Kon, makes it near-perfect. (Lol, did typing this out get me on a watchlist?) \A \"Eternally recurring phantasmal castle\" is my entire aesthetic and everything I want in my anime. \A Maromi's animation is so good. I love how the animators are able to convey the weight of her head. \A Shoutout especially to the aesthetic of episode 3. Those pinks and purples are soooooo beautiful. \A episode 5 makes me zzzzz though";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Mug*/
td.td1 span#tagLinks42820:after, td.td2 span#tagLinks42820:after{
content: "\A YeeaAAAaaaahhhhh \A This MV is a rorschach test \A I can't beleive I spelled that right \A Makes me think of how difficult it would be to storyboard something like this in osu.... but I wanna do ittttttttt \A I don't jive with that shot of the geometrical faces though. It's unfortunate they play it like three times.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*New Game!*/
td.td1 span#tagLinks31953:after, td.td2 span#tagLinks31953:after{
content: "\A Was supposed to watch this for summer2016 but didn't. \A Not to be a fucking coomer but my image of Hifumi is forever tainted by typehatena. \A I wonder if Aoba-chan would be a fan of the character designer/mangaka who created her. Imagine if she found out she was a fictional character and just being like \"What is this moeshit\" \A This is a show about severe autism. \A Why do cups not break when the characters drop them? Sometimes they don't even bother putting in a sound to indicate that they fell down and hit something. Fucking lazy \A Umiko is the closest to being my type but her chuuni void is completely offputting.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*One Room Second Season*/
td.td1 span#tagLinks36431:after, td.td2 span#tagLinks36431:after{
content: "\A Man Impresses Girl by Showing Her How Well He Can Blow \A If only this was an actual romance and not a self-insert. \A tfw she puts the ring on the wrong hand \A ED 10 is the best one. OL Support Squad!";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*One Room Second Season Special*/
td.td1 span#tagLinks38789:after, td.td2 span#tagLinks38789:after{
content: "\A NOT EVEN ANIMATED. LMAOOO \A That first image looks jank as fuck. Her neck and head are at such an awkward angle. \A JESUS CHRIST THAT OL OUTFIT >////<. I'm so fucking predictable \A bruh the cleavage in the fifth image";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Oide yo! Mizuryuu Kei Land*/
td.td1 span#tagLinks35581:after, td.td2 span#tagLinks35581:after{
content: "\A return to monke \A The music is so loud, it drowns out the characters' voices. \A The censorship kind of ruins it... \A I never really liked this series' art designs and character designs, and they're even more garish and tacky in color.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*One Room Third Season*/
td.td1 span#tagLinks41364:after, td.td2 span#tagLinks41364:after{
content: "\A I'd totally buy Akira's carrot pen if they released it as merch. And Akira's seiyuu, Tomita Miyu, has a nice voice! \A Didn't realize this was currently airing lol.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Ookami Kodomo no Ame to Yuki*/
td.td1 span#tagLinks12355:after, td.td2 span#tagLinks12355:after{
content: "\A Tokophobia Simulator 2012 \A bitch had the opportunity to end a species and didn't do it, can't trust these hoes \A But for real, maternity creeps me the fuck out. This movie is fine, but I can't really enjoy it when it's so set on glorifying biological motherhood. (If I just pretend they're adopted... they're adopted, they're adopted, they're adopted...) \A Probably gonna show it to my mom though lol \A I don't really like the water effects. They don't mesh with the rest of the background art. \A Why are Hana's eyes so far apart? Yuki's aren't too bad but they're still pretty silly-looking. \A Honestly it feels like the movie rushes through Yuki's and Ame's development way too fast. Like, Ame's some loser coward and then suddenly becomes a stone-cold badass runaway. They grow up so fast lol. But yeah, it feels pretty shallow, like the movie really wanted to fast-track them into becoming 100% human and 100% wolf. Gotta speedrun those themes!";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Pony Metal U-GAIM Promotion Film*/
td.td1 span#tagLinks19279:after, td.td2 span#tagLinks19279:after{
content: "\A Pretty weird. Would I watch it if this series existed? Well, I'd be obligated to. \A That girl in red belongs in Henkei Shoujo.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Precure All Stars GoGo Dream Live!*/
td.td1 span#tagLinks10549:after, td.td2 span#tagLinks10549:after{
content: "\A No Kaori and Michiru, feels bad man. \A It was actually amazing seeing Nagisa and Honoka's iconic OP animation integrated into an actual fight scene.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Puparia*/
td.td1 span#tagLinks44059:after, td.td2 span#tagLinks44059:after{
content: "\A This is basically just eye candy. I like how solid and 3D the characters' heads look and their eyes are really intense. No narrative or characters, just a sense of intrigue.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Room Mate*/
td.td1 span#tagLinks34393:after, td.td2 span#tagLinks34393:after{
content: "\A Is this show taking the piss or is it just THAT dumb? \A The dumb chuuni being revealed as an actor practicing his roles... The prim-and-proper dude's first appearance being half-naked and fresh out of the shower... fucking titty jiggles... it has to be self-aware. There's no other explanation. \A THE CLOTHES FADING AWAY IN THE EDs LMFAO. At this I'm only watching the show to what kind of weird shit they pull in the ED, because everything else is boring as fuck.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Sagashimono (ONA)*/
td.td1 span#tagLinks40851:after, td.td2 span#tagLinks40851:after{
content: "\A The wavy lineart is nice when things are constantly moving, but shots where the fps slows down don't look as cool as they do cheap. In general I do like it. Music is kinda ehhh though.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Sayonara no Asa ni Yakusoku no Hana wo Kazarou*/
/*Maquia: When the Promised Flower Blooms*/
td.td1 span#tagLinks35851:after, td.td2 span#tagLinks35851:after{
content: "\A Maquia's grip strength holy hell \A Whenever that baby speaks it's like he's talking into a tin can \A That flower pot sound effect sounds like shit \A Maquia's face just looks like it's melting... it's really hard to get me to like tareme eyes and this isn't working. I really don't like the shape of the character designs' faces in general. I guess the Iorph are meant to look childish, but some of the regular humans also look like blobs too? The sameface is strong too \A The voice acting for a lot of the secondary characters is like... that generic \"we don't want to hire generic anime voice actors\" voice, y'know. It ends up sounding like they're underacting, mumbling, or talking with grapes in their mouths. Really doesn't sell the drama lol. \A Sometimes this movie frames dramatic shots for scenes that REALLY don't deserve it. \"I'm sorry I said that, I'm sorry I said that,\" yeah, nobody gives a shit lol. Why do you get a upper-half-of-the-face-covered, downwards-view, center-screen, walking-towards-the-viewer shot for that lmao. It's overdramatic. Same with the music, it's so fucking heavy all the time. There's no levity at all. \a At least this movie has knights and armored horses and cool medieval stuff. I'd like to like the dragons too but the cgi is hideous. \A God they're really hammering in home the weird motherhood shit. \A The stray hairs trigger me \A In the end, I guess what this story is trying to say is that a 1000 year old immortal dragon loli will never love me romantically. I will always be her daughteru. :( \A I fucking adore how the medieval city looks. I'd love to see a movie exploring the innerworkings of the city and how it mechanically functions. \A Bro I hate Yuki Kaji's voice fr \A Krim cutting Maquia's hair reminds me of when I had naturally blonde tips and had to trim them off... sad times \A Childbirth is disgusting. this is a 1/10 sg2 bro \A I'm fucking bored. It sucks because the premise is so Partycore... why'd it have to be like this...";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Shiki*/
td.td1 span#tagLinks7724:after, td.td2 span#tagLinks7724:after{
content: "\A This show is fucking amazing. I might seriously have to give it a 10 and move it up to being my #4, because I seriously think about it all the time. It's so forthright in laying bare the savagery of nature and life, the atrocities that humans and animals commit in order to continue to survive and reproduce. Such a wide variety of good, interesting, memorable characters, who you can only help but to pity and hate at the same time. This is perhaps one of the only anime out there which cuts through all the bullshit - the villain is not a singular character, a singular group, a singular society or ideology. It is nature itself, animalistic and unsustainable and ruthlessly amoral, and everyone is at once a victim and a perpetrator of its rule. tldr SHIKI IS GOOD WATCH IT \A Also the music is PEAK DECULTURE. Eau de Vie especially.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Skip Beat!*/
td.td1 span#tagLinks4722:after, td.td2 span#tagLinks4722:after{
content: "\A The chins... \A Half of this show is unfunny gags and the other half is cringe drama. I don't like any of the characters so it's very annoying to watch.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Taisei Kensetsu: Singapore*/
td.td1 span#tagLinks38065:after, td.td2 span#tagLinks38065:after{
content: "\A The sad story of a girl forced to put her work over her friends... also swipe keyboards are cool";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Takamiya Nasuno Desu!: Teekyuu Spin-off*/
td.td1 span#tagLinks28861:after, td.td2 span#tagLinks28861:after{
content: "\A Yeah, I can see why this got cancelled. (The OP is actually okay though.) \A How many fetishes is Nasuno trying to give this poor man?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Tamashii Insert*/
td.td1 span#tagLinks34795:after, td.td2 span#tagLinks34795:after{
content: "\A \A Obligatory \"the manga is better\" \A EW THE ASSHOLES EW WHAT THE FUCK \A Bro how is he gonna clean up? Why did they stop animating after that? Lemme see him freak out and try his best to redress her and clean the couch before she wakes up LOL \A Why the hell are they hiking their school uniform skirts so high up? Surely they would get told off my the teachers, right? Maybe everybody in this world is a boob man. \A Wtf is the pissing scene? God why? Sorry, I lied, I hate this manga. \A Kitsune-kamisama scene isn't as hot when she can't shapeshift... I'm kind of disappointed with this adaptation.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Teekyuu 7 Specials*/
td.td1 span#tagLinks32817:after, td.td2 span#tagLinks32817:after{
content: "\A Finally some backstory for Flandre Scarlet. (I watched Teekyuu 9 before this so when she showed up I had no idea who she was. Though I didn't remember who Tomarin was either lol so maybe I just forgot about her. Just like Nasuno did!)";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Teekyuu 9*/
td.td1 span#tagLinks35370:after, td.td2 span#tagLinks35370:after{
content: "\A That ED sure is something. \A \"If you're worried about nature, mankind going extinct is the best solution.\" Y E S \A Is Teekyuu now idolshit? \A Is Teekyuu now the K-On! prequel? \A Is Teekyuu now a Touhou spinoff? \A Am I a true anime fan now that I finally appreciate Teekyuu?";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
  
/*The iDOLM@STER Live For You!*/
td.td1 span#tagLinks4033:after, td.td2 span#tagLinks4033:after{
content: "\A Very strange to see these girls drawn in such a simplified style. \A WTF MIKI LITERALLY DRUGGED HER FRIENDS. LOCK HER UP. No wonder she wasn't in Xenoglossia.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*This Is Not Blue*/
td.td1 span#tagLinks42836:after, td.td2 span#tagLinks42836:after{
content: "\A God yes I did paint animation so much. FUCK YES DRIFT DRIVING DRIFT DRIVING GOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOD YES FUCKING EXQUISITE ";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Umayon*/
td.td1 span#tagLinks38835:after, td.td2 span#tagLinks38835:after{
content: "\A Will we ever get the mobile game... It's fun to see all these character designs, some of which I recognize, some of which I drew, and none of which I can play as... :( \A The tagged episodes are fun, the rest are completely boring. What can I say, I love ramen and gyuudon :3 \A The bgm for episode 11 is pretty good though.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Usakame*/
td.td1 span#tagLinks32454:after, td.td2 span#tagLinks32454:after{
content: "\A Live action ED? Lmao? Seeing the seiyuu try to sell this anime and act excited about is... really... weird........ \A The color pencil effect, while somewhat unique for a super-limited-animation gag anime, looks really artificial and almost generic. I think I prefer the art style of Teekyuu more, but this show has some really good character designs in Sora and Miyako (though Ayako's design is boring). \A Kinako is best girl, I adore her low-pitched voice and off-color remarks. also KINAKO IN A SUIT <3 \A that Teekyuu crossover tho";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Usakame Special*/
td.td1 span#tagLinks34615:after, td.td2 span#tagLinks34615:after{
content: "\A Focuses on best girl and girl-with-good-design, but unfortunately still boring.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Vanilla*/
td.td1 span#tagLinks41039:after, td.td2 span#tagLinks41039:after{
content: "\A Worst part of this music video is probably the character. Her skin color kind of clashes with her hair color, and her face is stupidly unemotive. Though I can forgive it because seeing her look three-dimensional is really cool. The three-dimensional architecture and the shadows of the leaves are reallllly cool... I wish more anime were ballsy enough to have shots with background animation like in this MV and Birdy the Mighty Decode ep 1.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*White Album*/
td.td1 span#tagLinks4720:after, td.td2 span#tagLinks4720:after{
content: "\A A harem show with a twist - the main character already has a idol girlfriend, but is unable to communicate with her. Yuki's single-mindedly focused on her career, and Touya's stretching himself too thin. He's constantly being used and manipulated by the other girls while also stringing them along, unable to say no to them and push them away due to his disconnection with Yuki. It's a story about deeply flawed and thoroughly pathetic people falling in love with each other, and that's kindaaa cool. \A The atmosphere totally carries this show. The depressive music, the unorthodox split-screens, the sense of wrongness permeating every episode. The character acting animation really shines through in showing their feelings without words - and the text on screen, the literal thoughts of the characters, do a great job at fleshing out otherwise obscure scenes through telling. I especially love the moments where the backgrounds and characters take on a more painterly aesthetic, the moments where the characters are at their weakest emotionally, where they cling to the idealized image of the people they feel they can depend on. If anything, watch this for the atmosphere alone. \A Also I really want to play the VN but I'm a dumbass and can't set up a virtual machine lmao";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Yes! Precure 5 GoGo!*/
td.td1 span#tagLinks3692:after, td.td2 span#tagLinks3692:after{
content: "\A The transformation sequence animations (for Dream, Rouge, and Lemonade especially) are AMAZING. \A I salute Hironori Tanaka for making the best two episodes of the show, 4 and 18, as beautiful as they are. \A Syrup's a mailman and that's why I like him. It's so cute that he looks up to Santa Clause... he's so cute. And as always, Miruku and Urara are great. \A The villains are pretty cool this time around. They're basically dimension-jumping curio collectors. Anacondy's got a cool design (and the actually-Medusa twist is FUCKING KINO), Shibiretta has a REALLY cool gimmick in her fairy tail pocket dimensions, Yadokhan and Isohgin are legitimately funny, Mucardia takes a new and deceitful approach, and Bunbee is forever. \A The one thing that really bothers me about this season is the Precure splitting up in fights and getting solo special moves. I know it's because they want to explore pairings that don't involve all five of them, but it just feels weird because in the first three Precure, it was such a huge plotpoint that they NEEDED to hold hands in order to pull off their finishing moves. Also, more time replaying stock special move animations means less time spent on actual physical fight animation. The Fleurets are a particularly bad offender. \A The finale really ties everything together. This is the BEST Precure's symbolism and theming has been so far.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}

/*Yes! Precure 5 GoGo! Movie: Okashi no Kuni no Happy Birthday*/
td.td1 span#tagLinks4703:after, td.td2 span#tagLinks4703:after{
content: "\A This is a vore movie. \A I want to live in this world where calories canonically don't exist... \A Evil Lelouch Coco kinda hot ngl. The kiss scene was the closest I ever got to shipping CocoNozo. \A Nice to see Precure bringing back feathery transformation outfits like Futari Movie 2's and Splash Star's. Anyway, nice animation, boring story, as per usual.";
white-space: pre-wrap;
color: #3b7ddb;
font-size: 12px;
}
